<section class="about">
  <div class="container">
    <h1 class="about__title">О&nbsp;компании</h1>
    <ol class="about__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">О&nbsp;компании</span>
      </li>
    </ol>
    <div class="about__wrapper">
      <div class="about__img">
        <picture>
          <source width="755" height="652" type="image/webp" media="(min-width: 768px)" srcset="img/about/about-desktop@1x.webp 1x, img/about/about-desktop@2x.webp 2x">
          <source width="333" height="232" type="image/webp" srcset="img/about/about-mobile@1x.webp 1x, img/about/about-mobile@2x.webp 2x">
          <source width="755" height="652" type="image/jpg" media="(min-width: 768px)" srcset="img/about/about-desktop@1x.jpg 1x, img/about/about-desktop@2x.jpg 2x">
          <img src="img/about/about-mobile@1x.jpg" srcset="img/about/about-mobile@2x.jpg 2x" width="333" height="232" alt="Рабочие в цехе">
        </picture>
      </div>
      <div class="about__content">
        <div class="about__block about__block--products">
          <p>Компания НЕО&#8288;-&#8288;ЛИД является поставщиком станков и&nbsp;промышленного оборудования в&nbsp;России. Более 20&nbsp;лет мы&nbsp;занимаемся оснащением производств по&nbsp;изготовлению мебели, обработке дерева, металла и&nbsp;окон ПВХ, а&nbsp;также поставляем:</p>
          <ul>
            <li>инструменты</li>
            <li>клеевые материалы</li>
            <li>запасные и расходные части</li>
            <li>сопутствующие материалы для производства мебели</li>
          </ul>
        </div>
        <div class="about__block about__block--service">
          <p>Сотрудничая с&nbsp;компанией НЕО&#8288;-&#8288;ЛИД, вы <br>получаете:</p>
          <ul>
            <li>Квалифицированную консультацию на&nbsp;этапе подбора оборудования и&nbsp;материалов</li>
            <li>Цены от&nbsp;производителя и&nbsp;кратчайшие сроки поставки оборудования</li>
            <li>Решение задачи по&nbsp;вводу в&nbsp;эксплуатацию оборудования любой сложности благодаря многолетнему опыту работ по&nbsp;оснащению производств</li>
            <li>Оперативное решение возникающих технических вопросов</li>
            <li>Полное гарантийное и&nbsp;послегарантийное обслуживание.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
