<section class="blog">
  <div class="container">
    <h1 class="blog__title">Блог</h1>
    <ol class="blog__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Блог</span>
      </li>
    </ol>
    <ul class="blog__list">
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__card-img">
            <picture>
              <source width="452" height="307" type="image/webp" media="(min-width: 768px)" srcset="../img/blog/news-1-tablet@1x.webp 1x, ../img/blog/news-1-tablet@2x.webp 2x">
              <source width="299" height="212" type="image/webp" srcset="../img/blog/news-1-mobile@1x.webp 1x, ../img/blog/news-1-mobile@2x.webp 2x">
              <source width="452" height="307" type="image/jpg" media="(min-width: 768px)" srcset="../img/blog/news-1-tablet@1x.jpg 1x, ../img/blog/news-1-tablet@2x.jpg 2x">
              <img src="../img/blog/news-1-mobile@1x.jpg" srcset="../img/blog/news-1-mobile@2x.jpg 2x" width="299" height="212" alt="Станок.">
            </picture>
          </div>
          <div class="blog__card-content">
            <h2 class="blog__card-title">Довольный Клиент купил второй фрезер в&nbsp;Челябинске 2024&nbsp;г</h2>
            <p class="blog__card-date">17.01.2025</p>
          </div>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__card-img">
            <picture>
              <source width="452" height="307" type="image/webp" media="(min-width: 768px)" srcset="../img/blog/news-2-tablet@1x.webp 1x, ../img/blog/news-2-tablet@2x.webp 2x">
              <source width="299" height="212" type="image/webp" srcset="../img/blog/news-2-mobile@1x.webp 1x, ../img/blog/news-2-mobile@2x.webp 2x">
              <source width="452" height="307" type="image/jpg" media="(min-width: 768px)" srcset="../img/blog/news-2-tablet@1x.jpg 1x, ../img/blog/news-2-tablet@2x.jpg 2x">
              <img src="../img/blog/news-2-mobile@1x.jpg" srcset="../img/blog/news-2-mobile@2x.jpg 2x" width="299" height="212" alt="Станок.">
            </picture>
          </div>
          <div class="blog__card-content">
            <h2 class="blog__card-title">Делаем выравнивание точности зубчатой рейки к&nbsp;столу</h2>
            <p class="blog__card-date">17.01.2025</p>
          </div>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__card-img">
            <picture>
              <source width="452" height="307" type="image/webp" media="(min-width: 768px)" srcset="../img/blog/news-3-tablet@1x.webp 1x, ../img/blog/news-3-tablet@2x.webp 2x">
              <source width="299" height="212" type="image/webp" srcset="../img/blog/news-3-mobile@1x.webp 1x, ../img/blog/news-3-mobile@2x.webp 2x">
              <source width="452" height="307" type="image/jpg" media="(min-width: 768px)" srcset="../img/blog/news-3-tablet@1x.jpg 1x, ../img/blog/news-3-tablet@2x.jpg 2x">
              <img src="../img/blog/news-3-mobile@1x.jpg" srcset="../img/blog/news-3-mobile@2x.jpg 2x" width="299" height="212" alt="Станок.">
            </picture>
          </div>
          <div class="blog__card-content">
            <h2 class="blog__card-title">Производим выставление соосности шпинделя к&nbsp;столу</h2>
            <p class="blog__card-date">17.01.2025</p>
          </div>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__card-img">
            <picture>
              <source width="452" height="307" type="image/webp" media="(min-width: 768px)" srcset="../img/blog/news-4-tablet@1x.webp 1x, ../img/blog/news-4-tablet@2x.webp 2x">
              <source width="299" height="212" type="image/webp" srcset="../img/blog/news-4-mobile@1x.webp 1x, ../img/blog/news-4-mobile@2x.webp 2x">
              <source width="452" height="307" type="image/jpg" media="(min-width: 768px)" srcset="../img/blog/news-4-tablet@1x.jpg 1x, ../img/blog/news-4-tablet@2x.jpg 2x">
              <img src="../img/blog/news-4-mobile@1x.jpg" srcset="../img/blog/news-4-mobile@2x.jpg 2x" width="299" height="212" alt="Станок.">
            </picture>
          </div>
          <div class="blog__card-content">
            <h2 class="blog__card-title">Доставляем и заносим станки в&nbsp;труднодоступные места</h2>
            <p class="blog__card-date">17.01.2025</p>
          </div>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__card-img">
            <picture>
              <source width="452" height="307" type="image/webp" media="(min-width: 768px)" srcset="../img/blog/news-5-tablet@1x.webp 1x, ../img/blog/news-5-tablet@2x.webp 2x">
              <source width="299" height="212" type="image/webp" srcset="../img/blog/news-5-mobile@1x.webp 1x, ../img/blog/news-5-mobile@2x.webp 2x">
              <source width="452" height="307" type="image/jpg" media="(min-width: 768px)" srcset="../img/blog/news-5-tablet@1x.jpg 1x, ../img/blog/news-5-tablet@2x.jpg 2x">
              <img src="../img/blog/news-5-mobile@1x.jpg" srcset="../img/blog/news-5-mobile@2x.jpg 2x" width="299" height="212" alt="Станок.">
            </picture>
          </div>
          <div class="blog__card-content">
            <h2 class="blog__card-title">Еще&nbsp;один довольный клиент в&nbsp;Ростове</h2>
            <p class="blog__card-date">17.01.2025</p>
          </div>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__card-img">
            <picture>
              <source width="452" height="307" type="image/webp" media="(min-width: 768px)" srcset="../img/blog/news-6-tablet@1x.webp 1x, ../img/blog/news-6-tablet@2x.webp 2x">
              <source width="299" height="212" type="image/webp" srcset="../img/blog/news-6-mobile@1x.webp 1x, ../img/blog/news-6-mobile@2x.webp 2x">
              <source width="452" height="307" type="image/jpg" media="(min-width: 768px)" srcset="../img/blog/news-6-tablet@1x.jpg 1x, ../img/blog/news-6-tablet@2x.jpg 2x">
              <img src="../img/blog/news-6-mobile@1x.jpg" srcset="../img/blog/news-6-mobile@2x.jpg 2x" width="299" height="212" alt="Станок.">
            </picture>
          </div>
          <div class="blog__card-content">
            <h2 class="blog__card-title">Запустили фрезер в&nbsp;максимальной комплектации в&nbsp;Челябинске</h2>
            <p class="blog__card-date">17.01.2025</p>
          </div>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__card-img">
            <picture>
              <source width="452" height="307" type="image/webp" media="(min-width: 768px)" srcset="../img/blog/news-7-tablet@1x.webp 1x, ../img/blog/news-7-tablet@2x.webp 2x">
              <source width="299" height="212" type="image/webp" srcset="../img/blog/news-7-mobile@1x.webp 1x, ../img/blog/news-7-mobile@2x.webp 2x">
              <source width="452" height="307" type="image/jpg" media="(min-width: 768px)" srcset="../img/blog/news-7-tablet@1x.jpg 1x, ../img/blog/news-7-tablet@2x.jpg 2x">
              <img src="../img/blog/news-7-mobile@1x.jpg" srcset="../img/blog/news-7-mobile@2x.jpg 2x" width="299" height="212" alt="Станок.">
            </picture>
          </div>
          <div class="blog__card-content">
            <h2 class="blog__card-title">Запустили станок <br>у&nbsp;клиента</h2>
            <p class="blog__card-date">17.01.2025</p>
          </div>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__card-img">
            <picture>
              <source width="452" height="307" type="image/webp" media="(min-width: 768px)" srcset="../img/blog/news-8-tablet@1x.webp 1x, ../img/blog/news-8-tablet@2x.webp 2x">
              <source width="299" height="212" type="image/webp" srcset="../img/blog/news-8-mobile@1x.webp 1x, ../img/blog/news-8-mobile@2x.webp 2x">
              <source width="452" height="307" type="image/jpg" media="(min-width: 768px)" srcset="../img/blog/news-8-tablet@1x.jpg 1x, ../img/blog/news-8-tablet@2x.jpg 2x">
              <img src="../img/blog/news-8-mobile@1x.jpg" srcset="../img/blog/news-8-mobile@2x.jpg 2x" width="299" height="212" alt="Станок.">
            </picture>
          </div>
          <div class="blog__card-content">
            <h2 class="blog__card-title">Клиент из&nbsp;Дагестана приобрел первый фрезер&nbsp;ЧПУ</h2>
            <p class="blog__card-date">17.01.2025</p>
          </div>
        </a>
      </li>
      <li class="blog__item">
        <a class="blog__card" href="#">
          <div class="blog__card-img">
            <picture>
              <source width="452" height="307" type="image/webp" media="(min-width: 768px)" srcset="../img/blog/news-1-tablet@1x.webp 1x, ../img/blog/news-1-tablet@2x.webp 2x">
              <source width="299" height="212" type="image/webp" srcset="../img/blog/news-1-mobile@1x.webp 1x, ../img/blog/news-1-mobile@2x.webp 2x">
              <source width="452" height="307" type="image/jpg" media="(min-width: 768px)" srcset="../img/blog/news-1-tablet@1x.jpg 1x, ../img/blog/news-1-tablet@2x.jpg 2x">
              <img src="../img/blog/news-1-mobile@1x.jpg" srcset="../img/blog/news-1-mobile@2x.jpg 2x" width="299" height="212" alt="Станок.">
            </picture>
          </div>
          <div class="blog__card-content">
            <h2 class="blog__card-title">Довольный Клиент купил второй фрезер в&nbsp;Челябинске 2024&nbsp;г</h2>
            <p class="blog__card-date">17.01.2025</p>
          </div>
        </a>
      </li>
    </ul>
    <section class="blog__pagination">
      <h3 class="visually-hidden">Пагинация.</h3>
      <a class="blog__pagination-button blog__pagination-button--first hidden" href="#">
        <span class="visually-hidden">На первую страницу.</span>
      </a>
      <a class="blog__pagination-button blog__pagination-button--prev hidden" href="#">
        <span class="visually-hidden">Назад.</span>
      </a>
      <ul class="blog__pagination-list">
        <li class="blog__pagination-item">
          <span class="blog__pagination-link blog__pagination-link--current">1</span>
        </li>
        <li class="blog__pagination-item">
          <a class="blog__pagination-link" href="#">2</a>
        </li>
      </ul>
      <a class="blog__pagination-button blog__pagination-button--next" href="#">
        <span class="visually-hidden">Вперёд</span>
      </a>
      <a class="blog__pagination-button blog__pagination-button--last" href="#">
        <span class="visually-hidden">На последнюю страницу.</span>
      </a>
    </section>
  </div>
</section>
