<section class="categories-list">
  <div class="container">
    <h1 class="categories-list__title">Все категории</h1>
    <ol class="categories-list__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Все&nbsp;категории</span>
      </li>
    </ol>
    <ul class="categories-list__list">
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-1-tablet@1x.webp 1x, ../img/catalog/product-1-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-1-mobile@1x.webp 1x, ../img/catalog/product-1-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-1-tablet@1x.png 1x, ../img/catalog/product-1-tablet@2x.png 2x">
              <img src="../img/catalog/product-1-mobile@1x.png" srcset="../img/catalog/product-1-mobile@2x.png 2x" width="142" height="105" alt="Товар 1.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Токарные станки</h3>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-2-tablet@1x.webp 1x, ../img/catalog/product-2-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-2-mobile@1x.webp 1x, ../img/catalog/product-2-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-2-tablet@1x.png 1x, ../img/catalog/product-2-tablet@2x.png 2x">
              <img src="../img/catalog/product-2-mobile@1x.png" srcset="../img/catalog/product-2-mobile@2x.png 2x" width="142" height="105" alt="Товар 2.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Фрезерные станки</h3>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-3-tablet@1x.webp 1x, ../img/catalog/product-3-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-3-mobile@1x.webp 1x, ../img/catalog/product-3-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-3-tablet@1x.png 1x, ../img/catalog/product-3-tablet@2x.png 2x">
              <img src="../img/catalog/product-3-mobile@1x.png" srcset="../img/catalog/product-3-mobile@2x.png 2x" width="142" height="105" alt="Товар 3.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Шлифовальные станки</h3>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-4-tablet@1x.webp 1x, ../img/catalog/product-4-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-4-mobile@1x.webp 1x, ../img/catalog/product-4-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-4-tablet@1x.png 1x, ../img/catalog/product-4-tablet@2x.png 2x">
              <img src="../img/catalog/product-4-mobile@1x.png" srcset="../img/catalog/product-4-mobile@2x.png 2x" width="142" height="105" alt="Товар 4.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Ленточнопильные станки</h3>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-5-tablet@1x.webp 1x, ../img/catalog/product-5-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-5-mobile@1x.webp 1x, ../img/catalog/product-5-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-5-tablet@1x.png 1x, ../img/catalog/product-5-tablet@2x.png 2x">
              <img src="../img/catalog/product-5-mobile@1x.png" srcset="../img/catalog/product-5-mobile@2x.png 2x" width="142" height="105" alt="Товар 5.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Дерево&shy;обрабатывающее оборудование</h3>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-6-tablet@1x.webp 1x, ../img/catalog/product-6-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-6-mobile@1x.webp 1x, ../img/catalog/product-6-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-6-tablet@1x.png 1x, ../img/catalog/product-6-tablet@2x.png 2x">
              <img src="../img/catalog/product-6-mobile@1x.png" srcset="../img/catalog/product-6-mobile@2x.png 2x" width="142" height="105" alt="Товар 6.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Металло&shy;обрабатывающее оборудование</h3>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-7-tablet@1x.webp 1x, ../img/catalog/product-7-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-7-mobile@1x.webp 1x, ../img/catalog/product-7-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-7-tablet@1x.png 1x, ../img/catalog/product-7-tablet@2x.png 2x">
              <img src="../img/catalog/product-7-mobile@1x.png" srcset="../img/catalog/product-7-mobile@2x.png 2x" width="142" height="105" alt="Товар 6.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Оборудование для производства окон</h3>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-8-tablet@1x.webp 1x, ../img/catalog/product-8-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-8-mobile@1x.webp 1x, ../img/catalog/product-8-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-8-tablet@1x.png 1x, ../img/catalog/product-8-tablet@2x.png 2x">
              <img src="../img/catalog/product-8-mobile@1x.png" srcset="../img/catalog/product-8-mobile@2x.png 2x" width="142" height="105" alt="Товар 6.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Фрезерно-гравировальные станки с&nbsp;ЧПУ по&nbsp;камню</h3>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-9-tablet@1x.webp 1x, ../img/catalog/product-9-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-9-mobile@1x.webp 1x, ../img/catalog/product-9-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-9-tablet@1x.png 1x, ../img/catalog/product-9-tablet@2x.png 2x">
              <img src="../img/catalog/product-9-mobile@1x.png" srcset="../img/catalog/product-9-mobile@2x.png 2x" width="142" height="105" alt="Товар 6.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Лазерно-гравировальные станки с&nbsp;ЧПУ</h3>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-10-tablet@1x.webp 1x, ../img/catalog/product-10-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-10-mobile@1x.webp 1x, ../img/catalog/product-10-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-10-tablet@1x.png 1x, ../img/catalog/product-10-tablet@2x.png 2x">
              <img src="../img/catalog/product-10-mobile@1x.png" srcset="../img/catalog/product-10-mobile@2x.png 2x" width="142" height="105" alt="Товар 6.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Заточные станки</h3>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-11-tablet@1x.webp 1x, ../img/catalog/product-11-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-11-mobile@1x.webp 1x, ../img/catalog/product-11-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-11-tablet@1x.png 1x, ../img/catalog/product-11-tablet@2x.png 2x">
              <img src="../img/catalog/product-11-mobile@1x.png" srcset="../img/catalog/product-11-mobile@2x.png 2x" width="142" height="105" alt="Товар 6.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Компрессоры</h3>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-12-tablet@1x.webp 1x, ../img/catalog/product-12-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-12-mobile@1x.webp 1x, ../img/catalog/product-12-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-12-tablet@1x.png 1x, ../img/catalog/product-12-tablet@2x.png 2x">
              <img src="../img/catalog/product-12-mobile@1x.png" srcset="../img/catalog/product-12-mobile@2x.png 2x" width="142" height="105" alt="Товар 6.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Аспирации, стружкоотсосы</h3>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-13-tablet@1x.webp 1x, ../img/catalog/product-13-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-13-mobile@1x.webp 1x, ../img/catalog/product-13-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-13-tablet@1x.png 1x, ../img/catalog/product-13-tablet@2x.png 2x">
              <img src="../img/catalog/product-13-mobile@1x.png" srcset="../img/catalog/product-13-mobile@2x.png 2x" width="142" height="105" alt="Товар 6.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Инструменты</h3>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-14-tablet@1x.webp 1x, ../img/catalog/product-14-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-14-mobile@1x.webp 1x, ../img/catalog/product-14-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-14-tablet@1x.png 1x, ../img/catalog/product-14-tablet@2x.png 2x">
              <img src="../img/catalog/product-14-mobile@1x.png" srcset="../img/catalog/product-14-mobile@2x.png 2x" width="142" height="105" alt="Товар 6.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Клеевые материалы</h3>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-15-tablet@1x.webp 1x, ../img/catalog/product-15-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-15-mobile@1x.webp 1x, ../img/catalog/product-15-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-15-tablet@1x.png 1x, ../img/catalog/product-15-tablet@2x.png 2x">
              <img src="../img/catalog/product-15-mobile@1x.png" srcset="../img/catalog/product-15-mobile@2x.png 2x" width="142" height="105" alt="Товар 6.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Станки <br>для печати и рекламы</h3>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories-list__card" href="#">
          <div class="categories-list__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-16-tablet@1x.webp 1x, ../img/catalog/product-16-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-16-mobile@1x.webp 1x, ../img/catalog/product-16-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-16-tablet@1x.png 1x, ../img/catalog/product-16-tablet@2x.png 2x">
              <img src="../img/catalog/product-16-mobile@1x.png" srcset="../img/catalog/product-16-mobile@2x.png 2x" width="142" height="105" alt="Товар 6.">
            </picture>
          </div>
          <h3 class="categories-list__subtitle">Запасные части</h3>
        </a>
      </li>
    </ul>
  </div>
</section>
