<section class="checkout">
  <div class="container">
    <h1 class="checkout__title">Корзина</h1>
    <ol class="checkout__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Корзина</span>
      </li>
    </ol>
    <div class="checkout__wrapper">
      <ul class="checkout__list">
        <li class="checkout__card">
          <div class="checkout__card-visual">
            <div class="checkout__card-tags">
              <p class="checkout__card-tag checkout__card-tag--sale">-19&nbsp;%</p>
              <p class="checkout__card-tag checkout__card-tag--label">Популярный</p>
            </div>
            <div class="checkout__card-visual-swiper-container" data-swiper="cards">
              <div class="checkout__card-visual-swiper swiper">
                <ul class="checkout__card-visual-swiper-wrapper swiper-wrapper">
                  <li class="checkout__card-visual-slide swiper-slide">
                    <div class="checkout__card-visual-slide-container">
                      <picture>
                        <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/products/product-1-tablet@1x.webp 1x, ../img/products/product-1-tablet@2x.webp 2x">
                        <source width="299" height="209" type="image/webp" srcset="../img/products/product-1-mobile@1x.webp 1x, ../img/products/product-1-mobile@2x.webp 2x">
                        <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/products/product-1-tablet@1x.png 1x, ../img/products/product-1-tablet@2x.png 2x">
                        <img src="../img/products/product-1-mobile@1x.png" srcset="../img/products/product-1-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                      </picture>
                    </div>
                  </li>
                  <li class="checkout__card-visual-slide swiper-slide">
                    <div class="checkout__card-visual-slide-container">
                      <picture>
                        <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/products/product-2-tablet@1x.webp 1x, ../img/products/product-2-tablet@2x.webp 2x">
                        <source width="299" height="209" type="image/webp" srcset="../img/products/product-2-mobile@1x.webp 1x, ../img/products/product-2-mobile@2x.webp 2x">
                        <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/products/product-2-tablet@1x.png 1x, ../img/products/product-2-tablet@2x.png 2x">
                        <img src="../img/products/product-2-mobile@1x.png" srcset="../img/products/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                      </picture>
                    </div>
                  </li>
                  <li class="checkout__card-visual-slide swiper-slide">
                    <div class="checkout__card-visual-slide-container">
                      <picture>
                        <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/products/product-3-tablet@1x.webp 1x, ../img/products/product-3-tablet@2x.webp 2x">
                        <source width="299" height="209" type="image/webp" srcset="../img/products/product-3-mobile@1x.webp 1x, ../img/products/product-3-mobile@2x.webp 2x">
                        <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/products/product-3-tablet@1x.png 1x, ../img/products/product-3-tablet@2x.png 2x">
                        <img src="../img/products/product-3-mobile@1x.png" srcset="../img/products/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                      </picture>
                    </div>
                  </li>
                  <li class="checkout__card-visual-slide swiper-slide">
                    <div class="checkout__card-visual-slide-container">
                      <picture>
                        <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/products/product-2-tablet@1x.webp 1x, ../img/products/product-2-tablet@2x.webp 2x">
                        <source width="299" height="209" type="image/webp" srcset="../img/products/product-2-mobile@1x.webp 1x, ../img/products/product-2-mobile@2x.webp 2x">
                        <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/products/product-2-tablet@1x.png 1x, ../img/products/product-2-tablet@2x.png 2x">
                        <img src="../img/products/product-2-mobile@1x.png" srcset="../img/products/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                      </picture>
                    </div>
                  </li>
                  <li class="checkout__card-visual-slide swiper-slide">
                    <div class="checkout__card-visual-slide-container">
                      <picture>
                        <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/products/product-3-tablet@1x.webp 1x, ../img/products/product-3-tablet@2x.webp 2x">
                        <source width="299" height="209" type="image/webp" srcset="../img/products/product-3-mobile@1x.webp 1x, ../img/products/product-3-mobile@2x.webp 2x">
                        <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/products/product-3-tablet@1x.png 1x, ../img/products/product-3-tablet@2x.png 2x">
                        <img src="../img/products/product-3-mobile@1x.png" srcset="../img/products/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                      </picture>
                    </div>
                  </li>
                </ul>
                <div class="checkout__card-visual-swiper-pagination"></div>
              </div>
            </div>
          </div>
          <div class="checkout__card-content">
            <p class="checkout__card-article">Код товара: 2061070410</p>
            <a class="checkout__card-title" href="#">MetalTec CK 40&#8288;x&#8288;750 (Комплектация ПРОМ) токарный станок ЧПУ с&nbsp;прямой станиной</a>
            <div class="checkout__card-price">
              <p class="checkout__card-subtitle">Финальная цена</p>
              <p class="checkout__card-price-value">2476746&nbsp;₽</p>
            </div>
          </div>
        </li>
      </ul>
      <form class="checkout__form" action="" method="post">
        <fieldset class="checkout__form-group">
          <legend class="visually-hidden">Контактные данные</legend>
          <ul class="checkout__form-list">
            <li class="checkout__form-item">
              <label class="checkout__field">
                <span class="checkout__label">Имя<span class="checkout__required">*</span></span>
                <input class="checkout__input" type="text" name="name" value="Олег" required>
              </label>
            </li>
            <li class="checkout__form-item">
              <label class="checkout__field">
                <span class="checkout__label">Фамилия</span>
                <input class="checkout__input" type="text" name="surname" value="Богучарский">
              </label>
            </li>
            <li class="checkout__form-item">
              <label class="checkout__field">
                <span class="checkout__label">Номер телефона<span class="checkout__required">*</span></span>
                <input class="checkout__input" type="tel" name="phone" value="+798812313345" required>
              </label>
            </li>
            <li class="checkout__form-item">
              <label class="checkout__field">
                <span class="checkout__label">Адрес доставки</span>
                <input class="checkout__input" type="text" name="address" value="г.Шахты , ул.Ильюшина 31">
              </label>
            </li>
            <li class="checkout__form-item">
              <label class="checkout__field checkout__field--textarea">
                <span class="checkout__label">Комментарий</span>
                <textarea class="checkout__input" name="comment" rows="5" placeholder="Текст"></textarea>
              </label>
            </li>
          </ul>
        </fieldset>
        <div class="checkout__form-button-container">
          <a class="checkout__form-button button button--grey" href="../../cart.html">Назад</a>
          <button class="checkout__form-button button" type="submit">Оформить заказ</button>
        </div>
      </form>
    </div>
  </div>
</section>
