<section class="favorites">
  <div class="container">
    <h1 class="favorites__title">Избранные товары</h1>
    <ol class="favorites__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="account.html">Личный кабинет</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Избранные товары</span>
      </li>
    </ol>
    <ul class="favorites__list" data-swiper="cards">
      <li class="favorites__card favorites__card--favorite">
        <div class="favorites__card-visual">
          <div class="favorites__card-header">
            <div class="favorites__card-user">
              <button class="favorites__card-user-button favorites__card-user-button--compare">
                <span class="visually-hidden">Добавить к сравнению.</span>
              </button>
              <button class="favorites__card-user-button favorites__card-user-button--favorites">
                <span class="visually-hidden">Добавить в избранное.</span>
              </button>
              <button class="favorites__card-user-delete">
                <span class="visually-hidden">Удалить из избранного.</span>
              </button>
            </div>
          </div>
          <div class="favorites__card-visual-swiper-container">
            <div class="favorites__card-visual-swiper swiper">
              <ul class="favorites__card-visual-swiper-wrapper swiper-wrapper">
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-1-tablet@1x.webp 1x, ../img/favorites/favorites-1-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-1-mobile@1x.webp 1x, ../img/favorites/favorites-1-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-1-tablet@1x.png 1x, ../img/favorites/favorites-1-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-1-mobile@1x.png" srcset="../img/favorites/favorites-1-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.webp 1x, ../img/favorites/favorites-2-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-2-mobile@1x.webp 1x, ../img/favorites/favorites-2-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.png 1x, ../img/favorites/favorites-2-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-2-mobile@1x.png" srcset="../img/favorites/favorites-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.webp 1x, ../img/favorites/favorites-3-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-3-mobile@1x.webp 1x, ../img/favorites/favorites-3-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.png 1x, ../img/favorites/favorites-3-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-3-mobile@1x.png" srcset="../img/favorites/favorites-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.webp 1x, ../img/favorites/favorites-2-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-2-mobile@1x.webp 1x, ../img/favorites/favorites-2-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.png 1x, ../img/favorites/favorites-2-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-2-mobile@1x.png" srcset="../img/favorites/favorites-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.webp 1x, ../img/favorites/favorites-3-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-3-mobile@1x.webp 1x, ../img/favorites/favorites-3-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.png 1x, ../img/favorites/favorites-3-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-3-mobile@1x.png" srcset="../img/favorites/favorites-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
              </ul>
              <div class="favorites__card-visual-swiper-pagination"></div>
            </div>
          </div>
        </div>
        <div class="favorites__card-content">
          <p class="favorites__card-article">Код товара: 2061070351</p>
          <a class="favorites__card-title" href="#">MetalTec TOPMILL 1360F вертикальный обрабатывающий центр с&nbsp;ЧПУ</a>
          <div class="favorites__card-button-container">
            <button class="favorites__card-button button button--light" type="button">В корзину</button>
          </div>
        </div>
      </li>
      <li class="favorites__card favorites__card--favorite">
        <div class="favorites__card-visual">
          <div class="favorites__card-header">
            <div class="favorites__card-user">
              <button class="favorites__card-user-button favorites__card-user-button--compare">
                <span class="visually-hidden">Добавить к сравнению.</span>
              </button>
              <button class="favorites__card-user-button favorites__card-user-button--favorites">
                <span class="visually-hidden">Добавить в избранное.</span>
              </button>
              <button class="favorites__card-user-delete">
                <span class="visually-hidden">Удалить из избранного.</span>
              </button>
            </div>
          </div>
          <div class="favorites__card-visual-swiper-container">
            <div class="favorites__card-visual-swiper swiper">
              <ul class="favorites__card-visual-swiper-wrapper swiper-wrapper">
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.webp 1x, ../img/favorites/favorites-2-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-2-mobile@1x.webp 1x, ../img/favorites/favorites-2-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.png 1x, ../img/favorites/favorites-2-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-2-mobile@1x.png" srcset="../img/favorites/favorites-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.webp 1x, ../img/favorites/favorites-2-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-2-mobile@1x.webp 1x, ../img/favorites/favorites-2-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.png 1x, ../img/favorites/favorites-2-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-2-mobile@1x.png" srcset="../img/favorites/favorites-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.webp 1x, ../img/favorites/favorites-3-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-3-mobile@1x.webp 1x, ../img/favorites/favorites-3-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.png 1x, ../img/favorites/favorites-3-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-3-mobile@1x.png" srcset="../img/favorites/favorites-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.webp 1x, ../img/favorites/favorites-2-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-2-mobile@1x.webp 1x, ../img/favorites/favorites-2-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.png 1x, ../img/favorites/favorites-2-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-2-mobile@1x.png" srcset="../img/favorites/favorites-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.webp 1x, ../img/favorites/favorites-3-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-3-mobile@1x.webp 1x, ../img/favorites/favorites-3-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.png 1x, ../img/favorites/favorites-3-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-3-mobile@1x.png" srcset="../img/favorites/favorites-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
              </ul>
              <div class="favorites__card-visual-swiper-pagination"></div>
            </div>
          </div>
        </div>
        <div class="favorites__card-content">
          <p class="favorites__card-article">Код товара: 2061070349</p>
          <a class="favorites__card-title" href="#">MetalTec TOPMILL 800S Вертикальный обрабатывающий центр с&nbsp;ЧПУ</a>
          <div class="favorites__card-button-container">
            <button class="favorites__card-button button button--light" type="button">В корзину</button>
          </div>
        </div>
      </li>
      <li class="favorites__card favorites__card--favorite">
        <div class="favorites__card-visual">
          <div class="favorites__card-header">
            <div class="favorites__card-user">
              <button class="favorites__card-user-button favorites__card-user-button--compare">
                <span class="visually-hidden">Добавить к сравнению.</span>
              </button>
              <button class="favorites__card-user-button favorites__card-user-button--favorites">
                <span class="visually-hidden">Добавить в избранное.</span>
              </button>
              <button class="favorites__card-user-delete">
                <span class="visually-hidden">Удалить из избранного.</span>
              </button>
            </div>
          </div>
          <div class="favorites__card-visual-swiper-container">
            <div class="favorites__card-visual-swiper swiper">
              <ul class="favorites__card-visual-swiper-wrapper swiper-wrapper">
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.webp 1x, ../img/favorites/favorites-3-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-3-mobile@1x.webp 1x, ../img/favorites/favorites-3-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.png 1x, ../img/favorites/favorites-3-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-3-mobile@1x.png" srcset="../img/favorites/favorites-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.webp 1x, ../img/favorites/favorites-2-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-2-mobile@1x.webp 1x, ../img/favorites/favorites-2-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.png 1x, ../img/favorites/favorites-2-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-2-mobile@1x.png" srcset="../img/favorites/favorites-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.webp 1x, ../img/favorites/favorites-3-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-3-mobile@1x.webp 1x, ../img/favorites/favorites-3-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.png 1x, ../img/favorites/favorites-3-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-3-mobile@1x.png" srcset="../img/favorites/favorites-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.webp 1x, ../img/favorites/favorites-2-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-2-mobile@1x.webp 1x, ../img/favorites/favorites-2-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.png 1x, ../img/favorites/favorites-2-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-2-mobile@1x.png" srcset="../img/favorites/favorites-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.webp 1x, ../img/favorites/favorites-3-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-3-mobile@1x.webp 1x, ../img/favorites/favorites-3-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.png 1x, ../img/favorites/favorites-3-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-3-mobile@1x.png" srcset="../img/favorites/favorites-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
              </ul>
              <div class="favorites__card-visual-swiper-pagination"></div>
            </div>
          </div>
        </div>
        <div class="favorites__card-content">
          <p class="favorites__card-article">Код товара: 2061070531</p>
          <a class="favorites__card-title" href="#">Обрабатывающий центр с&nbsp;ЧПУ WoodTec&nbsp;VPS&nbsp;1330</a>
          <div class="favorites__card-button-container">
            <button class="favorites__card-button button button--light" type="button">В корзину</button>
          </div>
        </div>
      </li>
      <li class="favorites__card favorites__card--favorite">
        <div class="favorites__card-visual">
          <div class="favorites__card-header">
            <div class="favorites__card-user">
              <button class="favorites__card-user-button favorites__card-user-button--compare">
                <span class="visually-hidden">Добавить к сравнению.</span>
              </button>
              <button class="favorites__card-user-button favorites__card-user-button--favorites">
                <span class="visually-hidden">Добавить в избранное.</span>
              </button>
              <button class="favorites__card-user-delete">
                <span class="visually-hidden">Удалить из избранного.</span>
              </button>
            </div>
          </div>
          <div class="favorites__card-visual-swiper-container">
            <div class="favorites__card-visual-swiper swiper">
              <ul class="favorites__card-visual-swiper-wrapper swiper-wrapper">
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-4-tablet@1x.webp 1x, ../img/favorites/favorites-4-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-4-mobile@1x.webp 1x, ../img/favorites/favorites-4-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-4-tablet@1x.png 1x, ../img/favorites/favorites-4-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-4-mobile@1x.png" srcset="../img/favorites/favorites-4-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.webp 1x, ../img/favorites/favorites-2-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-2-mobile@1x.webp 1x, ../img/favorites/favorites-2-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.png 1x, ../img/favorites/favorites-2-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-2-mobile@1x.png" srcset="../img/favorites/favorites-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.webp 1x, ../img/favorites/favorites-3-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-3-mobile@1x.webp 1x, ../img/favorites/favorites-3-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.png 1x, ../img/favorites/favorites-3-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-3-mobile@1x.png" srcset="../img/favorites/favorites-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.webp 1x, ../img/favorites/favorites-2-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-2-mobile@1x.webp 1x, ../img/favorites/favorites-2-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-2-tablet@1x.png 1x, ../img/favorites/favorites-2-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-2-mobile@1x.png" srcset="../img/favorites/favorites-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="favorites__card-visual-slide swiper-slide">
                  <div class="favorites__card-visual-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.webp 1x, ../img/favorites/favorites-3-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/favorites/favorites-3-mobile@1x.webp 1x, ../img/favorites/favorites-3-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/favorites/favorites-3-tablet@1x.png 1x, ../img/favorites/favorites-3-tablet@2x.png 2x">
                      <img src="../img/favorites/favorites-3-mobile@1x.png" srcset="../img/favorites/favorites-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
              </ul>
              <div class="favorites__card-visual-swiper-pagination"></div>
            </div>
          </div>
        </div>
        <div class="favorites__card-content">
          <p class="favorites__card-article">Код товара: 2061070541</p>
          <a class="favorites__card-title" href="#">Станок фрезерный WoodTec FS 120 K ECO</a>
          <div class="favorites__card-button-container">
            <button class="favorites__card-button button button--light" type="button">В корзину</button>
          </div>
        </div>
      </li>



    </ul>
  </div>
</section>
