<section class="pay-delivery">
  <div class="pay-delivery__header">
    <div class="container">
      <h1 class="pay-delivery__title">Оплата и доставка</h1>
      <ol class="pay-delivery__breadcrumbs breadcrumbs">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="index.html">Главная</a>
        </li>
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__link">Доставка и оплата</span>
        </li>
      </ol>
    </div>
  </div>
  <div class="pay-delivery__wrapper">
    <div class="container">
      <div class="pay-delivery__list">
        <div class="pay-delivery__main">
          <div class="pay-delivery__main-text">
            <p>При оформлении заказа вам будет предложено несколько вариантов доставки, чтобы вы смогли выбрать наиболее удобный. Мы&nbsp;надёжно упакуем товар и&nbsp;передадим его&nbsp;в&nbsp;транспортную компанию.</p>
          </div>
          <div class="pay-delivery__main-img">
            <picture>
              <source width="674" height="422" type="image/webp" media="(min-width: 768px)" srcset="img/pay-delivery/truck-with-logo-tablet@1x.webp 1x, img/pay-delivery/truck-with-logo-tablet@2x.webp 2x">
              <source width="333" height="215" type="image/webp" srcset="img/pay-delivery/truck-with-logo-mobile@1x.webp 1x, img/pay-delivery/truck-with-logo-mobile@2x.webp 2x">
              <source width="674" height="422" type="image/png" media="(min-width: 768px)" srcset="img/pay-delivery/truck-with-logo-tablet@1x.png 1x, img/pay-delivery/truck-with-logo-tablet@2x.png 2x">
              <img src="img/pay-delivery/truck-with-logo-mobile@1x.png" srcset="img/pay-delivery/truck-with-logo-mobile@2x.png 2x" width="333" height="215" alt="Грузовой автомобиль с логотипом NEO-LID.">
            </picture>
          </div>
          <a class="pay-delivery__link button" href="#">Смотреть все&nbsp;станки</a>
        </div>
        <div class="pay-delivery__swiper-container">
          <div class="pay-delivery__swiper" data-swiper="navigation">
            <ul class="pay-delivery__swiper-wrapper">
              <li class="pay-delivery__slide">
                <div class="pay-delivery__slide-container">
                  <p class="pay-delivery__subtitle">Доставка по всей России и&nbsp;СНГ</p>
                  <div class="pay-delivery__img">
                    <picture>
                      <source width="337" height="195" type="image/webp" media="(min-width: 768px)" srcset="img/pay-delivery/bg-delivery-tablet@1x.webp 1x, img/pay-delivery/bg-delivery-tablet@2x.webp 2x">
                      <source width="203" height="103" type="image/webp" srcset="img/pay-delivery/bg-delivery-mobile@1x.webp 1x, img/pay-delivery/bg-delivery-mobile@2x.webp 2x">
                      <source width="337" height="195" type="image/png" media="(min-width: 768px)" srcset="img/pay-delivery/bg-delivery-tablet@1x.png 1x, img/pay-delivery/bg-delivery-tablet@2x.png 2x">
                      <img src="img/pay-delivery/bg-delivery-mobile@1x.png" srcset="img/pay-delivery/bg-delivery-mobile@2x.png 2x" width="203" height="103" alt="Транспорт.">
                    </picture>
                  </div>
                </div>
              </li>
              <li class="pay-delivery__slide">
                <div class="pay-delivery__slide-container">
                  <p class="pay-delivery__subtitle">Работаем только с&nbsp;проверенными транспортными компаниями</p>
                  <div class="pay-delivery__img">
                    <picture>
                      <source width="337" height="195" type="image/webp" media="(min-width: 768px)" srcset="img/pay-delivery/bg-companies-tablet@1x.webp 1x, img/pay-delivery/bg-companies-tablet@2x.webp 2x">
                      <source width="203" height="103" type="image/webp" srcset="img/pay-delivery/bg-companies-mobile@1x.webp 1x, img/pay-delivery/bg-companies-mobile@2x.webp 2x">
                      <source width="337" height="195" type="image/png" media="(min-width: 768px)" srcset="img/pay-delivery/bg-companies-tablet@1x.png 1x, img/pay-delivery/bg-companies-tablet@2x.png 2x">
                      <img src="img/pay-delivery/bg-companies-mobile@1x.png" srcset="img/pay-delivery/bg-companies-mobile@2x.png 2x" width="203" height="103" alt="Красный грузовик.">
                    </picture>
                  </div>
                </div>
              </li>
            </ul>
            <button class="pay-delivery__swiper-button pay-delivery__swiper-button--prev button-swiper button-swiper--light" type="button">
              <span class="visually-hidden">Назад.</span>
            </button>
            <button class="pay-delivery__swiper-button pay-delivery__swiper-button--next button-swiper button-swiper--next button-swiper--light" type="button">
              <span class="visually-hidden">Вперёд.</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
