<section class="promo">
  <div class="container">
    <div class="promo__main">
      <div class="promo__content">
        <h1 class="promo__title">Станки и промышленное оборудование</h1>
        <p class="promo__text">С доставкой по всей России</p>
      </div>
      <a class="promo__main-button button" href="#">Смотреть&nbsp;все станки</a>
      <div class="promo__main-swiper-container">
        <div class="promo__main-swiper swiper">
          <ul class="promo__main-swiper-wrapper swiper-wrapper">
            <li class="promo__main-slide swiper-slide">
              <div class="promo__main-slide-container">
                <picture>
                  <source width="873" height="335" type="image/webp" media="(min-width: 768px)" srcset="img/promo/main/product-1-tablet@1x.webp 1x, img/promo/main/product-1-tablet@2x.webp 2x">
                  <source width="288" height="117" type="image/webp" srcset="img/promo/main/product-1-mobile@1x.webp 1x, img/promo/main/product-1-mobile@2x.webp 2x">
                  <source width="873" height="335" type="image/png" media="(min-width: 768px)" srcset="img/promo/main/product-1-tablet@1x.png 1x, img/promo/main/product-1-tablet@2x.png 2x">
                  <img src="img/promo/main/product-1-mobile@1x.png" srcset="img/promo/main/product-1-mobile@2x.png 2x" width="288" height="117" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="promo__main-slide swiper-slide">
              <div class="promo__main-slide-container">
                <picture>
                  <source width="873" height="335" type="image/webp" media="(min-width: 768px)" srcset="img/promo/main/product-2-tablet@1x.webp 1x, img/promo/main/product-2-tablet@2x.webp 2x">
                  <source width="288" height="117" type="image/webp" srcset="img/promo/main/product-2-mobile@1x.webp 1x, img/promo/main/product-2-mobile@2x.webp 2x">
                  <source width="873" height="335" type="image/png" media="(min-width: 768px)" srcset="img/promo/main/product-2-tablet@1x.png 1x, img/promo/main/product-2-tablet@2x.png 2x">
                  <img src="img/promo/main/product-2-mobile@1x.png" srcset="img/promo/main/product-2-mobile@2x.png 2x" width="288" height="117" alt="Товар 2.">
                </picture>
              </div>
            </li>
            <li class="promo__main-slide swiper-slide">
              <div class="promo__main-slide-container">
                <picture>
                  <source width="873" height="335" type="image/webp" media="(min-width: 768px)" srcset="img/promo/main/product-3-tablet@1x.webp 1x, img/promo/main/product-3-tablet@2x.webp 2x">
                  <source width="288" height="117" type="image/webp" srcset="img/promo/main/product-3-mobile@1x.webp 1x, img/promo/main/product-3-mobile@2x.webp 2x">
                  <source width="873" height="335" type="image/png" media="(min-width: 768px)" srcset="img/promo/main/product-3-tablet@1x.png 1x, img/promo/main/product-3-tablet@2x.png 2x">
                  <img src="img/promo/main/product-3-mobile@1x.png" srcset="img/promo/main/product-3-mobile@2x.png 2x" width="288" height="117" alt="Товар 3.">
                </picture>
              </div>
            </li>
            <li class="promo__main-slide swiper-slide">
              <div class="promo__main-slide-container">
                <picture>
                  <source width="873" height="335" type="image/webp" media="(min-width: 768px)" srcset="img/promo/main/product-4-tablet@1x.webp 1x, img/promo/main/product-4-tablet@2x.webp 2x">
                  <source width="288" height="117" type="image/webp" srcset="img/promo/main/product-4-mobile@1x.webp 1x, img/promo/main/product-4-mobile@2x.webp 2x">
                  <source width="873" height="335" type="image/png" media="(min-width: 768px)" srcset="img/promo/main/product-4-tablet@1x.png 1x, img/promo/main/product-4-tablet@2x.png 2x">
                  <img src="img/promo/main/product-4-mobile@1x.png" srcset="img/promo/main/product-4-mobile@2x.png 2x" width="288" height="117" alt="Товар 3.">
                </picture>
              </div>
            </li>
            <li class="promo__main-slide swiper-slide">
              <div class="promo__main-slide-container">
                <picture>
                  <source width="873" height="335" type="image/webp" media="(min-width: 768px)" srcset="img/promo/main/product-5-tablet@1x.webp 1x, img/promo/main/product-5-tablet@2x.webp 2x">
                  <source width="288" height="117" type="image/webp" srcset="img/promo/main/product-5-mobile@1x.webp 1x, img/promo/main/product-5-mobile@2x.webp 2x">
                  <source width="873" height="335" type="image/png" media="(min-width: 768px)" srcset="img/promo/main/product-5-tablet@1x.png 1x, img/promo/main/product-5-tablet@2x.png 2x">
                  <img src="img/promo/main/product-5-mobile@1x.png" srcset="img/promo/main/product-5-mobile@2x.png 2x" width="288" height="117" alt="Товар 3.">
                </picture>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="promo__catalog">
      <div class="promo__catalog-swiper-container">
        <div class="promo__catalog-swiper">
          <ul class="promo__catalog-swiper-wrapper">
            <li class="promo__catalog-slide">
              <div class="promo__catalog-slide-container">
                <h2 class="promo__catalog-title">Станки <br>для мебели</h2>
                <div class="promo__catalog-img">
                  <picture>
                    <source width="242" height="171" type="image/webp" media="(min-width: 768px)" srcset="img/promo/catalog/product-1-tablet@1x.webp 1x, img/promo/catalog/product-1-tablet@2x.webp 2x">
                    <source width="192" height="134" type="image/webp" srcset="img/promo/catalog/product-1-mobile@1x.webp 1x, img/promo/catalog/product-1-mobile@2x.webp 2x">
                    <source width="242" height="171" type="image/png" media="(min-width: 768px)" srcset="img/promo/catalog/product-1-tablet@1x.png 1x, img/promo/catalog/product-1-tablet@2x.png 2x">
                    <img src="img/promo/catalog/product-1-mobile@1x.png" srcset="img/promo/catalog/product-1-mobile@2x.png 2x" width="192" height="134" alt="Товар 1.">
                  </picture>
                </div>
              </div>
            </li>
            <li class="promo__catalog-slide">
              <div class="promo__catalog-slide-container">
                <h2 class="promo__catalog-title">Станки <br>по дереву и металлу</h2>
                <div class="promo__catalog-img">
                  <picture>
                    <source width="242" height="171" type="image/webp" media="(min-width: 768px)" srcset="img/promo/catalog/product-2-tablet@1x.webp 1x, img/promo/catalog/product-2-tablet@2x.webp 2x">
                    <source width="192" height="134" type="image/webp" srcset="img/promo/catalog/product-2-mobile@1x.webp 1x, img/promo/catalog/product-2-mobile@2x.webp 2x">
                    <source width="242" height="171" type="image/png" media="(min-width: 768px)" srcset="img/promo/catalog/product-2-tablet@1x.png 1x, img/promo/catalog/product-2-tablet@2x.png 2x">
                    <img src="img/promo/catalog/product-2-mobile@1x.png" srcset="img/promo/catalog/product-2-mobile@2x.png 2x" width="192" height="134" alt="Товар 1.">
                  </picture>
                </div>
              </div>
            </li>
            <li class="promo__catalog-slide">
              <div class="promo__catalog-slide-container">
                <h2 class="promo__catalog-title">Станки <br>для производства окон</h2>
                <div class="promo__catalog-img">
                  <picture>
                    <source width="242" height="171" type="image/webp" media="(min-width: 768px)" srcset="img/promo/catalog/product-3-tablet@1x.webp 1x, img/promo/catalog/product-3-tablet@2x.webp 2x">
                    <source width="192" height="134" type="image/webp" srcset="img/promo/catalog/product-3-mobile@1x.webp 1x, img/promo/catalog/product-3-mobile@2x.webp 2x">
                    <source width="242" height="171" type="image/png" media="(min-width: 768px)" srcset="img/promo/catalog/product-3-tablet@1x.png 1x, img/promo/catalog/product-3-tablet@2x.png 2x">
                    <img src="img/promo/catalog/product-3-mobile@1x.png" srcset="img/promo/catalog/product-3-mobile@2x.png 2x" width="192" height="134" alt="Товар 1.">
                  </picture>
                </div>
              </div>
            </li>
            <li class="promo__catalog-slide">
              <div class="promo__catalog-slide-container">
                <h2 class="promo__catalog-title">Станки <br>для печати и рекламы</h2>
                <div class="promo__catalog-img">
                  <picture>
                    <source width="242" height="171" type="image/webp" media="(min-width: 768px)" srcset="img/promo/catalog/product-4-tablet@1x.webp 1x, img/promo/catalog/product-4-tablet@2x.webp 2x">
                    <source width="192" height="134" type="image/webp" srcset="img/promo/catalog/product-4-mobile@1x.webp 1x, img/promo/catalog/product-4-mobile@2x.webp 2x">
                    <source width="242" height="171" type="image/png" media="(min-width: 768px)" srcset="img/promo/catalog/product-4-tablet@1x.png 1x, img/promo/catalog/product-4-tablet@2x.png 2x">
                    <img src="img/promo/catalog/product-4-mobile@1x.png" srcset="img/promo/catalog/product-4-mobile@2x.png 2x" width="192" height="134" alt="Товар 1.">
                  </picture>
                </div>
              </div>
            </li>
          </ul>
          <button class="promo__catalog-button promo__catalog-button--prev button-swiper" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="promo__catalog-button promo__catalog-button--next button-swiper button-swiper--next" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
    <div class="promo__service">
      <div class="promo__service-swiper-container">
        <div class="promo__service-swiper swiper">
          <ul class="promo__service-swiper-wrapper swiper-wrapper">
            <li class="promo__service-slide promo__service-slide--active swiper-slide">
              <div class="promo__service-slide-container">
                <h2 class="promo__service-title">Лизинг <br>и кредит</h2>
                <div class="promo__service-img">
                  <picture>
                    <source width="242" height="171" type="image/webp" media="(min-width: 768px)" srcset="img/promo/service/bg-credit-tablet@1x.webp 1x, img/promo/service/bg-credit-tablet@2x.webp 2x">
                    <source width="192" height="134" type="image/webp" srcset="img/promo/service/bg-credit-mobile@1x.webp 1x, img/promo/service/bg-credit-mobile@2x.webp 2x">
                    <source width="242" height="171" type="image/png" media="(min-width: 768px)" srcset="img/promo/service/bg-credit-tablet@1x.png 1x, img/promo/service/bg-credit-tablet@2x.png 2x">
                    <img src="img/promo/service/bg-credit-mobile@1x.png" srcset="img/promo/service/bg-credit-mobile@2x.png 2x" width="192" height="134" alt="Товар 1.">
                  </picture>
                </div>
                <a class="promo__service-link button button--light" href="#">Подробнее</a>
              </div>
            </li>
            <li class="promo__service-slide swiper-slide">
              <div class="promo__service-slide-container">
                <h2 class="promo__service-title">Прямые поставки станков из&nbsp;Китая</h2>
                <div class="promo__service-img">
                  <picture>
                    <source width="242" height="171" type="image/webp" media="(min-width: 768px)" srcset="img/promo/service/bg-china-tablet@1x.webp 1x, img/promo/service/bg-china-tablet@2x.webp 2x">
                    <source width="192" height="134" type="image/webp" srcset="img/promo/service/bg-china-mobile@1x.webp 1x, img/promo/service/bg-china-mobile@2x.webp 2x">
                    <source width="242" height="171" type="image/png" media="(min-width: 768px)" srcset="img/promo/service/bg-china-tablet@1x.png 1x, img/promo/service/bg-china-tablet@2x.png 2x">
                    <img src="img/promo/service/bg-china-mobile@1x.png" srcset="img/promo/service/bg-china-mobile@2x.png 2x" width="192" height="134" alt="Товар 1.">
                  </picture>
                </div>
                <a class="promo__service-link button button--light" href="#">Подробнее</a>
              </div>
            </li>
            <li class="promo__service-slide swiper-slide">
              <div class="promo__service-slide-container">
                <h2 class="promo__service-title">Подбор бывших в&nbsp;употреблении станков</h2>
                <div class="promo__service-img">
                  <picture>
                    <source width="242" height="171" type="image/webp" media="(min-width: 768px)" srcset="img/promo/service/bg-used-tablet@1x.webp 1x, img/promo/service/bg-used-tablet@2x.webp 2x">
                    <source width="192" height="134" type="image/webp" srcset="img/promo/service/bg-used-mobile@1x.webp 1x, img/promo/service/bg-used-mobile@2x.webp 2x">
                    <source width="242" height="171" type="image/png" media="(min-width: 768px)" srcset="img/promo/service/bg-used-tablet@1x.png 1x, img/promo/service/bg-used-tablet@2x.png 2x">
                    <img src="img/promo/service/bg-used-mobile@1x.png" srcset="img/promo/service/bg-used-mobile@2x.png 2x" width="192" height="134" alt="Товар 1.">
                  </picture>
                </div>
                <a class="promo__service-link button button--light" href="#">Подробнее</a>
              </div>
            </li>
            <li class="promo__service-slide swiper-slide">
              <div class="promo__service-slide-container">
                <h2 class="promo__service-title">Trade-In</h2>
                <div class="promo__service-img">
                  <picture>
                    <source width="242" height="171" type="image/webp" media="(min-width: 768px)" srcset="img/promo/service/bg-trade-tablet@1x.webp 1x, img/promo/service/bg-trade-tablet@2x.webp 2x">
                    <source width="192" height="134" type="image/webp" srcset="img/promo/service/bg-trade-mobile@1x.webp 1x, img/promo/service/bg-trade-mobile@2x.webp 2x">
                    <source width="242" height="171" type="image/png" media="(min-width: 768px)" srcset="img/promo/service/bg-trade-tablet@1x.png 1x, img/promo/service/bg-trade-tablet@2x.png 2x">
                    <img src="img/promo/service/bg-trade-mobile@1x.png" srcset="img/promo/service/bg-trade-mobile@2x.png 2x" width="192" height="134" alt="Товар 1.">
                  </picture>
                </div>
                <a class="promo__service-link button button--light" href="#">Подробнее</a>
              </div>
            </li>
          </ul>
          <button class="promo__service-button promo__service-button--prev button-swiper button-swiper--light" type="button">
            <span class="visually-hidden">Назад.</span>
          </button>
          <button class="promo__service-button promo__service-button--next button-swiper button-swiper--next button-swiper--light" type="button">
            <span class="visually-hidden">Вперёд.</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
