<section class="services-type">
  <div class="container">
    <h1 class="services-type__title">Диагностика оборудования</h1>
    <ol class="services-type__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="services.html">Сервисы</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Диагностика оборудования</span>
      </li>
    </ol>
    <div class="services-type__wrapper">
      <div class="services-type__img">
        <picture>
          <source width="1520" height="515" type="image/webp" media="(min-width: 768px)" srcset="../img/services-type/diagnostic-tablet@1x.webp 1x, ../img/services-type/diagnostic-tablet@2x.webp 2x">
          <source width="333" height="183" type="image/webp" srcset="../img/services-type/diagnostic-mobile@1x.webp 1x, ../img/services-type/diagnostic-mobile@2x.webp 2x">
          <source width="1520" height="515" type="image/png" media="(min-width: 768px)" srcset="../img/services-type/diagnostic-tablet@1x.png 1x, ../img/services-type/diagnostic-tablet@2x.png 2x">
          <img src="../img/services-type/diagnostic-mobile@1x.png" srcset="../img/services-type/diagnostic-mobile@2x.png 2x" width="333" height="183" alt="Изображение станка.">
        </picture>
      </div>
      <div class="services-type__description">
        <p>Диагностика станков&nbsp;— это важный элемент технического обслуживания, позволяющий своевременно оценить состояние оборудования и&nbsp;минимизировать затраты на&nbsp;его содержание. Наши специалисты проводят проверку как при ремонте, так и&nbsp;при плановом обслуживании, определяют необходимость текущего или капитального ремонта, выявляют неисправности и&nbsp;дают рекомендации по&nbsp;дальнейшей эксплуатации.</p>
      </div>
      <div class="services-type__advantages">
        <h2 class="services-type__advantages-title">Преимущества</h2>
        <div class="services-type__advantages-group">
          <div class="services-type__advantages-item">
            <h3>Экономия на&nbsp;обслуживании</h3>
            <div class="services-type__advantages-text">
              <p>Регулярная диагностика помогает выявить проблемы заранее и&nbsp;избежать крупных поломок, снижая общие затраты на&nbsp;эксплуатацию оборудования.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Определение объёма ремонта</h3>
            <div class="services-type__advantages-text">
              <p>Диагностика точно показывает, нужен&nbsp;ли капитальный ремонт или достаточно текущего обслуживания, что исключает лишние расходы.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Диагностика при&nbsp;любом типе работ</h3>
            <div class="services-type__advantages-text">
              <p>Услуга проводится как при плановом обслуживании, так и&nbsp;в&nbsp;процессе ремонта, что обеспечивает комплексный подход к&nbsp;поддержанию оборудования.</p>
            </div>
          </div>
        </div>
        <div class="services-type__advantages-group">
          <div class="services-type__advantages-item">
            <h3>Оптимизация работы оборудования</h3>
            <div class="services-type__advantages-text">
              <p>Проверка качества функционирования узлов и&nbsp;систем позволяет поддерживать стабильную работу станков и&nbsp;повышать эффективность производства.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Квалифицированная оценка</h3>
            <div class="services-type__advantages-text">
              <p>Наши специалисты дают профессиональное заключение о&nbsp;техническом состоянии оборудования и&nbsp;разрабатывают рекомендации по&nbsp;его дальнейшему использованию.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Снижение простоев</h3>
            <div class="services-type__advantages-text">
              <p>Своевременное выявление неисправностей позволяет быстро устранить проблему и&nbsp;минимизировать простой производства.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
