<section class="services-type">
  <div class="container">
    <h1 class="services-type__title">Лизинг и Кредит</h1>
    <ol class="services-type__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="services.html">Сервисы</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Лизинг и Кредит</span>
      </li>
    </ol>
    <div class="services-type__wrapper">
      <div class="services-type__img">
        <picture>
          <source width="1520" height="515" type="image/webp" media="(min-width: 768px)" srcset="img/services-type/credit-tablet@1x.webp 1x, img/services-type/credit-tablet@2x.webp 2x">
          <source width="333" height="183" type="image/webp" srcset="img/services-type/credit-mobile@1x.webp 1x, img/services-type/credit-mobile@2x.webp 2x">
          <source width="1520" height="515" type="image/png" media="(min-width: 768px)" srcset="img/services-type/credit-tablet@1x.png 1x, img/services-type/credit-tablet@2x.png 2x">
          <img src="img/services-type/credit-mobile@1x.png" srcset="img/services-type/credit-mobile@2x.png 2x" width="333" height="183" alt="Изображение станка.">
        </picture>
      </div>
      <div class="services-type__description">
        <p>Мы&nbsp;работаем с&nbsp;ведущими лизинговыми компаниями в&nbsp;регионе, чтобы предоставить нашим клиентам лучшие условия для приобретения техники и&nbsp;оборудования. Такое сотрудничество даёт возможность снизить первоначальные расходы, оптимизировать налоговую нагрузку и&nbsp;получить доступ к&nbsp;современным инструментам развития бизнеса без лишних затрат.</p>
      </div>
      <div class="services-type__companies">
        <h2 class="services-type__companies-title">Компании</h2>
        <ul class="services-type__companies-list">
          <li class="services-type__companies-item">
            <div class="services-type__companies-wrapper">
              <h3 class="services-type__companies-subtitle">Лизинговая компания «Пруссия»</h3>
              <div class="services-type__companies-image">
                <picture>
                  <source width="352" height="233" type="image/webp" media="(min-width: 768px)" srcset="img/brands/prussia-tablet@1x.webp 1x, img/brands/prussia-tablet@2x.webp 2x">
                  <source width="304" height="90" type="image/webp" srcset="img/brands/prussia-mobile@1x.webp 1x, img/brands/prussia-mobile@2x.webp 2x">
                  <source width="352" height="233" type="image/png" media="(min-width: 768px)" srcset="img/brands/prussia-tablet@1x.png 1x, img/brands/prussia-tablet@2x.png 2x">
                  <img src="img/brands/prussia-mobile@1x.png" srcset="img/brands/prussia-mobile@2x.png 2x" width="304" height="90" alt="Логотип лизинговой компании Пруссия.">
                </picture>
              </div>
            </div>
            <div class="services-type__advantages">
              <div class="services-type__advantages-group services-type__advantages-group--center">
                <div class="services-type__advantages-item">
                  <h3>Минимальный пакет документов для заключения договора:</h3>
                  <ul>
                    <li>лизинговая заявка,</li>
                    <li>регистрационные и уставные документы,</li>
                    <li>финансовая отчётность,</li>
                    <li>паспорт.</li>
                  </ul>
                </div>
                <div class="services-type__advantages-item">
                  <h3>Возможность приобретения оборудования как у&nbsp;физических, так и у&nbsp;юридических лиц.</h3>
                </div>
                <div class="services-type__advantages-item">
                  <h3>Индивидуальный график платежей с&nbsp;учётом сезонности бизнеса.</h3>
                </div>
              </div>
              <div class="services-type__advantages-group services-type__advantages-group--center">
                <div class="services-type__advantages-item">
                  <h3>Персональный и лояльный подход к&nbsp;рассмотрению заявки на&nbsp;лизинг с&nbsp;учётом пожеланий и специфики Вашего бизнеса.</h3>
                </div>
                <div class="services-type__advantages-item">
                  <h3>Оперативное принятие решения – до&nbsp;48 часов.</h3>
                </div>
                <div class="services-type__advantages-item">
                  <h3>Специальные условия при повторном обращении.</h3>
                </div>
              </div>
            </div>
            <div class="services-type__text services-type__text--underline services-type__text--companies">
              <p>Более подробную информацию можно узнать на <a class="services-type__text-link services-type__text-link--accent" href="www.lcprussia.ru">www.lcprussia.ru</a> или в&nbsp;офисах компании.</p>
            </div>
          </li>
          <li class="services-type__companies-item">
            <div class="services-type__companies-wrapper">
              <h3 class="services-type__companies-subtitle">Лизинговая компания «МК&nbsp;Лизинг»</h3>
              <div class="services-type__companies-image">
                <picture>
                  <source width="352" height="233" type="image/webp" media="(min-width: 768px)" srcset="img/brands/mk-tablet@1x.webp 1x, img/brands/mk-tablet@2x.webp 2x">
                  <source width="304" height="90" type="image/webp" srcset="img/brands/mk-mobile@1x.webp 1x, img/brands/mk-mobile@2x.webp 2x">
                  <source width="352" height="233" type="image/png" media="(min-width: 768px)" srcset="img/brands/mk-tablet@1x.png 1x, img/brands/mk-tablet@2x.png 2x">
                  <img src="img/brands/mk-mobile@1x.png" srcset="img/brands/mk-mobile@2x.png 2x" width="304" height="90" alt="Логотип лизинговой компании МК Лизинг.">
                </picture>
              </div>
            </div>
            <div class="services-type__advantages">
              <div class="services-type__advantages-group services-type__advantages-group">
                <div class="services-type__advantages-item">
                  <h3>Индивидуальные условия для каждого клиента</h3>
                  <div class="services-type__advantages-text">
                    <p>Сумма финансирования, срок договора, размер аванса&nbsp;&mdash; подбираются под потребности и&nbsp;возможности.</p>
                  </div>
                </div>
                <div class="services-type__advantages-item">
                  <h3>Предмет лизинга на выбор клиента</h3>
                  <div class="services-type__advantages-text">
                    <p>Новое или подержанное оборудование любого типа (МК&nbsp;Лизинг финансирует все отрасли и&nbsp;сегменты.</p>
                  </div>
                </div>
                <div class="services-type__advantages-item">
                  <h3>Бесконтактный сервис</h3>
                  <div class="services-type__advantages-text">
                    <p>Сервис и&nbsp;услуги доступны в&nbsp;полном объеме в&nbsp;режиме онлайн.</p>
                  </div>
                </div>
              </div>
              <div class="services-type__advantages-group services-type__advantages-group">
                <div class="services-type__advantages-item">
                  <h3>Экспресс-рассмотрение заявки на&nbsp;лизинг</h3>
                  <div class="services-type__advantages-text">
                    <p>Клиент получает решение об&nbsp;условиях финансирования в&nbsp;день подачи заявки.</p>
                  </div>
                </div>
                <div class="services-type__advantages-item">
                  <h3>Минимальный пакет документов</h3>
                  <div class="services-type__advantages-text">
                    <p>Клиента предоставляет минимум документов для рассмотрения заявки на&nbsp;лизинг.</p>
                  </div>
                </div>
                <div class="services-type__advantages-item">
                  <h3>Без территориальной привязки</h3>
                  <div class="services-type__advantages-text">
                    <p>Финансирование по&nbsp;всей России</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="services-type__text services-type__text--underline services-type__text--companies">
              <p>Подробная информация на сайте : <a class="services-type__text-link services-type__text-link--accent" href="www.mkleasing.ru">www.mkleasing.ru</a></p>
            </div>
          </li>
          <li class="services-type__companies-item">
            <div class="services-type__companies-wrapper">
              <h3 class="services-type__companies-subtitle">Лизинговая компания «Балтийский&nbsp;лизинг»</h3>
              <div class="services-type__companies-image">
                <picture>
                  <source width="352" height="233" type="image/webp" media="(min-width: 768px)" srcset="img/brands/baltic-tablet@1x.webp 1x, img/brands/baltic-tablet@2x.webp 2x">
                  <source width="304" height="90" type="image/webp" srcset="img/brands/baltic-mobile@1x.webp 1x, img/brands/baltic-mobile@2x.webp 2x">
                  <source width="352" height="233" type="image/png" media="(min-width: 768px)" srcset="img/brands/baltic-tablet@1x.png 1x, img/brands/baltic-tablet@2x.png 2x">
                  <img src="img/brands/baltic-mobile@1x.png" srcset="img/brands/baltic-mobile@2x.png 2x" width="304" height="90" alt="Логотип лизинговой компании Балтийский лизинг.">
                </picture>
              </div>
            </div>
            <div class="services-type__advantages">
              <div class="services-type__advantages-group services-type__advantages-group--center">
                <div class="services-type__advantages-item">
                  <h3>Выгодные условия финансирования. Индивидуальный подход к&nbsp;каждому клиенту.</h3>
                </div>
                <div class="services-type__advantages-item">
                  <h3>Опыт привлечения международного финансирования и&nbsp;работы по&nbsp;импортным контрактам любой сложности.</h3>
                </div>
                <div class="services-type__advantages-item">
                  <h3>Долгосрочное сотрудничество с&nbsp;ведущими производителями и&nbsp;поставщиками оборудования, специальной техники и&nbsp;автотранспорта.</h3>
                </div>
              </div>
              <div class="services-type__advantages-group services-type__advantages-group--center">
                <div class="services-type__advantages-item">
                  <h3>Различные варианты графиков лизинговых платежей, в&nbsp;том числе с&nbsp;учетом сезонности бизнеса.</h3>
                </div>
                <div class="services-type__advantages-item">
                  <h3>Финансирование сложно структурированных проектов.</h3>
                </div>
                <div class="services-type__advantages-item">
                  <h3>Финансовая надежность нашей компании&nbsp;— гарантия сохранности лизингового имущества.</h3>
                </div>
              </div>
            </div>
            <div class="services-type__text services-type__text--underline services-type__text--companies">
              <p>Более подробную информацию можно узнать на <a class="services-type__text-link services-type__text-link--accent" href="www.baltlease.ru">www.baltlease.ru</a> или в&nbsp;офисах компании.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
