<section class="services">
  <div class="container">
    <h1 class="services__title">Сервис и поддержка</h1>
    <ol class="services__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Сервис и поддержка</span>
      </li>
    </ol>
    <div class="services__wrapper">
      <ul class="services__list">
        <li class="services__item">
          <div class="services__card accordion">
            <div class="services__card-img">
              <picture>
                <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/guarantee-tablet@1x.webp 1x, ../img/service/guarantee-tablet@2x.webp 2x">
                <source width="313" height="327" type="image/webp" srcset="../img/service/guarantee-mobile@1x.webp 1x, ../img/service/guarantee-mobile@2x.webp 2x">
                <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/guarantee-tablet@1x.jpg 1x, ../img/service/guarantee-tablet@2x.jpg 2x">
                <img src="../img/service/guarantee-mobile@1x.jpg" srcset="../img/service/guarantee-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
              </picture>
            </div>
            <h3 class="services__card-subtitle">
              <button class="services__card-subtitle-button accordion-button" type="button">Гарантийный и послегарантийный ремонт станков</button>
            </h3>
            <div class="services__card-details accordion-content">
              <div class="services__card-content">
                <p>Своевременный ремонт позволяет минимизировать простой, увеличить срок службы станков и&nbsp;обеспечить эффективность производства.</p>
              </div>
              <a class="services__card-link" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="services__card accordion">
            <div class="services__card-img">
              <picture>
                <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/program-tablet@1x.webp 1x, ../img/service/program-tablet@2x.webp 2x">
                <source width="313" height="327" type="image/webp" srcset="../img/service/program-mobile@1x.webp 1x, ../img/service/program-mobile@2x.webp 2x">
                <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/program-tablet@1x.jpg 1x, ../img/service/program-tablet@2x.jpg 2x">
                <img src="../img/service/program-mobile@1x.jpg" srcset="../img/service/program-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
              </picture>
            </div>
            <h3 class="services__card-subtitle">
              <button class="services__card-subtitle-button accordion-button" type="button">Написание программ для изготовления деталей</button>
            </h3>
            <div class="services__card-details accordion-content">
              <div class="services__card-content">
                <p>Кроме разработки САПР и&nbsp;обучения специалистов предприятий работе в&nbsp;ней, специалисты ООО «НЕО-ЛИД» так&nbsp;же оказывают услуги по&nbsp;написанию управляющих программ «под ключ».</p>
              </div>
              <a class="services__card-link" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="services__card accordion">
            <div class="services__card-img">
              <picture>
                <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/installation-tablet@1x.webp 1x, ../img/service/installation-tablet@2x.webp 2x">
                <source width="313" height="327" type="image/webp" srcset="../img/service/installation-mobile@1x.webp 1x, ../img/service/installation-mobile@2x.webp 2x">
                <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/installation-tablet@1x.jpg 1x, ../img/service/installation-tablet@2x.jpg 2x">
                <img src="../img/service/installation-mobile@1x.jpg" srcset="../img/service/installation-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
              </picture>
            </div>
            <h3 class="services__card-subtitle">
              <button class="services__card-subtitle-button accordion-button" type="button">Монтажные и пусконаладочные <br>работы станков ЧПУ</button>
            </h3>
            <div class="services__card-details accordion-content">
              <div class="services__card-content">
                <p>Современное электрооборудование отличается высокой сложностью и&nbsp;точностью работы. Оно может значительно облегчить, ускорить процесс производства. Но&nbsp;для корректной работы станочного прибора с&nbsp;числовым программным управлением его необходимо правильно настроить.</p>
              </div>
              <a class="services__card-link" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="services__card accordion">
            <div class="services__card-img">
              <picture>
                <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/briefing-tablet@1x.webp 1x, ../img/service/briefing-tablet@2x.webp 2x">
                <source width="313" height="327" type="image/webp" srcset="../img/service/briefing-mobile@1x.webp 1x, ../img/service/briefing-mobile@2x.webp 2x">
                <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/briefing-tablet@1x.jpg 1x, ../img/service/briefing-tablet@2x.jpg 2x">
                <img src="../img/service/briefing-mobile@1x.jpg" srcset="../img/service/briefing-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
              </picture>
            </div>
            <h3 class="services__card-subtitle">
              <button class="services__card-subtitle-button accordion-button" type="button">Инструктаж <br>оператора</button>
            </h3>
            <div class="services__card-details accordion-content">
              <div class="services__card-content">
                <p>Мы&nbsp;готовы провести обучение технического персонала вопросам наладки, эксплуатации и&nbsp;обслуживания оборудования.</p>
              </div>
              <a class="services__card-link" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="services__card accordion">
            <div class="services__card-img">
              <picture>
                <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/diagnostic-tablet@1x.webp 1x, ../img/service/diagnostic-tablet@2x.webp 2x">
                <source width="313" height="327" type="image/webp" srcset="../img/service/diagnostic-mobile@1x.webp 1x, ../img/service/diagnostic-mobile@2x.webp 2x">
                <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/diagnostic-tablet@1x.jpg 1x, ../img/service/diagnostic-tablet@2x.jpg 2x">
                <img src="../img/service/diagnostic-mobile@1x.jpg" srcset="../img/service/diagnostic-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
              </picture>
            </div>
            <h3 class="services__card-subtitle">
              <button class="services__card-subtitle-button accordion-button" type="button">Диагностика оборудования</button>
            </h3>
            <div class="services__card-details accordion-content">
              <div class="services__card-content">
                <p>Диагностирование&nbsp;- один из&nbsp;элементов системы технического обслуживания. Основная его цель&nbsp;- достижение максимальной эффективности эксплуатации станков&nbsp;и, в&nbsp;частности, сведение до&nbsp;минимума затрат на&nbsp;их&nbsp;обслуживание.</p>
              </div>
              <a class="services__card-link" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="services__card accordion">
            <div class="services__card-img">
              <picture>
                <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/sharpening-tablet@1x.webp 1x, ../img/service/sharpening-tablet@2x.webp 2x">
                <source width="313" height="327" type="image/webp" srcset="../img/service/sharpening-mobile@1x.webp 1x, ../img/service/sharpening-mobile@2x.webp 2x">
                <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/sharpening-tablet@1x.jpg 1x, ../img/service/sharpening-tablet@2x.jpg 2x">
                <img src="../img/service/sharpening-mobile@1x.jpg" srcset="../img/service/sharpening-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
              </picture>
            </div>
            <h3 class="services__card-subtitle">
              <button class="services__card-subtitle-button accordion-button" type="button">Заточка инструмента</button>
            </h3>
            <div class="services__card-details accordion-content">
              <div class="services__card-content">
                <p>Мы&nbsp;предоставляем такой широчайший формат услуг по&nbsp;заточке пил, как: ЧПУ заточка дисковых пил, заточка насадных фрез, заточка концевых фраз, присадочных сверл, строгальных ножей, заточка цепей для лесопильного оборудования, шлифовка ножей и&nbsp;заточка гильотин.</p>
              </div>
              <a class="services__card-link" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="services__card accordion">
            <div class="services__card-img">
              <picture>
                <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/used-tablet@1x.webp 1x, ../img/service/used-tablet@2x.webp 2x">
                <source width="313" height="327" type="image/webp" srcset="../img/service/used-mobile@1x.webp 1x, ../img/service/used-mobile@2x.webp 2x">
                <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/used-tablet@1x.jpg 1x, ../img/service/used-tablet@2x.jpg 2x">
                <img src="../img/service/used-mobile@1x.jpg" srcset="../img/service/used-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
              </picture>
            </div>
            <h3 class="services__card-subtitle">
              <button class="services__card-subtitle-button accordion-button" type="button">Подбор бывших в&nbsp;употреблении станков</button>
            </h3>
            <div class="services__card-details accordion-content">
              <div class="services__card-content">
                <p>Каждое производство требует оптимизации затрат и&nbsp;эффективного распределения средств. Это решается, в&nbsp;том числе, установкой оборудования более низкой стоимости. Этого можно достичь двумя путями.</p>
              </div>
              <a class="services__card-link" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="services__card accordion">
            <div class="services__card-img">
              <picture>
                <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/credit-tablet@1x.webp 1x, ../img/service/credit-tablet@2x.webp 2x">
                <source width="313" height="327" type="image/webp" srcset="../img/service/credit-mobile@1x.webp 1x, ../img/service/credit-mobile@2x.webp 2x">
                <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/credit-tablet@1x.jpg 1x, ../img/service/credit-tablet@2x.jpg 2x">
                <img src="../img/service/credit-mobile@1x.jpg" srcset="../img/service/credit-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
              </picture>
            </div>
            <h3 class="services__card-subtitle">
              <button class="services__card-subtitle-button accordion-button" type="button">Лизинг и Кредит</button>
            </h3>
            <div class="services__card-details accordion-content">
              <div class="services__card-content">
                <p>Мы&nbsp;работаем с&nbsp;ведущими лизинговыми компаниями в&nbsp;регионе.Также специалисты компании готовы проконсультировать Вас.</p>
              </div>
              <a class="services__card-link" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="services__card accordion">
            <div class="services__card-img">
              <picture>
                <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/china-tablet@1x.webp 1x, ../img/service/china-tablet@2x.webp 2x">
                <source width="313" height="327" type="image/webp" srcset="../img/service/china-mobile@1x.webp 1x, ../img/service/china-mobile@2x.webp 2x">
                <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/china-tablet@1x.jpg 1x, ../img/service/china-tablet@2x.jpg 2x">
                <img src="../img/service/china-mobile@1x.jpg" srcset="../img/service/china-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
              </picture>
            </div>
            <h3 class="services__card-subtitle">
              <button class="services__card-subtitle-button accordion-button" type="button">Поставки оборудования из&nbsp;Китая</button>
            </h3>
            <div class="services__card-details accordion-content">
              <div class="services__card-content">
                <p>Прямая поставка оборудования из&nbsp;Китая предоставляет Вам возможность купить оборудование напрямую у&nbsp;производителя, не&nbsp;становясь участником ВЭД. Расчеты в&nbsp;рублях по&nbsp;договору поставки.</p>
              </div>
              <a class="services__card-link" href="#">Подробнее</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
