<section class="services-type">
  <div class="container">
    <h1 class="services-type__title">Заточка инструмента</h1>
    <ol class="services-type__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="services.html">Сервисы</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Заточка инструмента</span>
      </li>
    </ol>
    <div class="services-type__wrapper">
      <div class="services-type__img">
        <picture>
          <source width="1520" height="515" type="image/webp" media="(min-width: 768px)" srcset="../img/services-type/sharpening-tablet@1x.webp 1x, ../img/services-type/sharpening-tablet@2x.webp 2x">
          <source width="333" height="183" type="image/webp" srcset="../img/services-type/sharpening-mobile@1x.webp 1x, ../img/services-type/sharpening-mobile@2x.webp 2x">
          <source width="1520" height="515" type="image/png" media="(min-width: 768px)" srcset="../img/services-type/sharpening-tablet@1x.png 1x, ../img/services-type/sharpening-tablet@2x.png 2x">
          <img src="../img/services-type/sharpening-mobile@1x.png" srcset="../img/services-type/sharpening-mobile@2x.png 2x" width="333" height="183" alt="Изображение станка.">
        </picture>
      </div>
      <div class="services-type__description">
        <p>Мы&nbsp;предоставляем такой широчайший формат услуг по&nbsp;заточке пил, как: ЧПУ заточка дисковых пил, заточка насадных фрез, заточка концевых фраз, присадочных сверл, строгальных ножей, заточка цепей для лесопильного оборудования, шлифовка ножей и&nbsp;заточка гильотин. Наш курьер выезжает на&nbsp;Ваш объект для забора инструмента и&nbsp;на&nbsp;нашем производстве делается заточка.</p>
      </div>
      <div class="services-type__advantages">
        <h2 class="services-type__advantages-title">Преимущества</h2>
        <div class="services-type__advantages-group">
          <div class="services-type__advantages-item">
            <h3>Широкий спектр услуг по&nbsp;заточке</h3>
            <div class="services-type__advantages-text">
              <p>Мы&nbsp;выполняем заточку дисковых пил, фрез, сверл, строгальных ножей, цепей, гильотин и&nbsp;другого инструмента. Все операции выполняются на&nbsp;современном оборудовании ЧПУ для точности и&nbsp;долговечности.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Гарантия качества</h3>
            <div class="services-type__advantages-text">
              <p>Мы&nbsp;выполняем заточку дисковых пил, фрез, сверл, строгальных ножей, цепей, гильотин и&nbsp;другого инструмента. Все операции выполняются на&nbsp;современном оборудовании ЧПУ для точности и&nbsp;долговечности.</p>
            </div>
          </div>
        </div>
        <div class="services-type__advantages-group">
          <div class="services-type__advantages-item">
            <h3>Курьерская доставка инструмента</h3>
            <div class="services-type__advantages-text">
              <p>Наш курьер приедет прямо на&nbsp;ваш объект, заберёт инструмент и&nbsp;доставит его в&nbsp;производство. Это экономит ваше время и&nbsp;избавляет от&nbsp;лишних забот.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Оптимальные цены</h3>
            <div class="services-type__advantages-text">
              <p>Мы&nbsp;предлагаем качественные услуги по&nbsp;доступной стоимости, обеспечивая выгодное соотношение цены и&nbsp;результата.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
