<section class="services-type">
  <div class="container">
    <h1 class="services-type__title">Подбор бывших в&nbsp;употреблении станков</h1>
    <ol class="services-type__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="services.html">Сервисы</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Подбор бывших в&nbsp;употреблении станков</span>
      </li>
    </ol>
    <div class="services-type__wrapper">
      <div class="services-type__img">
        <picture>
          <source width="1520" height="515" type="image/webp" media="(min-width: 768px)" srcset="../img/services-type/used-tablet@1x.webp 1x, ../img/services-type/used-tablet@2x.webp 2x">
          <source width="333" height="183" type="image/webp" srcset="../img/services-type/used-mobile@1x.webp 1x, ../img/services-type/used-mobile@2x.webp 2x">
          <source width="1520" height="515" type="image/png" media="(min-width: 768px)" srcset="../img/services-type/used-tablet@1x.png 1x, ../img/services-type/used-tablet@2x.png 2x">
          <img src="../img/services-type/used-mobile@1x.png" srcset="../img/services-type/used-mobile@2x.png 2x" width="333" height="183" alt="Изображение станка.">
        </picture>
      </div>
      <div class="services-type__description">
        <p>Каждое производство требует оптимизации затрат и&nbsp;эффективного распределения средств. Это решается, в&nbsp;том числе, установкой оборудования более низкой стоимости. Этого можно достичь двумя путями. Первый&nbsp;- покупка нового станка ограниченной функциональности. Второй&nbsp;- покупка полноценного станка, бывшего в&nbsp;употреблении. Компания НЕО-ЛИД оказывает услуги по&nbsp;приобретению оборудования на&nbsp;вторичном рынке.</p>
      </div>
      <div class="services-type__advantages">
        <h2 class="services-type__advantages-title">Преимущества</h2>
        <div class="services-type__advantages-group">
          <div class="services-type__advantages-item">
            <h3>Подбор оборудования под&nbsp;задачу</h3>
            <div class="services-type__advantages-text">
              <p>Специалисты компании «НЕО&#8288;-&#8288;ЛИД» помогают выбрать станок с&nbsp;нужным функционалом по&nbsp;оптимальной цене. Мы&nbsp;ориентируемся на&nbsp;ваши задачи и&nbsp;подбираем только то&nbsp;оборудование, которое реально будет работать на&nbsp;вас и&nbsp;окупаться.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Полная диагностика и восстановление</h3>
            <div class="services-type__advantages-text">
              <p>Наши сервисные инженеры проводят диагностику&nbsp;и, при необходимости, выполняют работы по&nbsp;восстановлению характеристик. Вы&nbsp;получаете станок, готовый к&nbsp;полноценной работе без скрытых проблем.</p>
            </div>
          </div>
        </div>
        <div class="services-type__advantages-group">
          <div class="services-type__advantages-item">
            <h3>Техника с&nbsp;минимальным износом</h3>
            <div class="services-type__advantages-text">
              <p>Мы&nbsp;отдаём предпочтение станкам с&nbsp;малым «пробегом» и&nbsp;тщательно проверяем историю их&nbsp;использования. Это позволяет приобрести оборудование, которое прослужит дольше и&nbsp;будет максимально близко к&nbsp;состоянию нового.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Поддержка и настройка после&nbsp;покупки</h3>
            <div class="services-type__advantages-text">
              <p>После установки мы&nbsp;выполняем повторную настройку и&nbsp;наладку оборудования, а&nbsp;также консультируем по&nbsp;правильной эксплуатации. Это гарантирует стабильную работу и&nbsp;сохранение ресурса станка в&nbsp;долгосрочной перспективе.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="services-type__text">
        <p>Стоимость услуги по&nbsp;подбору оборудования обговаривается индивидуально, в&nbsp;зависимости от&nbsp;сложности работ, местоположения товара и&nbsp;стоимости доставки.</p>
      </div>
    </div>
  </div>
</section>
