<section class="services-type">
  <div class="container">
    <h1 class="services-type__title">Инструктаж оператора</h1>
    <ol class="services-type__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="services.html">Сервисы</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Инструктаж оператора</span>
      </li>
    </ol>
    <div class="services-type__wrapper">
      <div class="services-type__img">
        <picture>
          <source width="1520" height="515" type="image/webp" media="(min-width: 768px)" srcset="../img/services-type/briefing-tablet@1x.webp 1x, ../img/services-type/briefing-tablet@2x.webp 2x">
          <source width="333" height="183" type="image/webp" srcset="../img/services-type/briefing-mobile@1x.webp 1x, ../img/services-type/briefing-mobile@2x.webp 2x">
          <source width="1520" height="515" type="image/png" media="(min-width: 768px)" srcset="../img/services-type/briefing-tablet@1x.png 1x, ../img/services-type/briefing-tablet@2x.png 2x">
          <img src="../img/services-type/briefing-mobile@1x.png" srcset="../img/services-type/briefing-mobile@2x.png 2x" width="333" height="183" alt="Изображение станка.">
        </picture>
      </div>
      <div class="services-type__description">
        <p>Компания НЕО&#8288;-&#8288;ЛИД проводит обучение технического персонала по&nbsp;наладке, эксплуатации и&nbsp;обслуживанию оборудования. Мы&nbsp;обучаем специалистов работать правильно и&nbsp;безопасно, что позволяет снизить риск поломок, повысить производительность и&nbsp;продлить срок службы техники. Обучение возможно как на&nbsp;территории заказчика, так и&nbsp;в&nbsp;нашем выставочном зале, где сотрудники получают практические навыки на&nbsp;реальном оборудовании.</p>
      </div>
      <div class="services-type__advantages">
        <h2 class="services-type__advantages-title">Преимущества</h2>
        <div class="services-type__advantages-group">
          <div class="services-type__advantages-item">
            <h3>Обучение на реальном оборудовании</h3>
            <div class="services-type__advantages-text">
              <p>Практика проходит либо на&nbsp;станках заказчика, либо в&nbsp;нашем выставочном зале. Сотрудники учатся в&nbsp;условиях, максимально приближённых к&nbsp;рабочим.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Рост качества и производительности</h3>
            <div class="services-type__advantages-text">
              <p>Знание правильной эксплуатации оборудования напрямую влияет на&nbsp;стабильность работы, качество выпускаемой продукции и&nbsp;общую эффективность производства.</p>
            </div>
          </div>
        </div>
        <div class="services-type__advantages-group">
          <div class="services-type__advantages-item">
            <h3>Снижение рисков и затрат</h3>
            <div class="services-type__advantages-text">
              <p>Обученный персонал реже допускает ошибки, снижает вероятность поломки и&nbsp;простоя оборудования, а&nbsp;значит&nbsp;&mdash; экономит время и&nbsp;деньги предприятия.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Индивидуальный подход к&nbsp;программе</h3>
            <div class="services-type__advantages-text">
              <p>Мы&nbsp;разрабатываем программу обучения с&nbsp;учётом оборудования и&nbsp;задач конкретного предприятия, чтобы обучение давало максимальную практическую пользу.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
