<section class="services-type">
  <div class="container">
    <h1 class="services-type__title">Написание программ для изготовления деталей по&nbsp;вашим эскизам и&nbsp;задачам</h1>
    <ol class="services-type__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="services.html">Сервисы</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Написание программ для изготовления деталей по&nbsp;вашим эскизам и&nbsp;задачам</span>
      </li>
    </ol>
    <div class="services-type__wrapper">
      <div class="services-type__img">
        <picture>
          <source width="1520" height="515" type="image/webp" media="(min-width: 768px)" srcset="img/services-type/programs-tablet@1x.webp 1x, img/services-type/programs-tablet@2x.webp 2x">
          <source width="333" height="183" type="image/webp" srcset="img/services-type/programs-mobile@1x.webp 1x, img/services-type/programs-mobile@2x.webp 2x">
          <source width="1520" height="515" type="image/png" media="(min-width: 768px)" srcset="img/services-type/programs-tablet@1x.png 1x, img/services-type/programs-tablet@2x.png 2x">
          <img src="img/services-type/programs-mobile@1x.png" srcset="img/services-type/programs-mobile@2x.png 2x" width="333" height="183" alt="Изображение станка.">
        </picture>
      </div>
      <div class="services-type__description">
        <p>Кроме разработки САПР и&nbsp;обучения специалистов предприятий работе в&nbsp;ней, специалисты ООО «НЕО&#8288;-&#8288;ЛИД»; так&nbsp;же оказывают услуги по&nbsp;написанию управляющих программ «под&nbsp;ключ».</p>
        <p>Услуга заключается в&nbsp;том, что специалисты ООО «НЕО&#8288;-&#8288;ЛИД» берут на&nbsp;себя часть работы заводских технологов-программистов. Такой подход может стать рациональным выходом из&nbsp;ситуации, когда технологи предприятия перегружены работой, либо поставленная задача является слишком сложной и&nbsp;трудоёмкой и&nbsp;её&nbsp;выполнение отнимет непозволительно много времени, сил и&nbsp;средств у&nbsp;специалистов самого предприятия, чем если&nbsp;бы этой задачей занимались аутсорсеры.</p>
      </div>
      <div class="services-type__advantages">
        <h2 class="services-type__advantages-title">Преимущества</h2>
        <div class="services-type__advantages-group">
          <div class="services-type__advantages-item">
            <h3>Аутсорсинг сложных задач</h3>
            <div class="services-type__advantages-text">
              <p>Мы&nbsp;берём на&nbsp;себя часть работы заводских технологов-программистов, когда они перегружены или задача слишком сложна и&nbsp;трудоёмка. Это экономит время и&nbsp;ресурсы предприятия.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>УП&nbsp;«под ключ» с&nbsp;учётом всех нюансов</h3>
            <div class="services-type__advantages-text">
              <p>При создании управляющих программ учитываем технологию обработки, особенности инструмента и&nbsp;конкретного оборудования, что гарантирует точность и&nbsp;стабильность работы.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Оптимизация с&nbsp;помощью постпроцессоров</h3>
            <div class="services-type__advantages-text">
              <p>Опыт в&nbsp;написании постпроцессоров позволяет использовать весь функционал станка, сокращая время отладки и&nbsp;увеличивая эффективность производства.</p>
            </div>
          </div>
        </div>
        <div class="services-type__advantages-group">
          <div class="services-type__advantages-item">
            <h3>Многолетний опыт в&nbsp;разных отраслях</h3>
            <div class="services-type__advantages-text">
              <p>Работаем с&nbsp;компаниями из&nbsp;различных сфер промышленности, поэтому уверенно решаем задачи по&nbsp;механообработке на&nbsp;оборудовании с&nbsp;ЧПУ любой сложности.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Подбор инструмента и оснастки</h3>
            <div class="services-type__advantages-text">
              <p>Берём на&nbsp;себя полный цикл подбора режущего инструмента и&nbsp;оборудования, снижая риск ошибок и&nbsp;облегчая работу заказчику.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Гарантированный результат</h3>
            <div class="services-type__advantages-text">
              <p>Клиент получает готовый техпроцесс, рекомендации по&nbsp;инструменту и&nbsp;оснастке, а&nbsp;также отлаженную управляющую программу, обеспечивающую выпуск годных деталей с&nbsp;первого раза.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="services-type__text">
        <p>Стоимость услуг по&nbsp;написанию УП&nbsp;«под ключ» рассчитывается индивидуально в&nbsp;каждом случае, с&nbsp;учётом сложности обрабатываемой детали и&nbsp;оборудования. За&nbsp;расчётом стоимости вы&nbsp;всегда можете обратиться в&nbsp;офис ООО «НЕО&#8288;-&#8288;ЛИД», либо отправив запрос с&nbsp;чертежом детали на&nbsp;адрес&nbsp;эл.&nbsp;почты <br><a class="services-type__text-link" href="mailto:neolid.chel@gmail.com">neolid.chel@gmail.com</a></p>
      </div>
    </div>
  </div>
</section>
