<section class="services-type">
  <div class="container">
    <h1 class="services-type__title">Прямые поставки оборудования из&nbsp;Китая</h1>
    <ol class="services-type__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="services.html">Сервисы</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Прямые поставки оборудования из&nbsp;Китая</span>
      </li>
    </ol>
    <div class="services-type__wrapper">
      <div class="services-type__img">
        <picture>
          <source width="1520" height="515" type="image/webp" media="(min-width: 768px)" srcset="../img/services-type/china-tablet@1x.webp 1x, ../img/services-type/china-tablet@2x.webp 2x">
          <source width="333" height="183" type="image/webp" srcset="../img/services-type/china-mobile@1x.webp 1x, ../img/services-type/china-mobile@2x.webp 2x">
          <source width="1520" height="515" type="image/png" media="(min-width: 768px)" srcset="../img/services-type/china-tablet@1x.png 1x, ../img/services-type/china-tablet@2x.png 2x">
          <img src="../img/services-type/china-mobile@1x.png" srcset="../img/services-type/china-mobile@2x.png 2x" width="333" height="183" alt="Изображение станка.">
        </picture>
      </div>
      <div class="services-type__description">
        <p>Прямая поставка оборудования из&nbsp;Китая предоставляет Вам возможность купить оборудование напрямую у&nbsp;производителя, не&nbsp;становясь участником ВЭД. Расчеты в&nbsp;рублях по&nbsp;договору поставки.</p>
      </div>
      <div class="services-type__advantages">
        <h2 class="services-type__advantages-title">Преимущества</h2>
        <div class="services-type__advantages-group services-type__advantages-group--united">
          <div class="services-type__advantages-item">
            <h3>Цена ниже чем у&nbsp;дистрибьюторов</h3>
            <div class="services-type__advantages-text">
              <p>Мы&nbsp;работаем напрямую с&nbsp;производителями в&nbsp;Китае, поэтому вы&nbsp;получаете оборудование без наценок посредников и&nbsp;экономите бюджет.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Любая оснастка и характеристики</h3>
            <div class="services-type__advantages-text">
              <p>Заказываем оборудование по&nbsp;вашим требованиям: мощность, габариты, комплектация&nbsp;— всё под ваш проект.</p>
            </div>
          </div>
        </div>
        <div class="services-type__advantages-group services-type__advantages-group--united">
          <div class="services-type__advantages-item">
            <h3>Индивидуальное решение</h3>
            <div class="services-type__advantages-text">
              <p>Подбираем оборудование под конкретные задачи вашего бизнеса: от&nbsp;консультации до&nbsp;доставки и&nbsp;запуска.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="services-type__text">
        Оборудование из&nbsp;Китая, станки и&nbsp;производственные линии отличают три основные характеристики: надежность, производительность и&nbsp;стоимость. Именно это сочетание привлекает российский бизнес, тем более что альтернативные решения в&nbsp;последние годы стали менее доступны.
      </div>
      <div class="services-type__solution">
        <h2 class="services-type__solution-title">Комплексное решение</h2>
        <ul class="services-type__solution-list">
          <li class="services-type__solution-item">Осуществление поиска и проверки благонадежности поставщиков;</li>
          <li class="services-type__solution-item">Проведение переговоров на языке производителя, исключая недопонимание;</li>
          <li class="services-type__solution-item">Заключение международного контракта на согласованных с&nbsp;вами условиях, обеспечивая проведение валютных платежей в&nbsp;адрес производителя;</li>
          <li class="services-type__solution-item">Контроль готовности товара и проверка количества и качества на&nbsp;загрузке;</li>
          <li class="services-type__solution-item">Обеспечение мультимодальной международной доставки любым видом транспорта, опираясь на&nbsp;сочетание скорости, цены, сохранности груза;</li>
          <li class="services-type__solution-item">Организация сертификации продукции;</li>
          <li class="services-type__solution-item">Выполнение таможенного оформления груза;</li>
          <li class="services-type__solution-item">Передача поставленного оборудования на&nbsp;складе заказчика с&nbsp;полным комплектом товаросопроводительных документов, в&nbsp;строгом соответствии ГК&nbsp;РФ.</li>
        </ul>
      </div>
      <div class="services-type__equipment">
        <h2 class="services-type__equipment-title">Мы осуществляем поставки практически любых видов оборудования из&nbsp;Китая:</h2>
        <ul class="services-type__equipment-list">
          <li class="services-type__equipment-item">
            <a class="services-type__equipment-card" href="#" data-modal-button="callback-form">
              <div class="services-type__equipment-img">
                <picture>
                  <source width="307" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/equipment/lathe-tablet@1x.webp 1x, ../img/equipment/lathe-tablet@2x.webp 2x">
                  <source width="142" height="105" type="image/webp" srcset="../img/equipment/lathe-mobile@1x.webp 1x, ../img/equipment/lathe-mobile@2x.webp 2x">
                  <source width="307" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/equipment/lathe-tablet@1x.png 1x, ../img/equipment/lathe-tablet@2x.png 2x">
                  <img src="../img/equipment/lathe-mobile@1x.png" srcset="../img/equipment/lathe-mobile@2x.png 2x" width="142" height="105" alt="Товар 1.">
                </picture>
              </div>
              <h3 class="services-type__equipment-subtitle">Станки</h3>
            </a>
          </li>
          <li class="services-type__equipment-item">
            <a class="services-type__equipment-card" href="#" data-modal-button="callback-form">
              <div class="services-type__equipment-img">
                <picture>
                  <source width="307" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/equipment/construction-tablet@1x.webp 1x, ../img/equipment/construction-tablet@2x.webp 2x">
                  <source width="142" height="105" type="image/webp" srcset="../img/equipment/construction-mobile@1x.webp 1x, ../img/equipment/construction-mobile@2x.webp 2x">
                  <source width="307" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/equipment/construction-tablet@1x.png 1x, ../img/equipment/construction-tablet@2x.png 2x">
                  <img src="../img/equipment/construction-mobile@1x.png" srcset="../img/equipment/construction-mobile@2x.png 2x" width="142" height="105" alt="Товар 1.">
                </picture>
              </div>
              <h3 class="services-type__equipment-subtitle">Строительное оборудование</h3>
            </a>
          </li>
          <li class="services-type__equipment-item">
            <a class="services-type__equipment-card" href="#" data-modal-button="callback-form">
              <div class="services-type__equipment-img">
                <picture>
                  <source width="307" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/equipment/commercial-tablet@1x.webp 1x, ../img/equipment/commercial-tablet@2x.webp 2x">
                  <source width="142" height="105" type="image/webp" srcset="../img/equipment/commercial-mobile@1x.webp 1x, ../img/equipment/commercial-mobile@2x.webp 2x">
                  <source width="307" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/equipment/commercial-tablet@1x.png 1x, ../img/equipment/commercial-tablet@2x.png 2x">
                  <img src="../img/equipment/commercial-mobile@1x.png" srcset="../img/equipment/commercial-mobile@2x.png 2x" width="142" height="105" alt="Товар 1.">
                </picture>
              </div>
              <h3 class="services-type__equipment-subtitle">Торговое оборудование</h3>
            </a>
          </li>
          <li class="services-type__equipment-item">
            <a class="services-type__equipment-card" href="#" data-modal-button="callback-form">
              <div class="services-type__equipment-img">
                <picture>
                  <source width="307" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/equipment/food-tablet@1x.webp 1x, ../img/equipment/food-tablet@2x.webp 2x">
                  <source width="142" height="105" type="image/webp" srcset="../img/equipment/food-mobile@1x.webp 1x, ../img/equipment/food-mobile@2x.webp 2x">
                  <source width="307" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/equipment/food-tablet@1x.png 1x, ../img/equipment/food-tablet@2x.png 2x">
                  <img src="../img/equipment/food-mobile@1x.png" srcset="../img/equipment/food-mobile@2x.png 2x" width="142" height="105" alt="Товар 1.">
                </picture>
              </div>
              <h3 class="services-type__equipment-subtitle">Пищевое оборудование</h3>
            </a>
          </li>
          <li class="services-type__equipment-item">
            <a class="services-type__equipment-card" href="#" data-modal-button="callback-form">
              <div class="services-type__equipment-img">
                <picture>
                  <source width="307" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/equipment/industrial-tablet@1x.webp 1x, ../img/equipment/industrial-tablet@2x.webp 2x">
                  <source width="142" height="105" type="image/webp" srcset="../img/equipment/industrial-mobile@1x.webp 1x, ../img/equipment/industrial-mobile@2x.webp 2x">
                  <source width="307" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/equipment/industrial-tablet@1x.png 1x, ../img/equipment/industrial-tablet@2x.png 2x">
                  <img src="../img/equipment/industrial-mobile@1x.png" srcset="../img/equipment/industrial-mobile@2x.png 2x" width="142" height="105" alt="Товар 1.">
                </picture>
              </div>
              <h3 class="services-type__equipment-subtitle">Промышленное оборудование</h3>
            </a>
          </li>
          <li class="services-type__equipment-item">
            <a class="services-type__equipment-card" href="#" data-modal-button="callback-form">
              <div class="services-type__equipment-img">
                <picture>
                  <source width="307" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/equipment/cosmetology-tablet@1x.webp 1x, ../img/equipment/cosmetology-tablet@2x.webp 2x">
                  <source width="142" height="105" type="image/webp" srcset="../img/equipment/cosmetology-mobile@1x.webp 1x, ../img/equipment/cosmetology-mobile@2x.webp 2x">
                  <source width="307" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/equipment/cosmetology-tablet@1x.png 1x, ../img/equipment/cosmetology-tablet@2x.png 2x">
                  <img src="../img/equipment/cosmetology-mobile@1x.png" srcset="../img/equipment/cosmetology-mobile@2x.png 2x" width="142" height="105" alt="Товар 1.">
                </picture>
              </div>
              <h3 class="services-type__equipment-subtitle">Косметологическое оборудование</h3>
            </a>
          </li>
          <li class="services-type__equipment-item">
            <a class="services-type__equipment-card" href="#" data-modal-button="callback-form">
              <div class="services-type__equipment-img">
                <picture>
                  <source width="307" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/equipment/tire-tablet@1x.webp 1x, ../img/equipment/tire-tablet@2x.webp 2x">
                  <source width="142" height="105" type="image/webp" srcset="../img/equipment/tire-mobile@1x.webp 1x, ../img/equipment/tire-mobile@2x.webp 2x">
                  <source width="307" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/equipment/tire-tablet@1x.png 1x, ../img/equipment/tire-tablet@2x.png 2x">
                  <img src="../img/equipment/tire-mobile@1x.png" srcset="../img/equipment/tire-mobile@2x.png 2x" width="142" height="105" alt="Товар 1.">
                </picture>
              </div>
              <h3 class="services-type__equipment-subtitle">Оборудование для шиномонтажа</h3>
            </a>
          </li>
          <li class="services-type__equipment-item">
            <a class="services-type__equipment-card" href="#" data-modal-button="callback-form">
              <div class="services-type__equipment-img">
                <picture>
                  <source width="307" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/equipment/business-tablet@1x.webp 1x, ../img/equipment/business-tablet@2x.webp 2x">
                  <source width="142" height="105" type="image/webp" srcset="../img/equipment/business-mobile@1x.webp 1x, ../img/equipment/business-mobile@2x.webp 2x">
                  <source width="307" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/equipment/business-tablet@1x.png 1x, ../img/equipment/business-tablet@2x.png 2x">
                  <img src="../img/equipment/business-mobile@1x.png" srcset="../img/equipment/business-mobile@2x.png 2x" width="142" height="105" alt="Товар 1.">
                </picture>
              </div>
              <h3 class="services-type__equipment-subtitle">Оборудование для бизнеса</h3>
            </a>
          </li>
          <li class="services-type__equipment-item">
            <a class="services-type__equipment-card" href="#" data-modal-button="callback-form">
              <div class="services-type__equipment-img">
                <picture>
                  <source width="307" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/equipment/stomatology-tablet@1x.webp 1x, ../img/equipment/stomatology-tablet@2x.webp 2x">
                  <source width="142" height="105" type="image/webp" srcset="../img/equipment/stomatology-mobile@1x.webp 1x, ../img/equipment/stomatology-mobile@2x.webp 2x">
                  <source width="307" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/equipment/stomatology-tablet@1x.png 1x, ../img/equipment/stomatology-tablet@2x.png 2x">
                  <img src="../img/equipment/stomatology-mobile@1x.png" srcset="../img/equipment/stomatology-mobile@2x.png 2x" width="142" height="105" alt="Товар 1.">
                </picture>
              </div>
              <h3 class="services-type__equipment-subtitle">Стоматологическое оборудование</h3>
            </a>
          </li>
          <li class="services-type__equipment-item">
            <a class="services-type__equipment-card" href="#" data-modal-button="callback-form">
              <div class="services-type__equipment-img">
                <picture>
                  <source width="307" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/equipment/refrigeration-tablet@1x.webp 1x, ../img/equipment/refrigeration-tablet@2x.webp 2x">
                  <source width="142" height="105" type="image/webp" srcset="../img/equipment/refrigeration-mobile@1x.webp 1x, ../img/equipment/refrigeration-mobile@2x.webp 2x">
                  <source width="307" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/equipment/refrigeration-tablet@1x.png 1x, ../img/equipment/refrigeration-tablet@2x.png 2x">
                  <img src="../img/equipment/refrigeration-mobile@1x.png" srcset="../img/equipment/refrigeration-mobile@2x.png 2x" width="142" height="105" alt="Товар 1.">
                </picture>
              </div>
              <h3 class="services-type__equipment-subtitle">Холодильное оборудование</h3>
            </a>
          </li>
          <li class="services-type__equipment-item">
            <a class="services-type__equipment-card" href="#" data-modal-button="callback-form">
              <div class="services-type__equipment-img">
                <picture>
                  <source width="307" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/equipment/stomatology-tablet@1x.webp 1x, ../img/equipment/stomatology-tablet@2x.webp 2x">
                  <source width="142" height="105" type="image/webp" srcset="../img/equipment/stomatology-mobile@1x.webp 1x, ../img/equipment/stomatology-mobile@2x.webp 2x">
                  <source width="307" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/equipment/stomatology-tablet@1x.png 1x, ../img/equipment/stomatology-tablet@2x.png 2x">
                  <img src="../img/equipment/stomatology-mobile@1x.png" srcset="../img/equipment/stomatology-mobile@2x.png 2x" width="142" height="105" alt="Товар 1.">
                </picture>
              </div>
              <h3 class="services-type__equipment-subtitle">Экструзионные линии</h3>
            </a>
          </li>
          <li class="services-type__equipment-item">
            <a class="services-type__equipment-card" href="#" data-modal-button="callback-form">
              <div class="services-type__equipment-img">
                <picture>
                  <source width="307" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/equipment/refrigeration-tablet@1x.webp 1x, ../img/equipment/refrigeration-tablet@2x.webp 2x">
                  <source width="142" height="105" type="image/webp" srcset="../img/equipment/refrigeration-mobile@1x.webp 1x, ../img/equipment/refrigeration-mobile@2x.webp 2x">
                  <source width="307" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/equipment/refrigeration-tablet@1x.png 1x, ../img/equipment/refrigeration-tablet@2x.png 2x">
                  <img src="../img/equipment/refrigeration-mobile@1x.png" srcset="../img/equipment/refrigeration-mobile@2x.png 2x" width="142" height="105" alt="Товар 1.">
                </picture>
              </div>
              <h3 class="services-type__equipment-subtitle">Дерево&shy;обрабатывающее оборудование</h3>
            </a>
          </li>
        </ul>
        <p class="services-type__equipment-add-title">А&nbsp;также</p>
        <ul class="services-type__equipment-add-list">
          <li class="services-type__equipment-add-item">
            <a class="services-type__equipment-add-link" href="=#" data-modal-button="callback-form">Металлообрабатывающее оборудование</a>
          </li>
          <li class="services-type__equipment-add-item">
            <a class="services-type__equipment-add-link" href="=#" data-modal-button="callback-form">Многофункциональное оборудование</a>
          </li>
          <li class="services-type__equipment-add-item">
            <a class="services-type__equipment-add-link" href="=#" data-modal-button="callback-form">Нагревательное оборудование</a>
          </li>
          <li class="services-type__equipment-add-item">
            <a class="services-type__equipment-add-link" href="=#" data-modal-button="callback-form">Отопительное оборудование</a>
          </li>
          <li class="services-type__equipment-add-item">
            <a class="services-type__equipment-add-link" href="=#" data-modal-button="callback-form">Оборудование для производства изделий из&nbsp;пластмасс</a>
          </li>
          <li class="services-type__equipment-add-item">
            <a class="services-type__equipment-add-link" href="=#" data-modal-button="callback-form">Оборудование для производства картона</a>
          </li>
          <li class="services-type__equipment-add-item">
            <a class="services-type__equipment-add-link" href="=#" data-modal-button="callback-form">Оборудование для производства бумаги</a>
          </li>
          <li class="services-type__equipment-add-item">
            <a class="services-type__equipment-add-link" href="=#" data-modal-button="callback-form">Погрузочно-разгрузочное оборудование</a>
          </li>
          <li class="services-type__equipment-add-item">
            <a class="services-type__equipment-add-link" href="=#" data-modal-button="callback-form">Подъемно-транспортное оборудование</a>
          </li>
          <li class="services-type__equipment-add-item">
            <a class="services-type__equipment-add-link" href="=#" data-modal-button="callback-form">Оборудование для фильтрации</a>
          </li>
          <li class="services-type__equipment-add-item">
            <a class="services-type__equipment-add-link" href="=#" data-modal-button="callback-form">Теплоэнергетическое оборудование</a>
          </li>
          <li class="services-type__equipment-add-item">
            <a class="services-type__equipment-add-link" href="=#" data-modal-button="callback-form">Оборудование для производтсва электротехнических изделий</a>
          </li>
          <li class="services-type__equipment-add-item">
            <a class="services-type__equipment-add-link" href="=#" data-modal-button="callback-form">Оборудование для утилизации</a>
          </li>
          <li class="services-type__equipment-add-item">
            <a class="services-type__equipment-add-link" href="=#" data-modal-button="callback-form">Оборудование для очистки</a>
          </li>
        </ul>
      </div>
      <div class="services-type__text">
        <p>Если вас интересует оборудование из&nbsp;Китая, задайте вопросы нашим специалистам по&nbsp;телефону: <a class="services-type__text-link" href="tel:+79080857360">+7&nbsp;908&nbsp;085&nbsp;73&nbsp;60</a> или <a class="services-type__text-link" href="#" data-modal-button="callback-form">оставьте заявку</a>. Мы&nbsp;подберем для вас лучший вариант поставки напрямую от&nbsp;завода-изготовителя!</p>
      </div>
    </div>
  </div>
</section>
