<section class="services-type">
  <div class="container">
    <h1 class="services-type__title">Монтажные и пусконаладочные работы: настройка станков ЧПУ</h1>
    <ol class="services-type__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="services.html">Сервисы</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Монтажные и пусконаладочные работы: настройка станков ЧПУ</span>
      </li>
    </ol>
    <div class="services-type__wrapper">
      <div class="services-type__img">
        <picture>
          <source width="1520" height="515" type="image/webp" media="(min-width: 768px)" srcset="../img/services-type/installation-tablet@1x.webp 1x, ../img/services-type/installation-tablet@2x.webp 2x">
          <source width="333" height="183" type="image/webp" srcset="../img/services-type/installation-mobile@1x.webp 1x, ../img/services-type/installation-mobile@2x.webp 2x">
          <source width="1520" height="515" type="image/png" media="(min-width: 768px)" srcset="../img/services-type/installation-tablet@1x.png 1x, ../img/services-type/installation-tablet@2x.png 2x">
          <img src="../img/services-type/installation-mobile@1x.png" srcset="../img/services-type/installation-mobile@2x.png 2x" width="333" height="183" alt="Изображение станка.">
        </picture>
      </div>
      <div class="services-type__description">
        <p>Современное электрооборудование отличается высокой сложностью и&nbsp;точностью работы. Оно может значительно облегчить, ускорить процесс производства. Но&nbsp;для корректной работы станочного прибора с&nbsp;числовым программным управлением его необходимо правильно настроить.</p>
      </div>
      <div class="services-type__installation">
        <h2 class="services-type__installation-title">Особенности настройки станков с&nbsp;ЧПУ</h2>
        <div class="services-type__installation-wrapper">
          <div class="services-type__installation-group">
            <div class="services-type__installation-accent">
              <p>При подключении станка с&nbsp;ЧПУ первичная настройка обязательна. Она включает в&nbsp;себя установку&nbsp;ПО, программирование и&nbsp;запуск управляющих систем, проверку работоспособности электроники, механики.</p>
            </div>
            <div class="services-type__installation-text">
              <p>Пусконаладочные работы для станков с&nbsp;ЧПУ требуют от&nbsp;мастера специфических знаний:</p>
            </div>
            <ul class="services-type__installation-list">
              <li>представление о&nbsp;конструкции прибора;</li>
              <li>знакомство с&nbsp;разными режимами аппарата;</li>
              <li>умение использовать технологическую оснастку и&nbsp;смежные инструменты.</li>
            </ul>
            <div class="services-type__installation-accent">
              <p>Основная задача наладки&nbsp;— обеспечить возможность использования оборудования в&nbsp;автоматическом режиме (или в&nbsp;полуавтоматическом&nbsp;— зависит от&nbsp;возможностей станка).</p>
            </div>
          </div>
          <div class="services-type__installation-group services-type__installation-group--additional">
            <div class="services-type__installation-text">
              <p>Стандартная настройка происходит следующим образом:</p>
            </div>
            <ul class="services-type__installation-list">
              <li>Проверка программы без инструмента.</li>
              <li>Обработка первой заготовки (нередко используется тестовый материал&nbsp;— пластик, дешевый металл).</li>
              <li>Создание эталонной детали.</li>
            </ul>
            <div class="services-type__installation-accent">
              <p>Между этапами возможна донастройка оборудования, если результат не&nbsp;соответствует ожиданиям, требованиям спецификаций. Также у&nbsp;каждого станка свои особенности: для горизонтальных моделей необходима проверка соосности отверстий, для токарных изделий&nbsp;— проверка режимов нарезания, для многоцелевых агрегатов&nbsp;— тестирование каждого вида используемой оснастки.</p>
            </div>
          </div>
        </div>
        <h2 class="services-type__installation-title services-type__installation-title--additional">Запуск станка под контролем специалиста&nbsp;— гарантия успеха</h2>
        <div class="services-type__installation-wrapper">
          <div class="services-type__installation-group services-type__installation-group--additional">
            <div class="services-type__installation-text">
              <p>Наша компания занимается установкой различных промышленных агрегатов. В&nbsp;перечень монтажных работ, которые предваряют запуск станка в&nbsp;обычном режиме, входит:</p>
            </div>
            <ul class="services-type__installation-list">
              <li>установка оборудования, внешних устройств, дополнительной оснастки;</li>
              <li>подключение управляющих систем, тестирование исполнительных механизмов;</li>
              <li>подключение станков к&nbsp;ПК, настройка совместимости оборудования.</li>
            </ul>
            <div class="services-type__installation-accent">
              <p>Не&nbsp;забывайте, что при неправильном монтаже производственная техника быстро изнашивается: выходят из&nbsp;строя многие узлы. Профессиональная наладка станка&nbsp;— путь к&nbsp;снижению риска и&nbsp;повышению производительности.</p>
            </div>
          </div>
          <div class="services-type__installation-group services-type__installation-group--light">
            <div class="services-type__installation-text services-type__installation-text--big">
              <p>Мы&nbsp;предлагаем монтаж деревообрабатывающих станков и&nbsp;промышленного оборудования. Также возможен ремонт станков с&nbsp;ЧПУ по&nbsp;гарантии или после ее&nbsp;истечения, диагностика оборудования, заточка инструмента. Работаем в&nbsp;основном в&nbsp;России, но&nbsp;есть офисы и&nbsp;в&nbsp;других городах. Телефон&nbsp;— <a class="services-type__installation-link" href="tel:+79080857360">+7&nbsp;908&nbsp;085&nbsp;7360.</a></p>
              <p>Для ускорения оперативности ответа на&nbsp;рекламации, просим Вас заполнять АКТ РЕКЛАМАЦИИ и&nbsp;присылать по&nbsp;электронной почте на&nbsp;адрес <a class="services-type__installation-link" href="mailto:neo-lid@mail.ru">neo-lid@mail.ru</a></p>
            </div>
            <div class="services-type__installation-download">
              <a class="services-type__download services-type__download--installation" href="#">Загрузить бланк в формате:<span>.pdf, .docx</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
