<section class="services-type">
  <div class="container">
    <h1 class="services-type__title">Гарантийный и послегарантийный ремонт станков</h1>
    <ol class="services-type__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="services.html">Сервисы</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Гарантийный и послегарантийный ремонт станков</span>
      </li>
    </ol>
    <div class="services-type__wrapper">
      <div class="services-type__img">
        <picture>
          <source width="1520" height="515" type="image/webp" media="(min-width: 768px)" srcset="img/services-type/guarantee-tablet@1x.webp 1x, img/services-type/guarantee-tablet@2x.webp 2x">
          <source width="333" height="183" type="image/webp" srcset="img/services-type/guarantee-mobile@1x.webp 1x, img/services-type/guarantee-mobile@2x.webp 2x">
          <source width="1520" height="515" type="image/png" media="(min-width: 768px)" srcset="img/services-type/guarantee-tablet@1x.png 1x, img/services-type/guarantee-tablet@2x.png 2x">
          <img src="img/services-type/guarantee-mobile@1x.png" srcset="img/services-type/guarantee-mobile@2x.png 2x" width="333" height="183" alt="Изображение станка.">
        </picture>
      </div>
      <div class="services-type__description">
        <p>Компания НЕО&#8288;-&#8288;ЛИД выполняет ремонт деревообрабатывающих, металлообрабатывающих и&nbsp;мебельных станков любой сложности. <br>Мы&nbsp;приезжаем прямо на&nbsp;ваш объект, проводим диагностику, находим и&nbsp;заменяем неисправные детали, выполняем настройку и&nbsp;наладку оборудования. Благодаря прямой работе с&nbsp;поставщиками запчастей ремонт проходит быстрее, а&nbsp;сертифицированные инженеры гарантируют надёжность и&nbsp;долгий срок службы вашего оборудования.</p>
      </div>
      <div class="services-type__advantages">
        <h2 class="services-type__advantages-title">Преимущества</h2>
        <div class="services-type__advantages-group">
          <div class="services-type__advantages-item">
            <h3>Сервис без простоев</h3>
            <div class="services-type__advantages-text">
              <p>Все ремонтные работы выполняем прямо на&nbsp;объекте клиента. Отправка оборудования не&nbsp;требуется&nbsp;&mdash; мастер или бригада выезжают на&nbsp;место, проводят диагностику и&nbsp;устраняют неисправности, минимизируя простой производства.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Быстрая поставка запчастей</h3>
            <div class="services-type__advantages-text">
              <p>В&nbsp;отличие от&nbsp;конкурентов, мы&nbsp;напрямую сотрудничаем с&nbsp;поставщиками. Это позволяет быстрее находить нужные запчасти и&nbsp;сокращать сроки ремонта. Заказ комплектующих осуществляется по&nbsp;полной предоплате.</p>
            </div>
          </div>
        </div>
        <div class="services-type__advantages-group">
          <div class="services-type__advantages-item">
            <h3>Опытные сертифицированные инженеры</h3>
            <div class="services-type__advantages-text">
              <p>Наши специалисты имеют большой опыт ремонта деревообрабатывающих, металлообрабатывающих и&nbsp;мебельных станков. Мы&nbsp;выполняем текущий и&nbsp;капитальный ремонт любой сложности, включая восстановление характеристик и&nbsp;полную наладку оборудования.</p>
            </div>
          </div>
          <div class="services-type__advantages-item">
            <h3>Честная система оплаты</h3>
            <div class="services-type__advantages-text">
              <p>Оплата производится только после подписания акта выполненных работ. Стоимость ремонта всегда обсуждается индивидуально и&nbsp;зависит от&nbsp;сложности работ, без скрытых наценок.</p>
            </div>
          </div>
        </div>
      </div>
      <p class="services-type__download">Загрузить бланк в формате:
        <button class="services-type__download-button services-type__download-button--pdf" type="button">.pdf</button>,
        <button class="services-type__download-button services-type__download-button--docx" type="button">.docx</button>
      </p>
    </div>
  </div>
</section>
