@use "index" as *;

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
  line-height: 1.2;
}

.breadcrumbs__item {
  position: relative;
  display: inline;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 6px;

  @include vp-1024 {
    margin-right: 9px;
  }

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -2px;
    content: "";
    width: 1px;
    height: calc(100% - 3px);
    background-color: var(--grey-middle);

    @include vp-1024 {
      right: -3px;
      height: calc(100% - 1px);
    }
  }
}

.breadcrumbs__link {
  display: inline;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: var(--grey-middle);

  @include vp-768 {
    font-size: 14px;
  }

  @include vp-1024 {
    letter-spacing: 0.01em;
  }
}

a.breadcrumbs__link {
  @include interactive-link-dark;
}
