@use "index" as *;

.button {
  @include interactive-button-dark;

  box-sizing: border-box;
  display: inline-block;
  padding: 8px 15px 7px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: var(--accent-dark);
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;

  @include vp-1024 {
    padding: 14px 15px 13px;
    font-weight: 500;
    font-size: 18px;
  }

  &--light {
    color: var(--black);
    background-color: var(--white);
  }
}
