@use "index" as *;

.card {
  display: flex;
  flex-direction: column;
}

.card__visual {
  padding: 10px 15px 21px 19px;
  background-color: var(--bg-light);

  @include vp-1366 {
    padding: 20px 11px 17px 10px;
  }
}

.card__header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 26px;

  @include vp-1366 {
    margin: 0 0 65px;
  }
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 5px;

  @include vp-1366 {
    gap: 9px;
  }
}

.card__tag {
  display: grid;
  align-items: center;
  min-width: 77px;
  min-height: 20px;
  margin: 0;
  padding: 3px 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: var(--white);
  text-align: center;
  background-color: var(--accent);

  @include vp-1366 {
    min-width: 138px;
    min-height: 36px;
  }

  &--label {
    padding: 5px 4px 3px;
    font-size: 10px;
    background-color: var(--accent-light);

    @include vp-1366 {
      font-size: 14px;
    }
  }
}

.card__user {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  min-width: 77px;
}

.card__user-button {
  @include icon;

  position: relative;
  display: grid;
  padding: 0;
  border: none;
}

.card__visual-swiper-wrapper {
  width: 100%;
  margin: 0 0 9px;
  padding: 0;
  list-style-type: none;

  @include vp-1366 {
    margin: 0 0 24px;
  }
}

.card__visual-slide-container {
  aspect-ratio: 299 / 209;

  @include vp-1366 {
    aspect-ratio: 479 / 395;
  }
}

.card__visual-slide-container img {
  @include img-contain;
}

.card__visual-swiper-pagination {
  @include swiper-pagination;

  gap: 15px;
  min-height: 20px;

  @include vp-1366 {
    padding: 0 47px 0 39px;
  }
}

.card__visual-pagination-bullet {
  @include swiper-pagination-button;

  height: 8px;
}

.card__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 11px 20px 20px;
  background-color: var(--bg-primary);

  @include vp-1366 {
    padding: 13px 11px 20px 8px;
  }
}

.card__article {
  margin: 0 0 19px;
  font-weight: 500;
  font-size: 12px;
  color: var(--grey-middle);
  letter-spacing: -0.01em;

  @include vp-1366 {
    margin: 0 0 10px;
    font-size: 14px;
    letter-spacing: 0;
  }
}

.card__title {
  @include interactive-link-light;

  flex-grow: 1;
  display: block;
  margin: 0 0 19px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: var(--white);

  @include vp-1366 {
    font-size: 25px;
  }
}

.card__prices {
  margin: 0 0 13px;
}

.card__price {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: var(--grey-middle);

  @include vp-1366 {
    font-size: 25px;
  }

  &--new {
    margin-right: 3px;
    font-weight: 600;
    font-size: 25px;
    color: var(--white);

    @include vp-1366 {
      min-width: 161px;
      margin-right: 10px;
      font-size: 35px;
    }
  }
}

.card__button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 13px;

  @include vp-1366 {
    gap: 9px;
  }
}

.card__button {
  @include interactive-button-light;

  padding: 7px 10px 6px;
  font-size: 14px;

  @include vp-1366 {
    padding: 14px 10px 13px;
    font-weight: 500;
    font-size: 18px;
  }
}

.card__button-container > *:only-child {
  grid-column: 1 / 3;
}


// небольшие карточки

.card--small {
  .card__visual {
    @include vp-1024 {
      padding: 41px 18px 4px;
    }
  }

  .card__visual-swiper-wrapper {
    @include vp-1366 {
      margin: 0 0 15px;
    }
  }

  .card__visual-slide-container {
    @include vp-1366 {
      aspect-ratio: 209 / 193;
    }
  }

  .card__visual-swiper-pagination {
    @include vp-1366 {
      gap: 7px;
      padding: 0 9px 0 6px;
    }
  }

  .card__content {
    @include vp-1366 {
      padding: 11px 10px 16px 10px;
    }
  }

  .card__title {
    @include vp-1366 {
      margin: 0 0 10px;
      font-size: 18px;
      line-height: 1.15;
    }
  }

  .card__button {
    @include vp-1366 {
      padding: 3px 15px;
      font-size: 14px;
    }
  }
}
