@use "../index" as *;

.map {
  display: grid;
  padding: 10px;
  background-color: var(--bg-light);

  @include vp-768 {
    padding: 20px;
  }
}

.map__image {
  grid-area: 1 / 1 / 2 / 2;
  margin: auto;
  width: 100%;
  height: 300px;

  @include vp-768 {
    height: 487px;
  }
}

.map__image img {
  display: block;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.map__iframe {
  grid-area: 1 / 1 / 2 / 2;
}

.map__iframe iframe {
  width: 100%;
  height: 100%;
  border: none;
}
