@use "index" as *;

.modal {
  position: fixed;
  box-sizing: border-box;
  overflow-y: auto;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  background-color: var(--overlay);
  backdrop-filter: blur(4px);
  z-index: 20;
}

.modal--close {
  display: none;
}

.modal__container {
  position: relative;
  box-sizing: border-box;
  width: calc(100% - 20px);
  max-width: 500px;
  padding: 4px 15px 15px;
  margin: auto;
  background-color: var(--bg-primary);

  @include vp-768 {
    max-width: 785px;
  }
}

.modal__close-button {
  @include interactive-opacity;
  @include close-button;

  position: absolute;
  top: 24px;
  right: 15px;

  @include vp-1024 {
    width: 40px;
    height: 40px;
  }
}

.modal__title {
  max-width: calc(100% - 30px);
}
