@use "../index" as *;

.pay-details {
  @include vp-1024 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.pay-details__details {
  margin: 0 0 10px;
  padding: 20px 10px;
  background-color: var(--bg-light);

  @include vp-1024 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 23px 20px 19px;
  }
}

.pay-details__title {
  margin: 0 0 13px;
  font-weight: 500;
  font-size: 18px;
  color: var(--accent-dark);

  @include vp-1024 {
    min-height: 60px;
    margin: 0 0 22px;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.2;
  }
}

.pay-details__details-list {
  margin: 0 0 39px;

  @include vp-768 {
    display: grid;
    grid-template-columns: 46% 1fr;
    grid-auto-flow: dense;
    gap: 9px 25px;
  }

  @include vp-1366 {
    margin: 0 0 74px;
  }

  dl {
    margin: 0;
  }

  dl:not(:last-child) {
    margin: 0 0 10px;

    @include vp-768 {
      margin: 0;
    }
  }

  dt {
    margin: 0 0 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;

    @include vp-1366 {
      font-size: 18px;
    }
  }

  dd {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    @include vp-1024 {
      font-size: 16px;
    }

    @include vp-1366 {
      font-size: 25px;
      letter-spacing: 0;
    }
  }
}

.pay-details__details-button {
  width: 100%;
  padding: 16px;
  font-weight: 500;
  font-size: 14px;

  @include vp-1024 {
    margin-top: auto;
    font-size: 18px;
  }
}

.pay-details__bank {
  padding: 20px 10px 30px;
  background-color: var(--bg-light);

  @include vp-1024 {
    padding: 21px 70px;
  }
}

.pay-details__bank-text {
  margin: 0 0 35px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  @include vp-1024 {
    margin: 0 0 62px;
    font-size: 25px;
    letter-spacing: 0;
  }
}

.pay-details__bank-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 255px));
    gap: 10px;
  }

  @include vp-1366 {
    gap: 62px 67px;
  }
}

.pay-details__bank-item:not(:last-child) {
  margin: 0 0 30px;

  @include vp-768 {
    margin: 0;
  }
}

.pay-details__bank-item img {
  @include img-contain;

  height: unset;
}
