@use "../index" as *;

.rating {
  display: flex;
  gap: 5px;
  margin: 0;

  @include vp-768 {
    gap: 7px;
  }

  @include vp-1366 {
    gap: 9px;
  }
}

.rating__icon {
  display: block;
  width: 9px;
  height: 10px;
  background-image: url("../img/sprite.svg#star-mobile");
  background-repeat: no-repeat;
  background-size: 9px 10px;
  background-position: center;

  @include vp-1024 {
    width: 16px;
    height: 16px;
    background-image: url("../img/sprite.svg#star-tablet");
    background-size: 15px 15px;
  }

  @include vp-1366 {
    width: 28px;
    height: 28px;
    background-size: 27px 27px;
  }
}
