@use "../index" as *;

.search-form {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.search-form__field {
  --transform: scaleY(1) translateY(0);
  --opacity: 1;

  flex-grow: 1;
  align-self: start;
  display: grid;
}

.search-form__field:has(input:focus),
.search-form__field:has(input:focus-visible) {
  --transform: scaleY(0) translateY(-5px);
  --opacity: 0;
}

.search-form__label {
  @include interactive-link-dark;

  position: relative;
  align-self: center;
  grid-area: 1 / 1 / 2 / 2;
  padding: 0 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  transform-origin: top;
  transform: var(--transform);
  opacity: var(--opacity);
  transition: transform 0.3s, opacity 0.3s, color 0.3s;
  z-index: 1;
  cursor: pointer;

  @include vp-1366 {
    padding: 10px 10px 5px;
    font-size: 14px;
  }
}

.search-form__input {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 24px;
  padding: 0 12px;
  background-color: var(--white);
  border: 2px solid var(--bg-primary);
  border-right: none;
  cursor: pointer;

  @include vp-768 {
    height: 42px;
  }

  @include focus {
    outline: none;
  }
}

.search-form__button {
  @include interactive-button-light;

  position: relative;
  width: 23px;
  height: 24px;
  background-color: var(--bg-primary);
  border: none;

  @include vp-768 {
    width: 41px;
    height: 42px;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 20px;
    height: 19px;
    background-color: var(--white);
    mask-image: url("../img/sprite.svg#search");
    mask-size: 20px 19px;
    mask-position: center;
    mask-repeat: no-repeat;

    @include vp-768 {
      width: 32px;
      height: 30px;
      mask-size: 32px 30px;
    }
  }
}
