@use "index" as *;

.select {
  position: relative;
}

.select__button {
  display: grid;
  align-items: center;
  cursor: pointer;
}

.select__button::after {
  grid-area: 1 / 2 / 2 / 3;
  content: "";
  mask-repeat: no-repeat;
  mask-position: center;
  transform: scaleY(1);
  transition: transform 0.3s;
}

.select--open .select__button::after {
  transform: scaleY(-1);
}

.select__list {
  @include popup;
  top: calc(100% + 5px);
  left: 0;
  max-height: 80vh;
  overflow-y: auto;
  margin: 0;
  padding: 9px 20px;
  list-style-type: none;
  transform: scaleY(0);
  opacity: 0.7;
  transform-origin: top;
  transition: transform 0.3s, opacity 0.3s;
  z-index: 5;
}

.select--open .select__list {
  transform: scaleY(1);
  opacity: 1;
}

.select__item {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  color: var(--black);
  border: none;
  transition: color 0.3s, opacity 0.3s;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }

  &:hover {
    color: #346597;
  }

  &:active {
    color: #ffffff;
    background-color: #369863;
  }
}
