@use "breakpoint" as *;

@mixin burger {
  --color: var(--white);
  align-self: start;
  display: grid;
  grid-template-columns: 17px 1fr;
  align-items: center;
  gap: 0 11px;
  min-height: 24px;
  padding: 2px 20px 2px 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: var(--color);
  text-transform: uppercase;
  background-color: var(--bg-primary);
  border: none;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;

  &::before,
  &::after {
    grid-area: 1 / 1 / 2 / 2;
    content: "";
    transition: color 0.3s;
    margin: 0 0 1px;
  }

  &::before {
    width: 17px;
    height: 9px;
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
  }

  &::after {
    width: 17px;
    height: 1px;
    background-color: var(--color);
  }

  &--active {
    --color: var(--accent-dark);
    background-color: var(--bg-light);
  }
}
