@use "breakpoint" as *;
@use "icon" as *;
@use "img-position" as *;
@use "swiper-elements" as *;
@use "interactive-states" as *;
@use "visually-hidden" as *;
@use "../vars" as *;
@use "tags" as *;
@use "close-button" as *;
@use "links" as *;

@mixin card {
  display: flex;
  flex-direction: column;

  &--favorite &-user-button--favorites,
  &--compare &-user-button--compare {
    --bg-color: var(--white);
    --icon-color: var(--bg-primary);
  }

  &-visual {
    padding: 10px 15px 21px 19px;
    background-color: var(--bg-light);

    @include vp-1366 {
      padding: 20px 11px 17px 10px;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 26px;

    @include vp-1366 {
      margin: 0 0 65px;
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5px;

    @include vp-1366 {
      gap: 9px;
    }
  }

  &-tag {
    @include tag-for-card;
  }

  &-user {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 5px;
    min-width: 77px;
  }

  &-user-button {
    @include icon;

    position: relative;
    display: grid;
    padding: 0;
    border: none;
  }

  &-user-delete {
    @include close-button;
    @include interactive-opacity;

    width: 20px;
    height: 20px;
    background-color: var(--accent);

    @include vp-1024 {
      width: 26px;
      height: 26px;
    }

    @include vp-1366 {
      width: 36px;
      height: 36px;
    }

    &::before,
    &::after {
      width: 13px;
      height: 1px;

      @include vp-1366 {
        width: 25px;
        height: 2px;
      }
    }
  }

  &-visual-swiper-wrapper {
    width: 100%;
    margin: 0 0 9px;
    padding: 0;
    list-style-type: none;

    @include vp-1366 {
      margin: 0 0 24px;
    }
  }

  &-visual-slide-container {
    aspect-ratio: 299 / 209;

    @include vp-1366 {
      aspect-ratio: 479 / 395;
    }
  }

  &-visual-slide-container img {
    @include img-contain;
  }

  &-visual-swiper-pagination {
    @include swiper-pagination;

    gap: 15px;
    min-height: 20px;

    @include vp-1366 {
      padding: 0 47px 0 39px;
    }
  }

  &-visual-pagination-bullet {
    @include swiper-pagination-button;

    height: 8px;
  }

  &-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 11px 20px 20px;
    background-color: var(--bg-primary);

    @include vp-1366 {
      padding: 13px 11px 20px 8px;
    }
  }

  &-article {
    margin: 0 0 19px;
    font-weight: 500;
    font-size: 12px;
    color: var(--grey-middle);
    letter-spacing: -0.01em;

    @include vp-1366 {
      margin: 0 0 10px;
      font-size: 14px;
      letter-spacing: 0;
    }
  }

  &-title {
    @include interactive-link-light;

    flex-grow: 1;
    display: block;
    margin: 0 0 19px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: var(--white);

    @include vp-1366 {
      font-size: 25px;
    }
  }

  &-prices {
    display: flex;
    align-items: flex-end;
    margin: 0 0 13px;

    @include vp-768 {
      display: block;
    }

    @include vp-1024 {
      display: flex;
    }
  }

  &-price {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: var(--grey-middle);

    @include vp-1366 {
      font-size: 25px;
    }

    &--new {
      margin-right: 3px;
      font-weight: 600;
      font-size: 25px;
      color: var(--white);

      @include vp-1366 {
        min-width: 161px;
        margin-right: 10px;
        font-size: 35px;
      }
    }
  }

  &-button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 13px;

    @include vp-1366 {
      gap: 9px;
    }
  }

  &-button {
    @include interactive-button-light;

    padding: 7px 10px 6px;
    font-size: 14px;

    @include vp-1366 {
      padding: 14px 10px 13px;
      font-weight: 500;
      font-size: 18px;
    }
  }

  &-button-container > *:only-child {
    grid-column: 1 / 3;
  }

  &-details {
    display: none;
  }
}

// небольшие карточки

@mixin card-small {
  @include card;

  &-visual {
    padding: 10px;

    @include vp-1024 {
      padding: 41px 18px 4px;
    }
  }

  &-header {
    margin-bottom: 5px;
  }

  &-user {
    justify-content: flex-end;
    margin-left: auto;
  }

  &-user-button {
    @include vp-1366 {
      width: 26px;
      height: 26px;
    }

    &::before {
      @include vp-1366 {
        width: 26px;
        height: 26px;
      }
    }

    &::after {
      @include vp-1366 {
        width: 22px;
        height: 23px;
        mask-size: 22px 23px;
      }
    }
  }

  &-user-delete {
    @include close-button;

    background-color: var(--accent);

    @include vp-1366 {
      width: 26px;
      height: 26px;
    }

    &::before,
    &::after {
      width: 13px;
      height: 1px;

      @include vp-1366 {
        width: 17px;
      }
    }
  }

  &-visual-swiper-wrapper {
    margin: 0;

    @include vp-1024 {
      margin: 0 0 15px;
    }
  }

  &-visual-slide-container {
    aspect-ratio: 139 / 116;

    @include vp-768 {
      aspect-ratio: 209 / 193;
    }
  }

  &-visual-swiper-pagination {
    display: none;

    @include vp-1024 {
      display: flex;
      gap: 7px;
      padding: 0 9px 0 6px;
    }
  }

  &-content {
    padding: 10px 10px 20px;

    @include vp-1366 {
      padding: 11px 10px 16px;
    }
  }

  &-article {
    margin: 0 0 10px;
    font-weight: 400;

    @include vp-1366 {
      font-weight: 500;
    }
  }

  &-title {
    margin: 0 0 14px;
    font-size: 14px;

    @include vp-1366 {
      margin: 0 0 10px;
      font-size: 18px;
      line-height: 1.15;
    }
  }

  &-prices {
    margin: 0 0 9px;
  }

  &-price {
    font-weight: 500;
    font-size: 8px;
    text-decoration: line-through;

    &--new {
      min-width: unset;
      font-weight: 500;
      font-size: 14px;
      text-decoration: none;
    }
  }

  &-button {
    padding: 3px 15px;
    font-weight: 400;
    font-size: 12px;

    @include vp-1366 {
      font-weight: 500px;
      font-size: 14px;
    }
  }
}

// карточки-трансформеры (для каталога, фильтрации)

@mixin card-transformer {
  @include card-small;

  &-visual {
    padding: 10px 10px 3px;

    @include vp-1366 {
      padding: 10px 10px 17px;
    }
  }

  &-visual-swiper-wrapper {
    margin: 0;

    @include vp-768 {
      margin: 0 0 9px;
    }

    @include vp-1366 {
      margin: 0 0 29px;
    }
  }

  &-visual-swiper-pagination {
    @include vp-1024 {
      gap: 13px;
      padding: 0 15px;
    }
  }

  &-header {
    margin: 0 0 2px;

    @include vp-768 {
      margin: 0 0 20px;
    }

    @include vp-1024 {
      gap: 10px;
    }

    @include vp-1366 {
      margin: 0 0 65px;
    }
  }

  &-tags {
    display: none;

    @include vp-1024 {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-tag {
    @include vp-1024 {
      min-width: unset;
      min-height: 30px;
    }

    @include vp-1640 {
      font-size: 18px;
    }
  }

  &-user {
    @include vp-1024 {
      min-width: 100px;
    }
  }

  &-user-button {
    @include vp-1024 {
      width: 30px;
      height: 30px;
    }

    &::before {
      @include vp-1024 {
        width: 30px;
        height: 30px;
      }
    }

    &::after {
      @include vp-1024 {
        width: 25px;
        height: 24px;
        mask-size: 25px 24px;
      }
    }
  }

  &-user-delete {
    @include vp-1024 {
      width: 30px;
      height: 30px;
    }

    &::before,
    &::after {
      width: 13px;
      height: 1px;

      @include vp-1024 {
        width: 22px;
        height: 1px;
      }
    }
  }

  &-content {
    padding: 5px 10px 10px;

    @include vp-768 {
      padding: 11px 10px 10px;
    }

    @include vp-1366 {
      padding: 13px 11px 14px 8px;
    }
  }

  &-article {
    display: none;

    @include vp-1024 {
      display: block;
    }
  }

  &-title {
    margin: 0 0 7px;
    font-weight: 400;
    font-size: 12px;

    @include vp-1366 {
      margin: 0 0 19px;
      font-size: 25px;
      line-height: 1.2;
      letter-spacing: 0.01em;
    }
  }

  &-prices {
    @include vp-1366 {
      margin: 0 0 20px;
    }
  }

  &-price {
    @include vp-768 {
      font-weight: 600;
    }

    @include vp-1024 {
      font-size: 18px;
      text-decoration: none;
    }

    @include vp-1366 {
      font-size: 25px;
    }

    &--new {
      @include vp-1024 {
        font-size: 25px;
      }

      @include vp-1366 {
        font-size: 35px;
      }
    }
  }

  &-button {
    grid-column: 1 / 3;
    padding: 6px 15px 5px;
    font-weight: 500;
    font-size: 8px;

    @include vp-768 {
      padding: 7px 10px 6px;
      font-size: 14px;
    }

    @include vp-1024 {
      grid-column: unset;
    }

    @include vp-1366 {
      padding: 14px 10px 13px;
      font-size: 18px;
    }

    &--cart {
      display: none;

      @include vp-1024 {
        display: block;
      }
    }
  }
}

@mixin card-with-details {
  @include card;

  position: relative;
  display: grid;
  grid-template-columns: 278px 1fr;
  gap: 10px;
  padding: 23px 18px 12px;
  background-color: var(--bg-light);

  @include vp-1366 {
    grid-template-columns: 278px 245px 1fr;
  }

  @include vp-1640 {
    grid-template-columns: minmax(278px, 1fr) 245px minmax(483px, 1fr);
  }

  &-visual {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &-visual-swiper-container {
    flex-grow: 1;
    max-width: 320px;
  }

  &-visual-swiper {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    align-content: end;
    height: 100%;
  }

  &-visual-swiper-wrapper {
    margin: 0 0 9px;
  }

  &-visual-slide-container {
    aspect-ratio: 470 / 354;
    margin: 0 31px 0 43px;
  }

  &-visual-swiper-pagination {
    padding: 0;
  }

  &-header {
    margin: 0;
  }

  &-tag {
    min-width: 117px;
    min-height: 31px;

    @include vp-1640 {
      font-size: 18px;
    }
  }

  &-user {
    position: absolute;
    top: 24px;
    right: 17px;
    justify-content: flex-end;
  }

  &-user-button {
    @include vp-1024 {
      width: 30px;
      height: 30px;
    }

    &::before {
      @include vp-1024 {
        width: 30px;
        height: 30px;
      }
    }

    &::after {
      @include vp-1024 {
        width: 25px;
        height: 24px;
        mask-size: 25px 24px;
      }
    }
  }

  &-content {
    max-width: calc(100% - 100px);
    padding: 0;
    background-color: var(--bg-light);

    @include vp-1366 {
      max-width: unset;
    }
  }

  &-article {
    margin: 0 0 7px;
  }

  &-title {
    flex-grow: unset;
    margin: 0 0 14px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.15;
    color: var(--black);
  }

  &-prices {
    margin: 0 0 41px;
  }

  &-price {
    font-weight: 500;
    font-size: 18px;

    &--new {
      min-width: unset;
      font-weight: 600;
      font-size: 25px;
      color: var(--black);
    }
  }

  &-button-container {
    grid-template-columns: 1fr 49px;
    min-width: 230px;
    max-width: 60%;
    margin: auto 0 0;

    @include vp-1366 {
      min-width: unset;
      max-width: unset;
    }
  }

  &-button {
    @include interactive-button-light;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    margin: 0 0 5px;
    padding: 5px 10px;
    color: var(--white);
    background-color: var(--bg-primary);

    @include vp-1366 {
      min-height: 49px;
    }
  }

  &-button--cart {
    @include icon;

    width: 49px;

    &::before {
      display: none;
    }

    &::after {
      --mask-image: url("../img/sprite.svg#cart");
    }

    span {
      @include visually-hidden;
    }
  }

  &-details {
    display: block;
    grid-column: 1 / 3;

    @include vp-1366 {
      grid-column: unset;
    }
  }

  &-details--main {
    align-self: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 10px;
  }

  &-details--additional {
    @include vp-1366 {
      grid-area: 2 / 3 / 3 / 4;
      margin: -33px 0 0;
    }
  }

  &-details-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 10px;
  }

  &-details:not(:last-of-type) {
    margin: 0 0 15px;
  }

  &-details--main dl:first-child {
    @include vp-1366 {
      grid-column: 1 / 3;
      max-width: 50%;
    }
  }

  dt {
    margin: 0 0 9px;
    font-weight: 500;
    font-size: 14px;
    color: var(--grey-middle);

    @include vp-1366 {
      font-size: calc(14px / $vp-1640 * 100vw);
    }

    @include vp-1640 {
      font-size: 14px;
    }
  }

  dd {
    margin: 0;
    font-weight: 500;
    font-size: 18px;

    @include vp-1366 {
      font-size: calc(18px / $vp-1640 * 100vw);
    }

    @include vp-1640 {
      font-size: 18px;
    }
  }

  &-details-button {
    @include interactive-link-light;

    padding: 0;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: var(--accent-dark);
    border: none;
    background-color: var(--transparent);
  }

  .accordion-button {
    span:last-child {
      display: none;
    }

    &--active {
      margin: 15px 0 0;

      span:first-child {
        display: none;
      }

      span:last-child {
        display: inline-block;
      }
    }
  }
}

@mixin card-short {
  @include card-with-details;

  grid-template-columns: 250px 1fr;
  padding: 20px 18px 12px 30px;

  @include vp-1280 {
    grid-template-columns: 280px 1fr;
    gap: 24px;
  }

  @include vp-1366 {
    grid-template-columns: 317px 1fr;
  }

  @include vp-1640 {
    grid-template-columns: 317px 1fr;
    gap: 48px;
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto;
    max-width: unset;
  }

  &-article {
    grid-column: 1 / 3;
    max-width: calc(100% - 100px);
    margin: 0;

    @include vp-1366 {
      font-size: 18px;
    }
  }

  &-title {
    grid-column: 1 / 3;
    align-self: center;
    max-width: calc(100% - 100px);
    margin: 20px 0 5px;
    letter-spacing: 0;

    @include vp-1366 {
      font-size: 25px;
    }
  }

  &-prices {
    align-self: end;
    margin: 0;
  }

  &-price {
    font-size: 16px;

    @include vp-1366 {
      font-weight: 600;
      font-size: 25px;
    }

    &--new {
      font-size: 20px;

      @include vp-1366 {
        font-size: 35px;
      }
    }
  }

  &-button-container {
    place-self: end;
    grid-template-columns: 1fr auto;
    min-width: 180px;
    gap: 0;

    @include vp-1280 {
      gap: 13px;
    }
  }

  &-button {
    justify-self: end;
    min-width: fit-content;

    @include vp-1366 {
      min-width: 187px;
    }

    &--cart {
      display: none;
      width: 40px;
      height: 40px;

      @include vp-1280 {
        display: flex;
      }

      @include vp-1366 {
        min-width: unset;
        width: 49px;
        height: 49px;
      }
    }
  }

  &-details {
    display: none;
  }
}
