@use "breakpoint" as *;
@use "icon" as *;
@use "img-position" as *;
@use "swiper-pagination" as *;
@use "interactive-states" as *;

@mixin card {
  display: flex;
  flex-direction: column;

  &-visual {
    padding: 10px 15px 21px 19px;
    background-color: var(--bg-light);

    @include vp-1366 {
      padding: 20px 11px 17px 10px;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 26px;

    @include vp-1366 {
      margin: 0 0 65px;
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5px;

    @include vp-1366 {
      gap: 9px;
    }
  }

  &-tag {
    display: grid;
    align-items: center;
    min-width: 77px;
    min-height: 20px;
    margin: 0;
    padding: 3px 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: var(--white);
    text-align: center;
    background-color: var(--accent);

    @include vp-1366 {
      min-width: 138px;
      min-height: 36px;
    }

    &--label {
      padding: 5px 4px 3px;
      font-size: 10px;
      background-color: var(--accent-light);

      @include vp-1366 {
        font-size: 14px;
      }
    }
  }

  &-user {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
    min-width: 77px;
  }

  &-user-button {
    @include icon;

    position: relative;
    display: grid;
    padding: 0;
    border: none;
  }

  &-visual-swiper-wrapper {
    width: 100%;
    margin: 0 0 9px;
    padding: 0;
    list-style-type: none;

    @include vp-1366 {
      margin: 0 0 24px;
    }
  }

  &-visual-slide-container {
    aspect-ratio: 299 / 209;

    @include vp-1366 {
      aspect-ratio: 479 / 395;
    }
  }

  &-visual-slide-container img {
    @include img-contain;
  }

  &-visual-swiper-pagination {
    @include swiper-pagination;

    gap: 15px;
    min-height: 20px;

    @include vp-1366 {
      padding: 0 47px 0 39px;
    }
  }

  &-visual-pagination-bullet {
    @include swiper-pagination-button;

    height: 8px;
  }

  &-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 11px 20px 20px;
    background-color: var(--bg-primary);

    @include vp-1366 {
      padding: 13px 11px 20px 8px;
    }
  }

  &-article {
    margin: 0 0 19px;
    font-weight: 500;
    font-size: 12px;
    color: var(--grey-middle);
    letter-spacing: -0.01em;

    @include vp-1366 {
      margin: 0 0 10px;
      font-size: 14px;
      letter-spacing: 0;
    }
  }

  &-title {
    @include interactive-link-light;

    flex-grow: 1;
    display: block;
    margin: 0 0 19px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: var(--white);

    @include vp-1366 {
      font-size: 25px;
    }
  }

  &-prices {
    margin: 0 0 13px;
  }

  &-price {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: var(--grey-middle);

    @include vp-1366 {
      font-size: 25px;
    }

    &--new {
      margin-right: 3px;
      font-weight: 600;
      font-size: 25px;
      color: var(--white);

      @include vp-1366 {
        min-width: 161px;
        margin-right: 10px;
        font-size: 35px;
      }
    }
  }

  &-button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 13px;

    @include vp-1366 {
      gap: 9px;
    }
  }

  &-button {
    @include interactive-button-light;

    padding: 7px 10px 6px;
    font-size: 14px;

    @include vp-1366 {
      padding: 14px 10px 13px;
      font-weight: 500;
      font-size: 18px;
    }
  }

  &-button-container > *:only-child {
    grid-column: 1 / 3;
  }
}


// небольшие карточки

@mixin card-small {
  @include card;

  &-visual {
    @include vp-1024 {
      padding: 41px 18px 4px;
    }
  }

  &-header {
    margin-bottom: 5px;
  }

  &-user {
    justify-content: flex-end;
    margin-left: auto;
  }

  &-visual-swiper-wrapper {
    @include vp-1366 {
      margin: 0 0 15px;
    }
  }

  &-visual-slide-container {
    aspect-ratio: 139 / 116;

    @include vp-768 {
      aspect-ratio: 209 / 193;
    }
  }

  &-visual-swiper-pagination {
    display: none;

    @include vp-1366 {
      display: grid;
      gap: 7px;
      padding: 0 9px 0 6px;
    }
  }

  &-content {
    @include vp-1366 {
      padding: 11px 10px 16px 10px;
    }
  }

  &-article {
    margin: 0 0 10px;
    font-weight: 400;

    @include vp-1366 {
      font-weight: 500;
    }
  }

  &-title {
    margin: 0 0 14px;
    font-size: 14px;

    @include vp-1366 {
      margin: 0 0 10px;
      font-size: 18px;
      line-height: 1.15;
    }
  }

  &-prices {
    margin: 0 0 9px;
  }

  &-price {
    font-weight: 500;
    font-size: 8px;
    text-decoration: line-through;

    &--new {
      min-width: unset;
      font-weight: 500;
      font-size: 14px;
      text-decoration: none;
    }
  }

  &-button {
    padding: 3px 15px;
    font-weight: 400;
    font-size: 12px;

    @include vp-1366 {
      font-weight: 500px;
      font-size: 14px;
    }
  }
}

// карточки-трансформеры (для каталога, фильтрации)

@mixin card-transformer {
  @include card-small;

  &-visual {
    padding: 10px 10px 3px;

    @include vp-1366 {
      padding: 20px 11px 17px 10px;
    }
  }

  &-visual-swiper-wrapper {
    margin: 0;

    @include vp-768 {
      margin: 0 0 9px;
    }

    @include vp-1366 {
      margin: 0 0 24px;
    }
  }

  &-header {
    margin: 0 0 2px;

    @include vp-768 {
      margin: 0 0 20px;
    }

    @include vp-1366 {
      margin: 0 0 65px;
    }
  }

  &-tags {
    display: none;

    @include vp-1024 {
      display: flex;
    }
  }

  &-content {
    padding: 5px 10px 10px;

    @include vp-768 {
      padding: 11px 10px 10px;
    }

    @include vp-1366 {
      padding: 13px 11px 20px 8px;
    }
  }

  &-article {
    display: none;

    @include vp-1024 {
      display: block;
    }
  }

  &-title {
    margin: 0 0 7px;
    font-weight: 400;
    font-size: 12px;

    @include vp-1366 {
      font-size: 25px;
    }
  }

  &-price {
    @include vp-768 {
      font-weight: 600;
    }

    @include vp-1024 {
      font-size: 18px;
      text-decoration: none;
    }

    @include vp-1366 {
      font-size: 25px;
    }

    &--new {
      @include vp-1024 {
        font-size: 25px;
      }

      @include vp-1366 {
        font-size: 35px;
      }
    }
  }

  &-button {
    grid-column: 1 / 3;
    padding: 6px 15px 5px;
    font-weight: 500;
    font-size: 8px;

    @include vp-768 {
      padding: 7px 10px 6px;
      font-size: 14px;
    }

    @include vp-1024 {
      grid-column: unset;
    }

    @include vp-1366 {
      padding: 14px 10px 13px;
      font-size: 18px;
    }

    &--cart {
      display: none;

      @include vp-1024 {
        display: block;
      }
    }
  }
}
