@use "breakpoint" as *;
@use "interactive-states" as *;
@use "icon" as *;
@use "close-button" as *;

@mixin input {
  --transform: scaleY(1) translateY(0);
  --opacity: 1;
  --field-color: var(--grey-light);
  --color: var(--grey-middle);

  display: grid;
  align-items: center;
  cursor: pointer;

  &:has(input:focus),
  &:has(input:focus-visible),
  &:has(textarea:focus),
  &:has(textarea:focus-visible) {
    --transform: scaleY(0) translateY(-5px);
    --opacity: 0;
  }

  &:has(input:hover) span,
  &:has(textarea:hover) span {
    --color: var(--accent-dark);
  }

  span {
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
    display: inline-block;
    margin: 1px 0 0;
    padding: 0 20px;
    font-weight: 500;
    font-size: 14px;
    color: var(--color);
    transform-origin: top;
    transform: var(--transform);
    opacity: var(--opacity);
    transition: transform 0.3s, opacity 0.3s, color 0.3s;
    z-index: 1;
    cursor: pointer;

    @include vp-768 {
      font-size: 16px;
    }

    @include vp-1024 {
      margin: 2px 0 0;
      font-size: 18px;
    }

    @include hover {
      color: var(--accent-dark);
    }

    span {
      padding: 0;
      color: var(--accent);
    }
  }

  input,
  textarea {
    grid-area: 1 / 1 / 2 / 2;
    padding: 10px 20px;
    background-color: var(--field-color);
    border: none;
    cursor: pointer;
  }

  input {
    height: 40px;

    @include vp-768 {
      height: 50px;
    }

    @include vp-1024 {
      height: 60px;
    }
  }

  textarea {
    padding: 10px 20px 16px;
    resize: none;

    @include vp-768 {
      padding: 10px 20px 14px;
    }
  }

  &--textarea {
    align-items: start;

    span {
      margin: 20px 0 0;

      @include vp-1024 {
        margin: 30px 0 0;
      }
    }
  }

  &--error {
    --color: var(--accent);
  }
}

@mixin input-small {
  span {
    display: inline-block;
    margin: 0 0 5px;
    font-weight: 500;
    font-size: 14px;

    @include vp-1024 {
      margin: 0 0 10px;
      font-size: 18px;
    }

    span {
      margin: 0;
      color: var(--accent);
    }
  }

  textarea,
  input {
    width: 100%;
    padding: 7px 21px;
    font-weight: 500;
    font-size: 14px;
    background-color: var(--grey-light);
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;

    @include vp-1024 {
      padding: 21px 21px 18px;
      font-size: 18px;
    }

    @include hover-focus {
      background-color: var(--grey);
    }

    @include disabled {
      color: var(--grey);
      background-color: var(--grey-extra-light);
      pointer-events: none;
      cursor: default;
    }

    &::placeholder {
      color: var(--grey-middle);
    }
  }

  textarea {
    resize: none;

    @include vp-1024 {
      padding: 21px 21px 14px;
    }
  }

  &--error {
    --color: var(--accent);
  }
}

@mixin input-with-border {
  display: block;

  input {
    width: 100%;
    height: 46px;
    padding: 10px 20px;
    background-color: var(--white);
    border: 2px solid var(--bg-primary);
    transition: border 0.3s;
    cursor: pointer;

    &::placeholder {
      color: var(--grey-middle);
    }

    @include hover-focus {
      border: 2px solid var(--accent-dark);
    }

    @include hover-focus {
      border: 2px solid var(--accent-dark-opacity);
    }
  }

  &--error {
    --color: var(--accent);
  }
}

@mixin input-number-reset {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

@mixin control {
  --border: 1px solid var(--black);
  --bg-color: var(--transparent);
  --tick-display: none;

  position: relative;
  display: flex;
  padding-left: 21px;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    top: 2px;
    left: 0;
    content: "";
    width: 11px;
    height: 11px;
  }

  &::before {
    border: var(--border);
    background-color: var(--bg-color);
    transition: background-color 0.3s, color 0.3s;
  }

  &::after {
    display: var(--tick-display);
    mask-image: url("../img/sprite.svg#tick");
    mask-repeat: no-repeat;
    mask-size: 7px 7px;
    mask-position: 50% 51%;
    background-color: var(--white);
    z-index: 1;
  }

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
  }

  span {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;

    @include vp-768 {
      font-size: 14px;
    }
  }

  &:has(input:focus),
  &:has(input:focus-visible) {
    --bg-color: var(--accent-dark-opacity);
  }

  @include hover {
    --bg-color: var(--accent-dark-opacity);
  }

  &:has(input:checked) {
    --border: 1px solid var(--accent);
    --bg-color: var(--accent);
    --tick-display: block;
  }
}

@mixin control-toggle {
  --label-color: var(--black);
  --bg-color: var(--grey);
  --toggle-transform: translateX(0);

  position: relative;
  display: grid;
  grid-template-columns: 1fr 53px;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  &::before,
  &::after {
    grid-area: 1 / 2 / 2 / 3;
    content: "";
  }

  &::before {
    width: 53px;
    height: 22px;
    background-color: var(--bg-color);
    transition: background-color 0.3s, color 0.3s;

    @include vp-1024 {
      height: 28px;
    }
  }

  &::after {
    width: 22px;
    height: 22px;
    padding: 2px;
    background-color: var(--grey-light);
    background-clip: content-box;
    transform: var(--toggle-transform);
    transition: transform 0.3s;
    z-index: 1;

    @include vp-1024 {
      width: 28px;
      height: 28px;
    }
  }

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
  }

  span {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--label-color);
    transition: color 0.3s;

    @include vp-1024 {
      font-weight: 600;
      font-size: 18px;
    }
  }

  &:has(input:focus),
  &:has(input:focus-visible) {
    --label-color: var(--bg-primary);
    --bg-color: var(--grey-shadow);
  }

  @include hover {
    --label-color: var(--bg-primary);
    --bg-color: var(--grey-shadow);
  }

  &:has(input:checked) {
    --label-color: var(--accent-dark);
    --bg-color: var(--accent-dark);
    --toggle-transform: translateX(31px);

    @include vp-1024 {
      --toggle-transform: translateX(25px);
    }
  }
}

@mixin input-file {
  &-group {
    --bg-color: var(--black);

    position: relative;
    display: grid;
    grid-template-columns: 19px 1fr;
    align-items: center;
    gap: 10px;
    margin: 0 0 8px;
    cursor: pointer;

    &:has(input:focus),
    &:has(input:focus-visible) {
      --bg-color: var(--accent-dark);
    }

    @include hover {
      --bg-color: var(--accent-dark);
    }
  }

  &-icon {
    @include icon-small-plus;

    background-color: var(--accent-dark);
  }

  &-label {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--bg-color);
    transition: color 0.3s;

    @include vp-768 {
      font-size: 25px;
    }
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-item {
    display: grid;
    grid-template-columns: minmax(0, max-content) 20px;
    align-items: center;
    gap: 10px;
  }

  &-name {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include vp-1024 {
      max-width: 300px;
      font-weight: 600;
      font-size: 18px;
    }
  }

  &-delete {
    @include close-button;
    @include interactive-opacity;

    background-color: var(--accent);

    &::before,
    &::after {
      width: 13px;
      height: 1px;
    }
  }
}

@mixin filter-button {
  width: 100%;
  padding: 10px 70px 10px 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: left;
  color: var(--white);
  border: none;
  background-color: var(--bg-primary);
  transition: background-color 0.3s;

  @include vp-768 {
    font-size: 16px;
  }

  @include vp-1024 {
    padding: 10px 35px 10px 10px;
    font-size: 18px;
  }

  &::before,
  &::after {
    left: unset;
    right: 40px;
    width: 2px;

    @include vp-1024 {
      height: 20px;
      right: 18px;
    }
  }

  @include hover-focus {
    outline: none;
    background-color: var(--accent-dark);
  }
}

@mixin filter-input {
  --label-color: var(--black);
  --label-bg: var(--grey-light);

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  gap: 2px;
  height: 36px;
  padding: 5px 10px;
  background-color: var(--label-bg);
  transition: background-color 0.3s;
  cursor: pointer;

  &:has(input:focus),
  &:has(input:focus-visible) {
    --label-color: var(--white);
    --label-bg: var(--accent-dark-opacity);
  }

  @include hover {
    --label-color: var(--white);
    --label-bg: var(--accent-dark-opacity);
  }

  &:has(input:disabled) {
    --label-color: var(--grey-light);
    --label-bg: var(--grey-middle);

    pointer-events: none;
    cursor: default;
  }

  span,
  input {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: var(--label-color);
    background-color: var(--transparent);
    transition: color 0.3s;
    border: none;
    cursor: pointer;
  }

  span {
    justify-self: end;
    display: flex;
    align-items: center;
  }

  input {
    min-width: 0;
    width: 100%;
    text-align: left;

    &:only-child {
      grid-column: 1 / 3;
      text-align: center;
    }

    @include focus {
      outline: none;
    }
  }

  &:has(span) {
    padding: 5px 21px 5px 1px;
  }
}

@mixin filter-checkbox {
  --label-color: var(--black);
  --label-bg: var(--grey-light);

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);

    @include focus {
      outline: none;
    }
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 36px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    line-height: 1.2;
    color: var(--label-color);
    background-color: var(--label-bg);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }

  &:has(input:focus),
  &:has(input:focus-visible) {
    --label-color: var(--white);
    --label-bg: var(--accent-dark-opacity);
  }

  @include hover {
    --label-color: var(--white);
    --label-bg: var(--accent-dark-opacity);
  }

  &:has(input:checked) {
    --label-color: var(--white);
    --label-bg: var(--accent-dark);

    @include hover {
      --label-color: var(--white);
      --label-bg: var(--bg-primary);
    }
  }

  &:has(input:checked:focus),
  &:has(input:checked:focus-visible) {
    --label-color: var(--white);
    --label-bg: var(--bg-primary);
  }

  &:has(input:disabled) {
    --label-color: var(--grey-light);
    --label-bg: var(--grey-middle);

    pointer-events: none;
    cursor: default;
  }
}

@mixin field-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 50px;
  height: 40px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  color: var(--grey-middle);
  background-color: var(--bg-light);

  @include vp-768 {
    height: 50px;
    font-size: 16px;
  }

  @include vp-1024 {
    height: 60px;
    font-size: 18px;
  }

  &-controls {
    color: var(--black);
  }

  .change-quantity__count {
    font-size: 20px;
    line-height: 1;

    @include vp-1024 {
      font-size: 35px;
    }
  }
}
