@use "breakpoint" as *;
@use "interactive-states" as *;

@mixin icon {
  --bg-color: var(--bg-primary);
  --icon-color: var(--white);

  &--account {
    --mask-image: url("../img/sprite.svg#account");
  }

  &--compare {
    --mask-image: url("../img/sprite.svg#scales");
  }

  &--favorites {
    --mask-image: url("../img/sprite.svg#heart");
  }

  &--cart {
    --mask-image: url("../img/sprite.svg#cart");
  }

  &::before {
    display: block;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--bg-color);
    transition: background-color 0.3s;

    @include vp-1366 {
      width: 36px;
      height: 36px;
    }
  }

  &::after {
    display: block;
    grid-area: 1 / 1 / 2 / 2;
    place-self: center;
    content: "";
    width: 18px;
    height: 17px;
    background-color: var(--icon-color);
    mask-image: var(--mask-image);
    mask-size: 18px 17px;
    mask-position: center;
    mask-repeat: no-repeat;
    transition: background-color 0.3s;

    @include vp-1366 {
      width: 29px;
      height: 30px;
      mask-size: 29px 30px;
    }
  }

  @include hover-focus {
    --bg-color: var(--accent-dark);
    --icon-color: var(--white);

    outline: none;
  }

  @include active {
    --bg-color: var(--white);
    --icon-color: var(--accent-dark);
  }
}

@mixin adaptive-icon {
  @include icon;

  &::before {
    width: 23px;
    height: 24px;

    @include vp-768 {
      width: 41px;
      height: 42px;
    }
  }

  &::after {
    width: 20px;
    height: 19px;
    mask-size: 20px 19px;

    @include vp-768 {
      width: 29px;
      height: 30px;
      mask-size: 29px 30px;
    }
  }
}
