@mixin img-contain {
  display: block;
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

@mixin img-cover {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  background-color: var(--accent-dark-opacity);
}
