@use "interactive-states" as *;

@mixin link-more {
  @include interactive-link-light;

  display: block;
  padding: 10px 8px 17px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
  color: var(--black);
}

@mixin social-link {
  --opacity: 0;

  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  background-color: var(--accent-dark);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &--youtube {
    background-image: url("../img/sprite.svg#youtube");
  }

  &--vk {
    background-image: url("../img/sprite.svg#vk");
  }

  &--ok {
    background-image: url("../img/sprite.svg#ok");
  }

  &--tg {
    background-image: url("../img/sprite.svg#tg");
  }

  &--whatsapp {
    background-image: url("../img/sprite.svg#whatsapp");
  }

  &--rutube {
    background-image: url("../img/sprite.svg#rutube");
  }

  &--yandex {
    background-image: url("../img/sprite.svg#yandex-map");
  }

  &--phone {
    background-image: url("../img/sprite.svg#phone");
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    opacity: var(--opacity);
    transition: opacity 0.3s;
  }

  @include hover-focus {
    --opacity: 0.4;

    outline: none;
  }

  @include active {
    --opacity: 0.8;
  }
}
