@use "interactive-states" as *;

@mixin link-more {
  @include interactive-link-light;

  display: block;
  padding: 10px 8px 17px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
  color: var(--black);
}
