@use "breakpoint" as *;

@mixin title {
  margin: 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--black);

  @include vp-1024 {
    font-size: 50px;
  }
}

@mixin title-accent {
  font-size: 16px;
  color: var(--accent);
  vertical-align: top;

  @include vp-1366 {
    font-size: 32px;
  }
}

@mixin title-h1 {
  @include title;

  margin: 0 0 10px;
  font-size: 30px;

  @include vp-768 {
    font-size: 42px;
  }

  @include vp-1024 {
    font-size: 62px;
  }
}

@mixin title-h1-accent {
  @include title-accent;

  font-size: 20px;

  @include vp-1366 {
    font-size: 40px;
  }
}
