@use "interactive-states" as *;
@use "breakpoint" as *;
@use "../vars" as *;

@mixin video-button {
  box-sizing: border-box;
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: var(--transparent);
  transition: background-color 0.3s;
  border: none;
  z-index: 1;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: calc(20px / $vp-390 * 100vw);
    height: calc(20px / $vp-390 * 100vw);
    padding: 0;
    background-color: var(--white);
    z-index: 1;

    @include vp-768 {
      width: 30px;
      height: 30px;
    }
  }

  &::after {
    position: absolute;
    top: 50%;
    left: calc(50% + 3px);
    transform: translate(-50%, -50%);
    content: "";
    border: 5px solid transparent;
    border-left: 9px solid var(--black);
    z-index: 2;

    @include vp-768 {
      left: calc(50% + 5px);
      border: 7px solid transparent;
      border-left: 14px solid var(--black);
    }
  }

  @include hover-focus {
    background-color: var(--accent-dark-opacity);
  }

  @include active {
    background-color: var(--overlay);
  }
}
