@use "../index" as *;

.about__title {
  @include title-h1;

  margin: 0 0 7px;

  @include vp-1024 {
    margin: 0 0 15px;
  }
}

.about__breadcrumbs {
  margin: 0 0 8px;

  @include vp-1024 {
    margin: 0 0 19px;
  }
}

.about__img {
  aspect-ratio: 333 / 232;
  width: 100%;
  margin: 0 0 9px;

  @include vp-1024 {
    aspect-ratio: 1520 / 673;
    margin: 0 0 60px;
  }
}

.about__img img {
  @include img-cover;
}

.about__content {
  @include vp-1024 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.about__block {
  margin: 0 0 10px;
  padding: 10px 17px 11px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  background-color: var(--bg-light);

  @include vp-1024 {
    margin: 0;
    padding: 16px 130px 27px 19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
  }

  p {
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    max-width: 550px;

    @include vp-1024 {
      max-width: 620px;
      font-size: 18px;
    }

    @include vp-1366 {
      min-height: 110px;
    }

    br {
      display: none;

      @include vp-1366 {
        display: block
      }
    }
  }

  p + p {
    margin-top: 10px;
  }

  ul {
    max-width: 550px;
    margin: 0;
    padding: 0 0 0 11px;
    list-style-type: none;

    @include vp-1024 {
      max-width: 620px;
      padding: 0 0 0 27px;
    }
  }

  li {
    position: relative;

    &:not(:last-child) {
      margin: 0 0 2px;

      @include vp-1024 {
        margin: 0;
      }
    }

    &::before {
      position: absolute;
      top: 8px;
      left: -12px;
      content: "";
      width: 3px;
      height: 3px;
      background-color: var(--black);
      border-radius: 50%;

      @include vp-1024 {
        top: 10px;
        left: -15px;
        width: 4px;
        height: 4px;
      }
    }
  }
}

.about__block--products {
  p {
    @include vp-1024 {
      margin: 0 0 45px;
    }
  }
}

.about__block--service {
  p {
    @include vp-1024 {
      margin: 0 0 28px;
    }
  }
}
