@use "index" as *;

.brands {
  padding: 10px 0 5px;

  @include vp-768 {
    padding: 40px 0 20px;
    background-color: var(--bg-primary);
  }

  @include vp-1024 {
    padding: 81px 0 54px;
  }

  .container {
    padding: 0;

    @include vp-768 {
      padding: 0 var(--container-offset-tablet);
      background-color: var(--bg-primary);
    }

    @include vp-1366 {
      padding: 0 var(--container-offset-desktop);
    }
  }
}

.brands__title {
  @include title;

  display: none;
  margin: 0 0 10px;
  padding: 0 var(--container-offset-small);
  color: var(--white);

  @include vp-390 {
    padding: 0 var(--container-offset-mobile);
  }

  @include vp-768 {
    display: block;
    padding: 0;
  }

  @include vp-1024 {
    margin: 0 0 77px;
  }
}

.brands__title-additional {
  display: none;

  @include vp-1024 {
    display: inline-block;
  }
}

.brands__swiper-box {
  margin: 0 0 3px;
  padding: 11px var(--container-offset-small) 8px;
  background-color: var(--bg-primary);

  @include vp-390 {
    padding: 11px var(--container-offset-mobile) 8px;
  }

  @include vp-768 {
    padding: 0;
  }
}

.brands__swiper-wrapper {
  display: flex;
  margin: 0 0 calc(2px / $vp-390 * 100vw);
  padding: 0;
  list-style-type: none;
  background-color: var(--bg-primary);

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    margin: 0;
  }

  @include vp-1024 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.brands__slide {
  @include slide-layout;
}

.brands__slide-container {
  aspect-ratio: 1 / 1;
  padding: 10px;
  background-color: var(--bg-light);

  @include vp-768 {
    padding: 16px 21px 17px 19px;
  }
}

.brands__slide-container img {
  @include img-contain;
}

.brands__swiper-pagination {
  @include swiper-pagination;

  min-height: 20px;
  padding: 0 var(--container-offset-small);

  @include vp-390 {
    padding: 0 var(--container-offset-mobile);
  }

  @include vp-768 {
    display: none;
  }
}

.brands__pagination-bullet {
  @include swiper-pagination-button;

  @include vp-390 {
    height: calc(5px / $vp-390 * 100vw);
  }
}
