@use "../index" as *;

.catalog {
  @include block-padding;

  @include vp-1024 {
    padding: 0;
  }
}

.catalog__title {
  @include title;

  margin: 0 0 10px;

  @include vp-1024 {
    margin: 0 0 18px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 10px;
    margin: 0 0 10px;
  }

  @include vp-1024 {
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
  }
}

.catalog__item {
  margin-bottom: 9px;

  @include vp-768 {
    margin-bottom: 0;
  }
}

.catalog__item:nth-child(n + 7) {
  display: none;

  @include vp-768 {
    display: block;
  }
}

.catalog__item:nth-child(n + 10) {
  @include vp-768 {
    display: none;
  }

  @include vp-1024 {
    display: block;
  }
}

.catalog__card {
  @include catalog-card;

  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  align-items: center;
  gap: 17px;
  padding: 5px;

  @include vp-768 {
    grid-template-columns: auto;
    grid-template-rows: 1fr minmax(30px, auto);
    align-items: end;
    height: 100%;
    min-height: 270px;
    gap: 1px;
    padding: 5px 5px 10px;
  }

  @include vp-1024 {
    min-height: 200px;
  }

  @include vp-1366 {
    grid-template-rows: 1fr minmax(43px, auto);
    justify-items: center;
    min-height: 348px;
    padding: 5px 5px 15px;
  }
}

.catalog__img {
  aspect-ratio: 142 / 105;
  width: 142px;

  @include vp-390 {
    width: calc(142px / $vp-390 * 100vw);
  }

  @include vp-768 {
    aspect-ratio: 273 / 247;
    width: unset;
    align-self: end;
  }

  @include vp-1366 {
    width: 273px;
    height: 247px;
  }
}

.catalog__img img {
  @include img-contain;
}

.catalog__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  word-break: break-word;

  @include vp-390 {
    font-size: calc(18px / $vp-390 * 100vw);
  }

  @include vp-768 {
    align-self: start;
    font-size: 18px;
    text-align: center;
  }

  @include vp-1366 {
    font-size: 25px;
  }
}

.catalog__link-more {
  display: block;
  width: 100%;
  margin: 11px auto 0;

  @include vp-390 {
    font-size: calc(12px / $vp-390 * 100vw);
  }

  @include vp-768 {
    font-size: 18px;
    padding: 14px 15px 13px;
  }

  @include vp-1024 {
    display: none;
  }
}
