@use "index" as *;

.categories-list__title {
  @include title-h1;
}

.categories-list__breadcrumbs {
  margin: 0 0 6px;

  @include vp-768 {
    margin: 0 0 19px;
  }
}

.categories-list__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    gap: 10px;
    margin: 0 0 10px;
  }

  @include vp-1024 {
    margin: 0;
  }
}

.categories-list__card {
  @include catalog-card;

  grid-template-rows: 1fr minmax(36px, auto);
  justify-items: center;
  min-height: 170px;
  height: 100%;

  @include vp-390 {
    min-height: calc(170px / $vp-390 * 100vw);
  }

  @include vp-768 {
    grid-template-columns: auto;
    grid-template-rows: 1fr minmax(30px, auto);
    align-items: end;
    height: 100%;
    min-height: 225px;
    gap: 1px;
    padding: 5px 5px 10px;
  }

  @include vp-1024 {
    min-height: 200px;
  }

  @include vp-1366 {
    grid-template-rows: 1fr minmax(43px, auto);
    justify-items: center;
    min-height: 348px;
    padding: 5px 5px 15px;
  }
}

.categories-list__img {
  aspect-ratio: 142 / 105;
  width: 142px;

  @include vp-390 {
    width: calc(142px / $vp-390 * 100vw);
  }

  @include vp-768 {
    aspect-ratio: 273 / 247;
    width: unset;
    align-self: end;
  }

  @include vp-1366 {
    width: 273px;
    height: 247px;
  }
}

.categories-list__img img {
  @include img-contain;
}

.categories-list__subtitle {
  align-self: center;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: var(--black);

  @include vp-390 {
    font-size: calc(14px / $vp-390 * 100vw);
  }

  @include vp-768 {
    align-self: start;
    font-size: 18px;
    text-align: center;
  }

  @include vp-1366 {
    font-size: 25px;
  }
}
