@use "index" as *;

.catalog {
  @include block-padding;
}

.catalog__title {
  @include title;

  margin: 0 0 10px;

  @include vp-1024 {
    margin: 0 0 18px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 10px;
    margin: 0 0 10px;

    @include vp-1024 {
      grid-template-columns: repeat(4, 1fr);
      margin: 0;
    }
  }
}

.catalog__item {
  margin-bottom: 9px;

  @include vp-768 {
    margin-bottom: 0;
  }
}

.catalog__item:nth-child(n + 7) {
  display: none;

  @include vp-768 {
    display: block;
  }
}

.catalog__item:nth-child(n + 10) {
  @include vp-768 {
    display: none;
  }

  @include vp-1024 {
    display: block;
  }
}

.catalog__link-more {
  display: block;
  width: 100%;
  margin: 11px auto 0;

  @include vp-390 {
    font-size: calc(12px / $vp-390 * 100vw);
  }

  @include vp-768 {
    font-size: 18px;
    padding: 14px 15px 13px;
  }

  @include vp-1024 {
    display: none;
  }
}
