@use "index" as *;

.details__card {
  background-color: var(--bg-light);
}

.details__visual {
  padding: 11px 9px 10px;
}

.details__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  margin: 0 0 44px;
}

.details__tags {
  width: fit-content;
}

.details__tag {
  @include tag-for-card;
}

.details__tag:not(:last-child) {
  margin: 0 0 5px;
}

.details__rating {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 17px;
  color: var(--black);
}

.details__rating-content {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
}

.details__swiper-wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.details__slide {
  @include slide-layout;
}

.details__slide-container {
  @include slide-container;

  aspect-ratio: 315 / 201;
}

.details__slide-container img {
  @include img-contain;
}

.details__thumb-swiper-wrapper {
  margin: 0 0 15px;
  padding: 0;
  list-style-type: none;
}

.details__thumb-slide {
  animation: appear 0.3s;
}

.details__thumb-slide--active {
  display: none;
}

.details__thumb-slide-container {
  @include slide-container;

  aspect-ratio: 311 / 192;
}

.details__thumb-slide-container img {
  @include img-contain;
}

.details__swiper-container .details__scrollbar {
  @include swiper-scrollbar;
}
