@use "../index" as *;

.faq {
  @include block-padding;
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.faq__item:not(:last-child) {
  margin: 0 0 5px;

  @include vp-768 {
    margin: 0 0 17px;
  }
}

.faq__button {
  @include accordion-plus-span;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 5px 13px 5px 20px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  color: var(--black);
  border: none;
  background-color: var(--grey-light);
  transition: background-color 0.3s;

  @include vp-768 {
    padding: 10px 13px 10px 20px;
    font-size: 22px;
  }

  @include vp-1024 {
    padding: 10px 41px 10px 20px;
    font-size: 25px;
  }

  @include hover-focus {
    outline: none;
    background-color: var(--grey-middle);
  }

  @include active {
    background-color: var(--grey);
  }
}

.faq__content {
  max-width: 520px;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.4s, max-height 0.4s, transform 0.3s;

  &.accordion-content--opened {
    margin: 10px 0;
    transform: scaleY(1);
    transition: opacity 0.4s, max-height 0.4s, transform 0.1s;

    @include vp-768 {
      margin: 13px 0 15px 20px;
    }
  }
}

.faq__content p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  @include vp-768 {
    font-size: 18px;
    line-height: 1.22;
  }
}

.faq__content p + p {
  margin-top: 10px;
}
