@use "index" as *;

.favorites__title {
  @include title;

  margin: 0 0 10px;
}

.favorites__breadcrumbs {
  margin: 0 0 10px;
}

.favorites__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @include vp-1024 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  @include vp-1366 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.favorites__card {
  @include card-small;

  &-visual {
    @include vp-1024 {
      padding: 5px;
    }
  }

  &-visual-swiper-container {
    @include vp-1024 {
      padding: 0 10px;
    }
  }

  &-user {
    justify-content: flex-start;
    width: 100%;

    @include vp-1024 {
      justify-content: flex-end;
    }
  }

  &-user-delete {
    margin-left: auto;

    @include vp-1024 {
      margin: 0;
    }
  }
}
