@use "index" as *;

.filters {
  @include block-padding;
}

.filters__tags {
  @include tags-list;

  margin: 0 0 19px;

  @include vp-1024 {
    margin: 0 0 42px;
  }
}

.filters__wrapper {
  @include vp-768 {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: minmax(0, min-content) auto;
    gap: 40px 10px;
  }
}

.filters__controls {
  @include vp-1024 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
}

.filters__selects {
  margin: 0 0 15px;

  @include vp-768 {
    margin: 0;
  }

  @include vp-1024 {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px 25px;
  }

  @include vp-1366 {
    max-width: 741px;
  }
}

.filters__select {
  @include select-standard;

  &--additional {
    display: none;

    @include vp-1024 {
      display: block;
    }
  }
}

.filters__select-label {
  @include vp-1024 {
    @include visually-hidden;
  }
}

.filters__select-button {
  @include vp-768 {
    padding: 10px 10px 10px 14px;
  }

  @include vp-1024 {
    padding: 13px 10px 13px 14px;
  }
}

.filters__view {
  display: none;

  @include vp-1024 {
    @include view-toggles;

    justify-content: flex-end;
  }

  @include vp-1366 {
    min-width: 200px;
  }
}

.filters__filter {
  --filter-transform: scaleY(0);
  --filter-opacity: 0;

  position: relative;
  margin: 0 0 14px;

  @include vp-768 {
    grid-area: 1 / 1 / 3 / 2;
    max-width: 300px;
    margin: 0;
  }

  @include vp-1024 {
    max-width: 373px;
  }

  &--opened {
    --filter-transform: scaleY(1);
    --filter-opacity: 1;
  }
}

.filters__filter-button {
  @include interactive-link-dark;

  display: grid;
  grid-template-columns: 1fr 11px;
  align-items: center;
  gap: 19px;
  margin: 0;
  padding: 5px 0;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: var(--text-dark);
  background-color: var(--transparent);
  border: none;

  @include vp-768 {
    grid-template-columns: 1fr 16px;
    margin: 0 0 10px;
    font-size: 18px;
  }

  @include vp-1024 {
    gap: 38px;
    margin: 0 0 18px;
    padding: 2px 0;
    font-size: 25px;
  }

  &::after {
    content: "";
    width: 11px;
    height: 10px;
    mask-image: url("../img/sprite.svg#filter");
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 11px 10px;
    background-color: var(--accent);

    @include vp-768 {
      width: 16px;
      height: 15px;
      mask-size: 16px 15px;
    }
  }
}

.filters__form {
  position: absolute;
  top: 100%;
  left: calc(-1 * var(--container-offset-small));
  width: calc(100% + 2 * var(--container-offset-small));
  padding: 51px var(--container-offset-small);
  background-color: var(--bg-light);
  transform: var(--filter-transform);
  opacity: var(--filter-opacity);
  transform-origin: top;
  transition: transform 0.4s, opacity 0.2s;
  z-index: 5;

  @include vp-390 {
    left: calc(-1 * var(--container-offset-mobile));
    width: calc(100% + 2 * var(--container-offset-mobile));
    padding: 51px var(--container-offset-mobile);
  }

  @include vp-768 {
    position: relative;
    top: unset;
    left: unset;
    width: unset;
    max-height: unset;
    padding: 0;
    background-color: var(--transparent);
  }

  &.accordion-content--opened {
    transform: scaleY(1);
  }
}

.filters__form-close {
  @include close-button;

  position: absolute;
  top: 10px;
  right: var(--container-offset-small);
  width: 19px;
  height: 18px;
  background-color: var(--accent);

  @include vp-390 {
    right: var(--container-offset-mobile);
  }

  @include vp-768 {
    display: none;
  }

  &::before,
  &::after {
    width: 10px;
    height: 1px;
  }
}

.filters__group {
  margin: 0 0 20px;

  @include vp-1024 {
    margin: 0 0 18px;
  }
}

.filters__group-button {
  @include accordion-plus;
  @include filter-button;

  margin: 0 0 3px;
}

.filters__inputs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5px 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filters__field {
  @include filter-checkbox;
}

.filters__button {
  width: 100%;
  min-height: 36px;
  margin: 0 0 5px;
  font-weight: 500;
  font-size: 14px;
}

.filters__count {
  font-size: 9px;
  line-height: 0.6;
  vertical-align: top;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--accent);
}

.filters__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px 20px;
  margin: 0 0 21px;
  padding: 0;
  list-style-type: none;
  opacity: 1;

  &--grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @include vp-1366 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &--list {
    @include vp-1024 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  &--short {
    @include vp-1024 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  &--animated {
    transition: opacity 0.3s;
  }

  &--hidden {
    opacity: 0;
  }

  @include vp-768 {
    align-self: start;
    gap: 21px 11px;
    margin: 0;
  }

  @include vp-1024 {
    margin: 0 0 37px;
  }
}

.filters__card:nth-child(n + 7) {
  display: none;

  @include vp-768 {
    display: unset;
  }
}

.filters__list--grid .filters__card {
  @include card-transformer;
}

.filters__list--list .filters__card {
  @include card-transformer;

  @include vp-1024 {
    @include card-with-details;
  }
}

.filters__list--short .filters__card {
  @include card-transformer;

  @include vp-1024 {
    @include card-short;
  }
}

.filters__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 20px;

  @include vp-768 {
    grid-column: 2 / 3
  }
}

.filters__pagination {
  @include pagination;
}

.filters__link-more {
  @include link-more;

  padding: 0;
  font-weight: 500;
  font-size: 14px;

  @include vp-1024 {
    font-weight: 600;
    font-size: 18px;
  }
}
