@use "../index" as *;

.form {
  --bg-color: var(--bg-light);
  --color: var(--black);
  --input-color: var(--grey-light);
  --button-bg: var(--accent-dark);
  --button-color: var(--white);

  &--modal {
    --bg-color: var(--bg-primary);
    --color: var(--white);
    --input-color: var(--bg-light);
    --button-bg: var(--white);
    --button-color: var(--black);
  }
}

.form__container {
  position: relative;
  padding: 21px 10px 19px;
  color: var(--color);
  background-color: var(--bg-color);

  @include vp-768 {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 50px;
    padding: 17px 20px 30px;
  }

  @include vp-1024 {
    padding: 17px 40px 41px;
  }
}

.form--modal .form__container {
  @include vp-768 {
    padding: 0;
    gap: 10px;
  }
}

.form__logo {
  position: absolute;
  top: 25px;
  right: 10px;
  width: 40px;
  height: 13px;

  @include vp-768 {
    position: static;
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
    width: 92px;
    height: 30px;
  }

  @include vp-1024 {
    width: 129px;
    height: 46px;
  }
}

.form__wrapper {
  @include vp-768 {
    grid-area: 1 / 1 / 3 / 2;
  }

  @include vp-1024 {
    max-width: 912px;
  }
}

.form__title {
  margin: 0 0 21px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.21;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: inherit;

  @include vp-768 {
    font-size: 25px;
    letter-spacing: 0;
  }

  @include vp-1024 {
    margin: 0 0 39px;
    font-size: 35px;
  }

  span {
    display: block;

    @include vp-768 {
      display: inline;
    }
  }

  br {
    display: none;

    @include vp-768 {
      display: block;
    }
  }
}

.form--modal .form__title {
  margin: 0 0 22px;
}

.form__text {
  margin: 0 0 29px 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: inherit;

  @include vp-768 {
    font-size: 16px;
  }

  @include vp-1024 {
    max-width: 620px;
    margin: 0 0 39px;
    font-size: 18px;
  }
}

.form--modal .form__text {
  @include vp-1024 {
    max-width: 90%;
    margin: 0 0 31px;
    font-weight: 600;
    font-size: 25px;
    text-transform: unset;
    letter-spacing: 0;
  }
}

.form--modal .form__form {
  @include vp-1024 {
    max-width: 563px;
  }
}

.form__group {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__field {
  @include input;

  --field-color: var(--input-color);
}

.form__item {
  margin: 0 0 5px;

  @include vp-1024 {
    margin: 0 0 10px;
  }
}

.form__item--control {
  margin: 10px 0;

  @include vp-768 {
    max-width: 500px;
    margin: 26px 0 10px;
  }
}

.form__control {
  @include control;

  --border: 1px solid var(--color);
}

.form__file {
  @include input-file;
}

.form__text-error {
  @include accordion-content;

  margin: 0;
  font-size: 12px;
  color: var(--accent);

  @include vp-1024 {
    font-size: 14px;
  }
}

.form__button {
  width: 100%;
  margin: 8px 0 9px;
  padding: 8px 15px 9px;
  color: var(--button-color);
  background-color: var(--button-bg);

  @include vp-768 {
    margin: 10px 0 0;
    padding: 12px 15px 11px;
  }

  @include vp-1024 {
    padding: 14px 15px;
  }
}

.form--modal .form__button {
  @include interactive-button-light;
}

.form__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  @include vp-768 {
    display: block;
    grid-area: 2 / 2 / 3 / 3;
    place-self: end;
  }
}

.form__socials {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    justify-content: flex-end;
    gap: 10px;
  }

  @include vp-1024 {
    gap: 15px;
  }
}

.form__socials-link {
  @include social-link;

  @include vp-768 {
    width: 36px;
    height: 36px;
  }

  @include vp-1024 {
    width: 49px;
    height: 49px;
  }
}

.form__address {
  @include vp-768 {
    margin: 0 0 10px;
  }

  @include vp-1024 {
    margin: 0 0 19px;
  }
}

.form__contacts-link {
  @include interactive-link-dark;

  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--color);
  text-align: right;

  @include vp-768 {
    font-size: 16px;
  }

  @include vp-1024 {
    font-size: 18px;
  }
}

.form--modal .form__contacts-link {
  @include interactive-link-light;
}

.form__quantity {
  @include field-quantity;
}
