@use "../index" as *;

.product {
  @include block-padding;
}

.product__header {
  @include vp-768 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}

.product__title {
  @include title;

  margin: 0 0 20px;

  @include vp-1366 {
    margin: 0 0 37px;
  }
}

.product--popular .product__title,
.product--news .product__title {
  margin: 0 0 10px;

  @include vp-1024 {
    margin: 0 0 44px;
  }
}

.product__title-accent {
  @include title-accent;
}

.product__link {
  display: none;

  @include vp-768 {
    @include link-more;
  }
}

.product__swiper-wrapper {
  margin: 0 0 3px;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    margin: 0;
  }
}

.product__slide {
  @include slide-layout;
}

.product__slide-container {
  @include slide-container;
}

.product__card {
  @include card;
}

.product__swiper-pagination {
  @include swiper-pagination;

  min-height: 20px;

  @include vp-768 {
    display: none;
  }
}

.product__pagination-bullet {
  @include swiper-pagination-button;

  @include vp-390 {
    height: calc(5px / $vp-390 * 100vw);
  }
}
