@use "index" as *;

.reviews {
  @include block-padding;
}

.reviews__header {
  @include vp-768 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}

.reviews__link {
  display: none;

  @include vp-768 {
    @include link-more;
  }
}

.reviews__title {
  @include title;

  margin: 0 0 4px;

  @include vp-1024 {
    margin: 0 0 20px;
  }

  @include vp-1366 {
    margin: 0 0 37px;
  }
}

.reviews__swiper-wrapper {
  display: flex;
  margin: 0 0 calc(2px / $vp-390 * 100vw);
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
    margin: 0;
  }
}

.reviews__slide {
  @include slide-layout;
}

.reviews__swiper-pagination {
  @include swiper-pagination;

  min-height: 20px;

  @include vp-768 {
    display: none;
  }
}

.reviews__pagination-bullet {
  @include swiper-pagination-button;

  @include vp-390 {
    height: calc(5px / $vp-390 * 100vw);
  }
}
