@use "../index" as *;

.search__title {
  @include title-h1;

  @include vp-1024 {
    margin: 0 0 5px;
  }
}

.search__breadcrumbs {
  @include vp-1024 {
    margin: 0 0 10px;
  }
}

.search__wrapper {
  @include vp-768 {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: minmax(0, min-content) auto;
    gap: 0 10px;
  }
}

.search__catalog {
  @include vp-768 {
    grid-area: 1 / 1 / 3 / 2;
    max-width: 300px;
  }

  @include vp-1024 {
    max-width: 373px;
  }

  @include vp-1640 {
    width: 373px;
  }
}

.search__catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.search__catalog-group {
  position: relative;
  margin: 0 0 10px;
}

.search__catalog-plus {
  @include accordion-plus;

  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: var(--transparent);
  border: none;
  z-index: 10;

  @include hover-focus {
    outline: 1px solid var(--white);
  }

  &::before,
  &::after {
    width: 2px;
  }

  &--dark {
    --bg-color: var(--black);

    @include hover-focus {
      outline: 1px solid var(--black);
    }
  }
}

.search__catalog-link-main {
  @include filter-button;

  display: block;
}

.search__subcatalog {
  overflow: unset;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.search__subcatalog-item {
  --popup-display: none;

  position: relative;
  margin: 0 0 10px;

  &:focus-within {
    --popup-display: block;
  }

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    content: "";
    width: 100%;
    height: 10px;
    background-color: var(--transparent);
  }
}

.search__subcatalog-item:has(.search__catalog-plus:hover),
.search__subcatalog-item:has(.search__catalog-plus:focus-visible) {
  --popup-display: block;
}

.search__subcatalog-link {
  @include interactive-link-dark;

  display: block;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  color: var(--black);
  background-color: var(--grey-light);
  text-align: center;
}

.search__subcatalog-details {
  @include popup;

  display: var(--popup-display);
  top: 0;
  left: 100%;
  width: 386px;
  max-height: unset;
  margin: 0;
  padding: 10px 10px 20px 30px;
  list-style-type: none;
  transform: none;
  opacity: 1;
  animation: appear 0.3s;
  z-index: 5;

  &::before {
    position: absolute;
    top: 0;
    right: calc(100% - 1px);
    content: "";
    width: 20px;
    height: 100%;
    background-color: var(--transparent);
  }

  @include hover-focus {
    display: block;
  }
}

.search__subcatalog-details-item {
  &:not(:last-child) {
    margin: 0 0 5px;
  }
}

.search__subcatalog-details-link {
  @include interactive-link-dark;

  font-weight: 500;
  font-size: 18px;
  color: var(--black);
}

.search__subtitle {
  display: none;

  @include vp-768 {
    display: block;
    margin: 0 0 10px;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
  }
}

.search__form {
  margin: 0 0 20px;

  @include vp-1024 {
    display: grid;
    grid-template-columns: minmax(0, 15fr) minmax(0, 7fr);
    gap: 0 24px;
    margin: 0 0 43px;
  }

  .search__subtitle {
    grid-column: 1 / -1;
  }
}

.search__field {
  @include input-with-border;

  margin: 0 0 18px;

  @include vp-1024 {
    margin: 0 0 23px;
  }
}

.search__select {
  @include select-standard;

  height: 46px;
  margin: 0 0 8px;

  @include vp-1024 {
    margin: 0 0 23px;
  }

  &-button {
    height: 100%;
  }
}

.search__checkboxes {
  margin: 0 0 11px;

  @include vp-1024 {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 44px;
    margin: 0 0 22px;
  }
}

.search__checkbox {
  @include control;

  --color: var(--text-basic);

  align-items: center;
  min-height: 25px;
  padding-left: 30px;

  &::before,
  &::after {
    top: 2px;
    width: 22px;
    height: 22px;
  }

  &::after {
    mask-size: 15px 15px;
  }

  span {
    margin: 2px 0 0;
    font-weight: 500;
    font-size: 14px;
    color: var(--color);
  }

  &:not(:last-child) {
    margin: 0 0 5px;

    @include vp-1024 {
      margin: 0;
    }
  }

  &--light {
    --color: var(--grey-middle);
  }
}

.search__button {
  width: 100%;

  @include vp-768 {
    width: fit-content;
    min-width: 220px;
  }
}

.search__no-result {
  padding: 20px 0;

  p {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    color: var(--grey-middle);
  }
}

.search__results .filters__controls {
  @include vp-768 {
    margin: 0 0 20px;
  }
}
