@use "../index" as *;

.service-others {
  @include block-padding;
}

.service-others__wrapper {
  @include vp-768 {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: end;
    gap: 19px 0;

    @include vp-1024 {
      gap: 9px 0;
    }
  }
}

.service-others__title {
  @include title;

  margin: 0 0 19px;

  @include vp-768 {
    margin: 0;
  }

  @include vp-1366 {
    font-size: 62px;
  }
}

.service-others__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin: 0 0 15px;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    grid-column: 1 / 3;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    margin: 0;
  }
}

.service-others__item:nth-child(n + 3) {
  display: none;

  @include vp-768 {
    display: flex;
  }
}

.service-others__card {
  @include service-card;

  height: 100%;

  @include vp-1640 {
    min-height: 651px;
  }
}

.service-others__link-all {
  display: block;
  margin: 0 auto;
  width: 100%;

  @include vp-390 {
    font-size: calc(12px / $vp-390 * 100vw);
  }

  @include vp-768 {
    @include link-more;

    grid-area: 1 / 2 / 2 / 3;
    padding: 10px 8px 11px;
    font-size: 18px;
    background-color: var(--transparent);

    @include hover-focus {
      background-color: var(--transparent);
    }
  }
}
