@use "../index" as *;

.services-type__title {
  @include title-h1;

  @include vp-1024 {
    margin: 0 0 15px;
  }
}

.services-type__breadcrumbs {
  margin: 0 0 21px;

  @include vp-1024 {
    margin: 0 0 11px;
  }
}

.services-type__img {
  aspect-ratio: 333 / 183;
  width: 100%;
  margin: 0 0 13px;

  @include vp-768 {
    aspect-ratio: 1520 / 515;
  }

  @include vp-1024 {
    margin: 0 0 20px;
  }
}

.services-type__img img {
  @include img-cover;
}

.services-type__description {
  margin: 0 0 30px;

  @include vp-1024 {
    margin: 0 0 78px;
  }

  p {
    margin: 0;
    font-weight: 500;
    font-size: 18px;

    @include vp-1024 {
      font-size: 25px;
      line-height: 1.2;
    }
  }

  p + p {
    margin-top: 20px;
  }
}

.services-type__advantages {
  margin: 0 0 10px;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 0 20px;
  }

  @include vp-1024 {
    margin: 0 0 43px;
  }
}

.services-type__advantages-title {
  @include title;

  margin: 0 0 10px;

  @include vp-768 {
    grid-column: 1 / 3;
  }

  @include vp-1024 {
    margin: 0 0 30px;
  }
}

.services-type__advantages-group {
  --item-display: block;
  --text-width: 90%;

  display: grid;
  grid-auto-rows: 1fr;
  gap: 10px;
  padding: 10px;
  background-color: var(--grey-light);

  @include vp-1024 {
    gap: 20px;
    padding: 20px;
  }

  &:not(:last-child) {
    margin: 0 0 10px;

    @include vp-768 {
      margin: 0;
    }
  }

  &--center {
    --item-display: grid;
  }

  &--united {
    &:not(:last-child) {
      margin: 0;
      padding: 10px 10px 0;

      @include vp-768 {
        padding: 10px;
      }

      @include vp-1024 {
        padding: 20px;
      }
    }
  }
}

.services-type__advantages-group:has(> :only-child) {
  align-self: start;
  height: calc(50% + 5px);

  @include vp-1024 {
    height: calc(50% + 10px);
  }
}

.services-type__advantages-item {
  display: var(--item-display);
  align-items: center;
  min-height: 162px;
  padding: 10px;
  color: var(--white);
  background-color: var(--bg-primary);

  @include vp-1024 {
    min-height: 217px;
    padding: 18px 20px 31px;
  }

  h3 {
    max-width: 90%;
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 18px;

    @include vp-1024 {
      font-weight: 600;
      font-size: 25px;
      line-height: 1.2;
    }
  }

  p {
    max-width: 560px;
    margin: 0;
    font-weight: 400;
    font-size: 12px;

    @include vp-1024 {
      font-size: 18px;
      line-height: 1.2;
    }
  }

  ul {
    margin: 0;
    padding: 0 0 10px 20px;
    list-style-type: none;
  }

  li {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;

    &::before {
      position: absolute;
      top: 7px;
      left: -9px;
      content: "";
      width: 2px;
      height: 2px;
      background-color: var(--white);
      border-radius: 50%;

      @include vp-1024 {
        top: 10px;
        left: -15px;
        width: 4px;
        height: 4px;
      }
    }
  }
}

.services-type__text {
  max-width: 550px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;

  @include vp-1024 {
    max-width: 1170px;
    font-size: 25px;
    line-height: 1.2;
  }

  &--underline {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  &--companies {
    @include vp-1024 {
      font-size: 18px;
    }
  }
}

.services-type__text p {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-decoration: inherit;
}

.services-type__text-link {
  @include interactive-link-dark;

  display: inline-block;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  color: var(--black);
  text-decoration: inherit;

  &--accent {
    @include interactive-link-light;

    color: var(--accent-dark);
  }
}

.services-type__download,
.services-type__download-button {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--black);

  @include vp-1024 {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.01em;
  }
}

.services-type__download-button {
  @include interactive-link-light;

  padding: 0;
  color: var(--accent-dark);
  border: none;
  background-color: var(--transparent);
}

.services-type__installation-title {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;

  @include vp-1024 {
    margin: 0 0 32px;
    font-size: 50px;
  }

  &--additional {
    display: none;

    @include vp-768 {
      display: block;
    }
  }
}

.services-type__installation-wrapper {
  margin: 0 0 15px;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 9px;
  }

  @include vp-1024 {
    margin: 0 0 80px;
  }
}

.services-type__installation-group {
  padding: 10px;
  background-color: var(--bg-light);

  @include vp-1024 {
    padding: 35px 36px 24px 20px;
  }

  &--additional {
    display: none;

    @include vp-768 {
      display: block;
    }
  }

  &--light {
    padding: 3px;
    background-color: var(--transparent);

    @include vp-768 {
      display: grid;
      grid-template-rows: 1fr auto;
      padding: 0 15px;
    }
  }

  div + ul {
    margin-top: 10px;

    @include vp-1024 {
      margin-top: 40px;
    }
  }

  div + div,
  ul + div,
  p + p {
    margin-top: 20px;

    @include vp-1024 {
      margin-top: 40px;
    }
  }
}

.services-type__installation-accent p,
.services-type__installation-accent a {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  color: var(--accent-dark);

  @include vp-1024 {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.2;
  }
}

.services-type__installation-text p,
.services-type__installation-text a {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--black);

  @include vp-1024 {
    font-size: 25px;
    line-height: 1.2;
  }
}

.services-type__installation-text--big p,
.services-type__installation-text--big a {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.23;
  letter-spacing: 0.01em;

  @include vp-1024 {
    font-size: 25px;
    line-height: 1.2;
  }
}

.services-type__installation-list {
  max-width: 515px;
  margin: 0;
  padding: 0 0 0 11px;
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  @include vp-1024 {
    padding: 0 0 0 17px;
    font-size: 18px;
  }

  li {
    position: relative;

    &::before {
      position: absolute;
      top: 8px;
      left: -12px;
      content: "";
      width: 3px;
      height: 3px;
      background-color: var(--black);
      border-radius: 50%;

      @include vp-1024 {
        top: 10px;
        left: -15px;
        width: 4px;
        height: 4px;
      }
    }
  }
}

.services-type__installation-link {
  @include interactive-link-dark;
}

.services-type__installation-download {
  margin: auto 0 0;
}

.services-type__companies-title {
  @include title;

  margin: 0 0 23px;
}

.services-type__companies-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-type__companies-item {
  &:not(:last-child) {
    margin: 0 0 24px;

    @include vp-1024 {
      margin: 0 0 37px;
    }
  }
}

.services-type__companies-wrapper {
  display: grid;
  min-height: 169px;
  margin: 0 0 20px;
  padding: 10px 15px 20px;
  background-color: var(--grey-light);

  @include vp-768 {
    padding: 18px 20px 30px;
  }

  @include vp-1366 {
    margin: 0 0 40px;
    padding: 18px 20px 51px;
  }
}

.services-type__companies-subtitle {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--bg-primary);

  @include vp-768 {
    font-size: 18px;
    text-align: left;
  }

  @include vp-1024 {
    font-size: 25px;
  }

  @include vp-1366 {
    margin: 0 0 3px;
  }
}

.services-type__companies-image {
  align-self: end;
  height: 90px;

  @include vp-768 {
    height: 150px;
  }

  @include vp-1024 {
    height: 233px;
  }

  img {
    @include img-contain;
  }
}

.services-type__companies .services-type__advantages {
  @include vp-1024 {
    margin: 0 0 18px;
  }
}

.services-type__solution {
  margin: 27px 0 10px;

  @include vp-1024 {
    margin: 95px 0 87px;
  }
}

.services-type__solution-title {
  @include title;

  margin: 0 0 20px;

  @include vp-1024 {
    margin: 0 0 41px;
  }
}

.services-type__solution-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-type__solution-item {
  position: relative;
  display: grid;
  align-items: center;
  min-height: 46px;
  padding: 7px 40px 7px 10px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--bg-light);

  @include vp-1024 {
    padding: 7px 100px 7px 23px;
    font-size: 25px;
    line-height: 1.2;
  }

  @include vp-1640 {
    padding: 7px 311px 7px 23px;
  }

  &::after {
    position: absolute;
    top: 7px;
    right: 6px;
    content: "";
    width: 26px;
    height: 26px;
    background-color: var(--accent-dark);
    mask-image: url("../img/sprite.svg#tick");
    mask-position: center center;
    mask-size: 100% 100%;
    mask-repeat: no-repeat;

    @include vp-1024 {
      top: 5px;
      right: 39px;
      width: 40px;
      height: 40px;
    }
  }

  &:not(:last-child) {
    margin: 0 0 4px;

    @include vp-768 {
      margin: 0 0 10px;
    }
  }
}

.services-type__equipment-title {
  @include title;
  margin: 0 0 12px;

  @include vp-1024 {
    margin: 0 0 49px;
  }
}

.services-type__equipment-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 0 0 80px;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    gap: 10px;
  }

  @include vp-1024 {
    margin: 0 0 118px;
  }
}

.services-type__equipment-card {
  @include catalog-card;

  grid-template-rows: 1fr minmax(36px, auto);
  justify-items: center;
  min-height: 180px;
  height: 100%;

  @include vp-390 {
    min-height: calc(180px / $vp-390 * 100vw);
  }

  @include vp-768 {
    grid-template-columns: auto;
    grid-template-rows: 1fr minmax(30px, auto);
    align-items: end;
    height: 100%;
    min-height: 225px;
    gap: 1px;
    padding: 5px 5px 10px;
  }

  @include vp-1024 {
    min-height: 200px;
  }

  @include vp-1366 {
    grid-template-rows: 1fr minmax(43px, auto);
    justify-items: center;
    min-height: 348px;
    padding: 5px 5px 15px;
  }
}

.services-type__equipment-img {
  aspect-ratio: 142 / 105;
  width: 142px;

  @include vp-390 {
    width: calc(142px / $vp-390 * 100vw);
  }

  @include vp-768 {
    aspect-ratio: 307 / 247;
    width: unset;
    align-self: end;
  }

  @include vp-1366 {
    width: 307px;
    height: 247px;
  }

  img {
    @include img-contain;
  }
}

.services-type__equipment-subtitle {
  align-self: center;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  word-break: break-word;

  @include vp-390 {
    font-size: calc(14px / $vp-390 * 100vw);
  }

  @include vp-768 {
    align-self: start;
    font-size: 18px;
  }

  @include vp-1366 {
    font-size: 25px;
  }
}

.services-type__equipment-add-title {
  @include title;
  margin: 0 0 10px;

  @include vp-1024 {
    margin: 0 0 29px;
  }
}

.services-type__equipment-add-list {
  margin: 0 0 10px;
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 10px;
  }

  @include vp-1024 {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 52px;
  }

  @include vp-1366 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.services-type__equipment-add-item {
  &:not(:last-child) {
    margin: 0 0 5px;

    @include vp-768 {
      margin: 0;
    }
  }
}

.services-type__equipment-add-link {
  display: grid;
  align-items: center;
  min-height: 60px;
  padding: 8px 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--accent-dark);
  transition: background-color 0.3s;

  @include vp-768 {
    height: 100%;
  }

  @include hover-focus {
    background-color: var(--bg-primary);
  }

  @include active {
    background-color: var(--accent-dark-opacity);
  }
}
