@use "index" as *;

.services-type__title {
  @include title-h1;

  @include vp-1024 {
    margin: 0 0 15px;
  }
}

.services-type__breadcrumbs {
  margin: 0 0 21px;

  @include vp-1024 {
    margin: 0 0 11px;
  }
}

.services-type__img {
  aspect-ratio: 333 / 183;
  width: 100%;
  margin: 0 0 13px;

  @include vp-768 {
    aspect-ratio: 1520 / 515;
  }

  @include vp-1024 {
    margin: 0 0 20px;
  }
}

.services-type__img img {
  @include img-cover;
}

.services-type__description {
  margin: 0 0 30px;

  @include vp-1024 {
    margin: 0 0 78px;
  }

  p {
    margin: 0;
    font-weight: 500;
    font-size: 18px;

    @include vp-1024 {
      font-size: 25px;
      line-height: 1.2;
    }
  }

  p + p {
    margin-top: 20px;
  }
}

.services-type__advantages {
  margin: 0 0 10px;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 0 20px;
  }

  @include vp-1024 {
    margin: 0 0 43px;
  }
}

.services-type__advantages-title {
  @include title;

  margin: 0 0 10px;

  @include vp-768 {
    grid-column: 1 / 3;
  }

  @include vp-1024 {
    margin: 0 0 30px;
  }
}

.services-type__advantages-group {
  display: grid;
  grid-auto-rows: 1fr;
  gap: 10px;
  padding: 10px;
  background-color: var(--grey-light);

  @include vp-1024 {
    gap: 20px;
    padding: 20px;
  }

  &:not(:last-child) {
    margin: 0 0 10px;

    @include vp-768 {
      margin: 0;
    }
  }
}

.services-type__advantages-item {
  min-height: 162px;
  padding: 10px;
  color: var(--white);
  background-color: var(--bg-primary);

  @include vp-1024 {
    min-height: 217px;
    padding: 18px 20px 31px;
  }

  h3 {
    max-width: 90%;
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 18px;

    @include vp-768 {
      max-width: 380px;
    }

    @include vp-1024 {
      font-weight: 600;
      font-size: 25px;
      line-height: 1.2;
    }
  }

  p {
    max-width: 560px;
    margin: 0;
    font-weight: 400;
    font-size: 12px;

    @include vp-1024 {
      font-size: 18px;
      line-height: 1.2;
    }
  }
}

.services-type__text {
  max-width: 550px;

  @include vp-1024 {
    max-width: 1170px;
  }
}

.services-type__text p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;

  @include vp-1024 {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
  }
}

.services-type__text-link {
  @include interactive-link-dark;

  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--black);

  @include vp-1024 {
    font-size: 25px;
    line-height: 1.2;
  }
}

.services-type__download,
.services-type__download-button {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--black);

  @include vp-1024 {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.01em;
  }
}

.services-type__download-button {
  @include interactive-link-light;

  padding: 0;
  color: var(--accent-dark);
  border: none;
  background-color: var(--transparent);
}

.services-type__installation-title {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;

  @include vp-1024 {
    margin: 0 0 32px;
    font-size: 50px;
  }

  &--additional {
    display: none;

    @include vp-768 {
      display: block;
    }
  }
}

.services-type__installation-wrapper {
  margin: 0 0 15px;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 9px;
  }

  @include vp-1024 {
    margin: 0 0 80px;
  }
}

.services-type__installation-group {
  padding: 10px;
  background-color: var(--bg-light);

  @include vp-1024 {
    padding: 35px 36px 24px 20px;
  }

  &--additional {
    display: none;

    @include vp-768 {
      display: block;
    }
  }

  &--light {
    padding: 3px;
    background-color: var(--transparent);

    @include vp-768 {
      display: grid;
      grid-template-rows: 1fr auto;
      padding: 0 15px;
    }
  }

  div + ul {
    margin-top: 10px;

    @include vp-1024 {
      margin-top: 40px;
    }
  }

  div + div,
  ul + div,
  p + p {
    margin-top: 20px;

    @include vp-1024 {
      margin-top: 40px;
    }
  }
}

.services-type__installation-accent p,
.services-type__installation-accent a {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  color: var(--accent-dark);

  @include vp-1024 {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.2;
  }
}

.services-type__installation-text p,
.services-type__installation-text a {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--black);

  @include vp-1024 {
    font-size: 25px;
    line-height: 1.2;
  }
}

.services-type__installation-text--big p,
.services-type__installation-text--big a {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.23;
  letter-spacing: 0.01em;

  @include vp-1024 {
    font-size: 25px;
    line-height: 1.2;
  }
}

.services-type__installation-list {
  max-width: 515px;
  margin: 0;
  padding: 0 0 0 11px;
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  @include vp-1024 {
    padding: 0 0 0 17px;
    font-size: 18px;
  }

  li {
    position: relative;

    &::before {
      position: absolute;
      top: 8px;
      left: -12px;
      content: "";
      width: 3px;
      height: 3px;
      background-color: var(--black);
      border-radius: 50%;

      @include vp-1024 {
        top: 10px;
        left: -15px;
        width: 4px;
        height: 4px;
      }
    }
  }
}

.services-type__installation-link {
  @include interactive-link-dark;
}

.services-type__installation-download {
  margin: auto 0 0;
}
