@use "index" as *;

.video {
  @include block-padding;
}

.video__header {
  @include vp-768 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}

.video__link-more {
  display: none;

  @include vp-768 {
    @include link-more;
  }
}

.video__title {
  @include title;

  margin: 0 0 10px;

  @include vp-1024 {
    margin: 0 0 38px;
  }
}

.video__title-additional {
  display: none;

  @include vp-1024 {
    display: inline-block;
  }
}

.video__swiper-wrapper {
  display: flex;
  margin: 0 0 calc(2px / $vp-390 * 100vw);
  padding: 0;
  list-style-type: none;

  @include vp-768 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    margin: 0;
  }
}

.video__slide {
  @include slide-layout;

  padding: 14px;
  background-color: var(--bg-light);

  @include vp-1024 {
    padding: 19px;
  }
}

.video__player {
  display: grid;
}

.video__img {
  grid-area: 1 / 1 / 2 / 2;
  aspect-ratio: 333 / 304;

  @include vp-768 {
    aspect-ratio: 500 / 447;
  }
}

.video__img img {
  @include img-cover;
}

.video__iframe-wrap {
  grid-area: 1 / 1 / 2 / 2;
}

.video__iframe-wrap.hidden {
  display: none;
}

.video__button-play {
  @include video-button;
}

.video__swiper-pagination {
  @include swiper-pagination;

  min-height: 20px;

  @include vp-768 {
    display: none;
  }
}

.video__pagination-bullet {
  @include swiper-pagination-button;

  @include vp-390 {
    height: calc(5px / $vp-390 * 100vw);
  }
}
