<section class="brands">
  <div class="container">
    <h2 class="brands__title">Продукция лучших мировых производителей <span class="brands__title-additional">станков</span></h2>
    <div class="brands__swiper-container">
      <div class="brands__swiper-box">
        <div class="brands__swiper" data-swiper="pagination">
          <ul class="brands__swiper-wrapper">
            <li class="brands__slide">
              <div class="brands__slide-container">
                <picture>
                  <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="img/brands/woodtec-tablet@1x.webp 1x, img/brands/woodtec-tablet@2x.webp 2x">
                  <source width="135" height="135" type="image/webp" srcset="img/brands/woodtec-mobile@1x.webp 1x, img/brands/woodtec-mobile@2x.webp 2x">
                  <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="img/brands/woodtec-tablet@1x.jpg 1x, img/brands/woodtec-tablet@2x.jpg 2x">
                  <img src="img/brands/woodtec-mobile@1x.jpg" srcset="img/brands/woodtec-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="brands__slide">
              <div class="brands__slide-container">
                <picture>
                  <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="img/brands/ironmac-tablet@1x.webp 1x, img/brands/ironmac-tablet@2x.webp 2x">
                  <source width="135" height="135" type="image/webp" srcset="img/brands/ironmac-mobile@1x.webp 1x, img/brands/ironmac-mobile@2x.webp 2x">
                  <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="img/brands/ironmac-tablet@1x.jpg 1x, img/brands/ironmac-tablet@2x.jpg 2x">
                  <img src="img/brands/ironmac-mobile@1x.jpg" srcset="img/brands/ironmac-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="brands__slide">
              <div class="brands__slide-container">
                <picture>
                  <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="img/brands/yilmaz-tablet@1x.webp 1x, img/brands/yilmaz-tablet@2x.webp 2x">
                  <source width="135" height="135" type="image/webp" srcset="img/brands/yilmaz-mobile@1x.webp 1x, img/brands/yilmaz-mobile@2x.webp 2x">
                  <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="img/brands/yilmaz-tablet@1x.jpg 1x, img/brands/yilmaz-tablet@2x.jpg 2x">
                  <img src="img/brands/yilmaz-mobile@1x.jpg" srcset="img/brands/yilmaz-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="brands__slide">
              <div class="brands__slide-container">
                <picture>
                  <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="img/brands/kaban-tablet@1x.webp 1x, img/brands/kaban-tablet@2x.webp 2x">
                  <source width="135" height="135" type="image/webp" srcset="img/brands/kaban-mobile@1x.webp 1x, img/brands/kaban-mobile@2x.webp 2x">
                  <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="img/brands/kaban-tablet@1x.jpg 1x, img/brands/kaban-tablet@2x.jpg 2x">
                  <img src="img/brands/kaban-mobile@1x.jpg" srcset="img/brands/kaban-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="brands__slide">
              <div class="brands__slide-container">
                <picture>
                  <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="img/brands/nobel-tablet@1x.webp 1x, img/brands/nobel-tablet@2x.webp 2x">
                  <source width="135" height="135" type="image/webp" srcset="img/brands/nobel-mobile@1x.webp 1x, img/brands/nobel-mobile@2x.webp 2x">
                  <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="img/brands/nobel-tablet@1x.jpg 1x, img/brands/nobel-tablet@2x.jpg 2x">
                  <img src="img/brands/nobel-mobile@1x.jpg" srcset="img/brands/nobel-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="brands__slide">
              <div class="brands__slide-container">
                <picture>
                  <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="img/brands/metaltec-tablet@1x.webp 1x, img/brands/metaltec-tablet@2x.webp 2x">
                  <source width="135" height="135" type="image/webp" srcset="img/brands/metaltec-mobile@1x.webp 1x, img/brands/metaltec-mobile@2x.webp 2x">
                  <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="img/brands/metaltec-tablet@1x.jpg 1x, img/brands/metaltec-tablet@2x.jpg 2x">
                  <img src="img/brands/metaltec-mobile@1x.jpg" srcset="img/brands/metaltec-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
                </picture>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="brands__swiper-pagination"></div>
    </div>
  </div>
</section>
