<section class="catalog">
  <div class="container">
    <h2 class="catalog__title">Каталог товаров</h2>
    <ul class="catalog__list">
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-1-tablet@1x.webp 1x, ../img/catalog/product-1-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-1-mobile@1x.webp 1x, ../img/catalog/product-1-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-1-tablet@1x.png 1x, ../img/catalog/product-1-tablet@2x.png 2x">
              <img src="../img/catalog/product-1-mobile@1x.png" srcset="../img/catalog/product-1-mobile@2x.png 2x" width="142" height="105" alt="Товар 1.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Токарные станки</h3>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-2-tablet@1x.webp 1x, ../img/catalog/product-2-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-2-mobile@1x.webp 1x, ../img/catalog/product-2-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-2-tablet@1x.png 1x, ../img/catalog/product-2-tablet@2x.png 2x">
              <img src="../img/catalog/product-2-mobile@1x.png" srcset="../img/catalog/product-2-mobile@2x.png 2x" width="142" height="105" alt="Товар 2.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Фрезерные станки</h3>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-3-tablet@1x.webp 1x, ../img/catalog/product-3-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-3-mobile@1x.webp 1x, ../img/catalog/product-3-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-3-tablet@1x.png 1x, ../img/catalog/product-3-tablet@2x.png 2x">
              <img src="../img/catalog/product-3-mobile@1x.png" srcset="../img/catalog/product-3-mobile@2x.png 2x" width="142" height="105" alt="Товар 3.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Шлифовальные станки</h3>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-4-tablet@1x.webp 1x, ../img/catalog/product-4-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-4-mobile@1x.webp 1x, ../img/catalog/product-4-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-4-tablet@1x.png 1x, ../img/catalog/product-4-tablet@2x.png 2x">
              <img src="../img/catalog/product-4-mobile@1x.png" srcset="../img/catalog/product-4-mobile@2x.png 2x" width="142" height="105" alt="Товар 4.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Ленточнопильные станки</h3>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-5-tablet@1x.webp 1x, ../img/catalog/product-5-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-5-mobile@1x.webp 1x, ../img/catalog/product-5-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-5-tablet@1x.png 1x, ../img/catalog/product-5-tablet@2x.png 2x">
              <img src="../img/catalog/product-5-mobile@1x.png" srcset="../img/catalog/product-5-mobile@2x.png 2x" width="142" height="105" alt="Товар 5.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Дерево&shy;обрабатывающее оборудование</h3>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/catalog/product-6-tablet@1x.webp 1x, ../img/catalog/product-6-tablet@2x.webp 2x">
              <source width="142" height="105" type="image/webp" srcset="../img/catalog/product-6-mobile@1x.webp 1x, ../img/catalog/product-6-mobile@2x.webp 2x">
              <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/catalog/product-6-tablet@1x.png 1x, ../img/catalog/product-6-tablet@2x.png 2x">
              <img src="../img/catalog/product-6-mobile@1x.png" srcset="../img/catalog/product-6-mobile@2x.png 2x" width="142" height="105" alt="Товар 6.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Металло&shy;обрабатывающее оборудование</h3>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" srcset="../img/catalog/product-7-tablet@1x.webp 1x, ../img/catalog/product-7-tablet@2x.webp 2x">
              <img src="../img/catalog/product-7-tablet@1x.png" srcset="../img/catalog/product-7-tablet@2x.png 2x" width="273" height="247" alt="Товар 7.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Оборудование для производства окон</h3>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" srcset="../img/catalog/product-8-tablet@1x.webp 1x, ../img/catalog/product-8-tablet@2x.webp 2x">
              <img src="../img/catalog/product-8-tablet@1x.png" srcset="../img/catalog/product-8-tablet@2x.png 2x" width="273" height="247" alt="Товар 8.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Фрезерно-гравировальные станки с&nbsp;ЧПУ по&nbsp;камню</h3>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" srcset="../img/catalog/product-9-tablet@1x.webp 1x, ../img/catalog/product-9-tablet@2x.webp 2x">
              <img src="../img/catalog/product-9-tablet@1x.png" srcset="../img/catalog/product-9-tablet@2x.png 2x" width="273" height="247" alt="Товар 9.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Лазерно-гравировальные станки с&nbsp;ЧПУ</h3>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" srcset="../img/catalog/product-10-tablet@1x.webp 1x, ../img/catalog/product-10-tablet@2x.webp 2x">
              <img src="../img/catalog/product-10-tablet@1x.png" srcset="../img/catalog/product-10-tablet@2x.png 2x" width="273" height="247" alt="Товар 10.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Заточные станки</h3>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" srcset="../img/catalog/product-11-tablet@1x.webp 1x, ../img/catalog/product-11-tablet@2x.webp 2x">
              <img src="../img/catalog/product-11-tablet@1x.png" srcset="../img/catalog/product-11-tablet@2x.png 2x" width="273" height="247" alt="Товар 11.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Компрессоры</h3>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" srcset="../img/catalog/product-12-tablet@1x.webp 1x, ../img/catalog/product-12-tablet@2x.webp 2x">
              <img src="../img/catalog/product-12-tablet@1x.png" srcset="../img/catalog/product-12-tablet@2x.png 2x" width="273" height="247" alt="Товар 12.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Аспирации, стружкоотсосы</h3>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" srcset="../img/catalog/product-13-tablet@1x.webp 1x, ../img/catalog/product-13-tablet@2x.webp 2x">
              <img src="../img/catalog/product-13-tablet@1x.png" srcset="../img/catalog/product-13-tablet@2x.png 2x" width="273" height="247" alt="Товар 12.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Инструменты</h3>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" srcset="../img/catalog/product-14-tablet@1x.webp 1x, ../img/catalog/product-14-tablet@2x.webp 2x">
              <img src="../img/catalog/product-14-tablet@1x.png" srcset="../img/catalog/product-14-tablet@2x.png 2x" width="273" height="247" alt="Товар 12.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Клеевые материалы</h3>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" srcset="../img/catalog/product-15-tablet@1x.webp 1x, ../img/catalog/product-15-tablet@2x.webp 2x">
              <img src="../img/catalog/product-15-tablet@1x.png" srcset="../img/catalog/product-15-tablet@2x.png 2x" width="273" height="247" alt="Товар 12.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Станки <br>для печати и рекламы</h3>
        </a>
      </li>
      <li class="catalog__item">
        <a class="catalog__link" href="#">
          <div class="catalog__img">
            <picture>
              <source width="273" height="247" type="image/webp" srcset="../img/catalog/product-16-tablet@1x.webp 1x, ../img/catalog/product-16-tablet@2x.webp 2x">
              <img src="../img/catalog/product-16-tablet@1x.png" srcset="../img/catalog/product-16-tablet@2x.png 2x" width="273" height="247" alt="Товар 12.">
            </picture>
          </div>
          <h3 class="catalog__subtitle">Запасные части</h3>
        </a>
      </li>
    </ul>
    <a class="catalog__link-more button" href="#">Смотреть весь каталог</a>
  </div>
</section>
