<section class="companies">
  <div class="container">
    <h2 class="companies__title">Продукция лучших мировых производителей <span class="companies__title-additional">станков</span></h2>
    <div class="companies__swiper-container">
      <div class="companies__swiper-box">
        <div class="companies__swiper" data-swiper="pagination">
          <ul class="companies__swiper-wrapper">
            <li class="companies__slide">
              <div class="companies__slide-container">
                <picture>
                  <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="../img/companies/woodtec-tablet@1x.webp 1x, ../img/companies/woodtec-tablet@2x.webp 2x">
                  <source width="135" height="135" type="image/webp" srcset="../img/companies/woodtec-mobile@1x.webp 1x, ../img/companies/woodtec-mobile@2x.webp 2x">
                  <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="../img/companies/woodtec-tablet@1x.jpg 1x, ../img/companies/woodtec-tablet@2x.jpg 2x">
                  <img src="../img/companies/woodtec-mobile@1x.jpg" srcset="../img/companies/woodtec-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="companies__slide">
              <div class="companies__slide-container">
                <picture>
                  <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="../img/companies/ironmac-tablet@1x.webp 1x, ../img/companies/ironmac-tablet@2x.webp 2x">
                  <source width="135" height="135" type="image/webp" srcset="../img/companies/ironmac-mobile@1x.webp 1x, ../img/companies/ironmac-mobile@2x.webp 2x">
                  <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="../img/companies/ironmac-tablet@1x.jpg 1x, ../img/companies/ironmac-tablet@2x.jpg 2x">
                  <img src="../img/companies/ironmac-mobile@1x.jpg" srcset="../img/companies/ironmac-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="companies__slide">
              <div class="companies__slide-container">
                <picture>
                  <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="../img/companies/yilmaz-tablet@1x.webp 1x, ../img/companies/yilmaz-tablet@2x.webp 2x">
                  <source width="135" height="135" type="image/webp" srcset="../img/companies/yilmaz-mobile@1x.webp 1x, ../img/companies/yilmaz-mobile@2x.webp 2x">
                  <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="../img/companies/yilmaz-tablet@1x.jpg 1x, ../img/companies/yilmaz-tablet@2x.jpg 2x">
                  <img src="../img/companies/yilmaz-mobile@1x.jpg" srcset="../img/companies/yilmaz-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="companies__slide">
              <div class="companies__slide-container">
                <picture>
                  <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="../img/companies/kaban-tablet@1x.webp 1x, ../img/companies/kaban-tablet@2x.webp 2x">
                  <source width="135" height="135" type="image/webp" srcset="../img/companies/kaban-mobile@1x.webp 1x, ../img/companies/kaban-mobile@2x.webp 2x">
                  <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="../img/companies/kaban-tablet@1x.jpg 1x, ../img/companies/kaban-tablet@2x.jpg 2x">
                  <img src="../img/companies/kaban-mobile@1x.jpg" srcset="../img/companies/kaban-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="companies__slide">
              <div class="companies__slide-container">
                <picture>
                  <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="../img/companies/nobel-tablet@1x.webp 1x, ../img/companies/nobel-tablet@2x.webp 2x">
                  <source width="135" height="135" type="image/webp" srcset="../img/companies/nobel-mobile@1x.webp 1x, ../img/companies/nobel-mobile@2x.webp 2x">
                  <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="../img/companies/nobel-tablet@1x.jpg 1x, ../img/companies/nobel-tablet@2x.jpg 2x">
                  <img src="../img/companies/nobel-mobile@1x.jpg" srcset="../img/companies/nobel-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
                </picture>
              </div>
            </li>
            <li class="companies__slide">
              <div class="companies__slide-container">
                <picture>
                  <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="../img/companies/metaltec-tablet@1x.webp 1x, ../img/companies/metaltec-tablet@2x.webp 2x">
                  <source width="135" height="135" type="image/webp" srcset="../img/companies/metaltec-mobile@1x.webp 1x, ../img/companies/metaltec-mobile@2x.webp 2x">
                  <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="../img/companies/metaltec-tablet@1x.jpg 1x, ../img/companies/metaltec-tablet@2x.jpg 2x">
                  <img src="../img/companies/metaltec-mobile@1x.jpg" srcset="../img/companies/metaltec-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
                </picture>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="companies__swiper-pagination"></div>
    </div>
  </div>
</section>
