<section class="company-details">
  <div class="container">
    <h2 class="company-details__title">Реквизиты</h2>
    <div class="company-details__wrapper">
      <div class="company-details__contacts">
        <h3 class="company-details__subtitle">Основной магазин</h3>
        <ul class="company-details__info">
          <li class="company-details__info-item">
            <address class="company-details__address">
              <p class="company-details__label">Телефон</p>
              <a class="company-details__text company-details__text--link" href="tel:+79080857360">+7&nbsp;908&nbsp;085&nbsp;73&nbsp;60</a>
            </address>
          </li>
          <li class="company-details__info-item">
            <address class="company-details__address">
              <p class="company-details__label">Время работы</p>
              <p class="company-details__text">Будни, с&nbsp;10.00&nbsp;до&nbsp;17.00</p>
            </address>
          </li>
          <li class="company-details__info-item">
            <address class="company-details__address">
              <p class="company-details__label">Электронная почта</p>
              <a class="company-details__text company-details__text--link" href="mailto:info@neolid.ru">neolid.chel@gmail.com</a>
            </address>
          </li>
          <li class="company-details__info-item">
            <address class="company-details__address">
              <p class="company-details__label">Адрес магазина</p>
              <p class="company-details__text">454006, г.&nbsp;Челябинск, <br>ул.&nbsp;Российская,&nbsp;63а</p>
            </address>
          </li>
        </ul>
      </div>
      <div class="company-details__details">
        <h3 class="company-details__subtitle">Наши реквизиты</h3>
        <div class="company-details__details-list" data-layout="grid-column">
          <dl>
            <dt>Наименование</dt>
            <dd>ООО&nbsp;«НЕО&#8288;-&#8288;ЛИД»</dd>
          </dl>
          <dl>
            <dt>ОГРН</dt>
            <dd>1197456026657</dd>
          </dl>
          <dl>
            <dt>Юридический адрес</dt>
            <dd>54091, г.Челябинск, ул.&nbsp;Плеханова,&nbsp;28&#8288;-&#8288;34</dd>
          </dl>
          <dl>
            <dt>Фактический адрес</dt>
            <dd>454006, г.Челябинск, ул.&nbsp;Российская, 63а</dd>
          </dl>
          <dl>
            <dt>ИНН\КПП</dt>
            <dd>7451442621 / 745101001</dd>
          </dl>
          <dl>
            <dt>Расчетный счёт</dt>
            <dd>40702810924160001638</dd>
          </dl>
          <dl>
            <dt>Банк</dt>
            <dd>Филиал ПАО «БАНК УРАЛСИБ» в&nbsp;г.&nbsp;Екатеринбург</dd>
          </dl>
          <dl>
            <dt>Кор/сч</dt>
            <dd>30101810165770000446</dd>
          </dl>
        </div>
        <button class="company-details__details-button button" type="button">Скачать реквизиты</button>
      </div>
      <div class="company-details__socials">
        <h3 class="visually-hidden">Соцсети.</h3>
        <p class="company-details__subtitle">Мы всегда на&nbsp;связи</p>
        <ul class="company-details__socials-list">
          <li class="company-details__socials-item">
            <a class="company-details__socials-link company-details__socials-link--whatsapp" href="#" target="_blank" rel="noreferrer noopener">
              <span class="visually-hidden">Вотсап.</span>
            </a>
          </li>
          <li class="company-details__socials-item">
            <a class="company-details__socials-link company-details__socials-link--tg" href="#" target="_blank" rel="noreferrer noopener">
              <span class="visually-hidden">Телеграм.</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</section>
