<section class="delivery">
  <div class="delivery__header">
    <div class="container">
      <h2 class="delivery__title">Доставка</h2>
      <p>Работаем только с&nbsp;проверенными транспортными компаниями&nbsp;&mdash; лидерами рынка логистики, поэтому мы&nbsp;можем предложить вам лучшие условия по&nbsp;скорости доставки и&nbsp;тарифам. Мы&nbsp;сотрудничаем с&nbsp;ПЭК, Трансэкспресс, Луч, Байкал Сервис, ЭНЕРГИЯ. По&nbsp;договорённости можем отправить другими транспортными компаниями.</p>
    </div>
  </div>
  <div class="delivery__swiper-container">
    <div class="container">
      <div class="delivery__swiper" data-swiper="pagination">
        <ul class="delivery__swiper-wrapper">
          <li class="delivery__slide">
            <div class="delivery__slide-container">
              <picture>
                <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="../img/delivery/pak-tablet@1x.webp 1x, ../img/delivery/pak-tablet@2x.webp 2x">
                <source width="135" height="135" type="image/webp" srcset="../img/delivery/pak-mobile@1x.webp 1x, ../img/delivery/pak-mobile@2x.webp 2x">
                <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="../img/delivery/pak-tablet@1x.jpg 1x, ../img/delivery/pak-tablet@2x.jpg 2x">
                <img src="../img/delivery/pak-mobile@1x.jpg" srcset="../img/delivery/pak-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
              </picture>
            </div>
          </li>
          <li class="delivery__slide">
            <div class="delivery__slide-container">
              <picture>
                <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="../img/delivery/luch-tablet@1x.webp 1x, ../img/delivery/luch-tablet@2x.webp 2x">
                <source width="135" height="135" type="image/webp" srcset="../img/delivery/luch-mobile@1x.webp 1x, ../img/delivery/luch-mobile@2x.webp 2x">
                <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="../img/delivery/luch-tablet@1x.jpg 1x, ../img/delivery/luch-tablet@2x.jpg 2x">
                <img src="../img/delivery/luch-mobile@1x.jpg" srcset="../img/delivery/luch-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
              </picture>
            </div>
          </li>
          <li class="delivery__slide">
            <div class="delivery__slide-container">
              <picture>
                <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="../img/delivery/baikal-tablet@1x.webp 1x, ../img/delivery/baikal-tablet@2x.webp 2x">
                <source width="135" height="135" type="image/webp" srcset="../img/delivery/baikal-mobile@1x.webp 1x, ../img/delivery/baikal-mobile@2x.webp 2x">
                <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="../img/delivery/baikal-tablet@1x.jpg 1x, ../img/delivery/baikal-tablet@2x.jpg 2x">
                <img src="../img/delivery/baikal-mobile@1x.jpg" srcset="../img/delivery/baikal-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
              </picture>
            </div>
          </li>
          <li class="delivery__slide">
            <div class="delivery__slide-container">
              <picture>
                <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="../img/delivery/energy-tablet@1x.webp 1x, ../img/delivery/energy-tablet@2x.webp 2x">
                <source width="135" height="135" type="image/webp" srcset="../img/delivery/energy-mobile@1x.webp 1x, ../img/delivery/energy-mobile@2x.webp 2x">
                <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="../img/delivery/energy-tablet@1x.jpg 1x, ../img/delivery/energy-tablet@2x.jpg 2x">
                <img src="../img/delivery/energy-mobile@1x.jpg" srcset="../img/delivery/energy-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
              </picture>
            </div>
          </li>
          <li class="delivery__slide">
            <div class="delivery__slide-container">
              <picture>
                <source width="205" height="205" type="image/webp" media="(min-width: 768px)" srcset="../img/delivery/tak-tablet@1x.webp 1x, ../img/delivery/tak-tablet@2x.webp 2x">
                <source width="135" height="135" type="image/webp" srcset="../img/delivery/tak-mobile@1x.webp 1x, ../img/delivery/tak-mobile@2x.webp 2x">
                <source width="205" height="205" type="image/jpg" media="(min-width: 768px)" srcset="../img/delivery/tak-tablet@1x.jpg 1x, ../img/delivery/tak-tablet@2x.jpg 2x">
                <img src="../img/delivery/tak-mobile@1x.jpg" srcset="../img/delivery/tak-mobile@2x.jpg 2x" width="135" height="135" alt="Товар 1.">
              </picture>
            </div>
          </li>
        </ul>
        <div class="delivery__swiper-pagination"></div>
      </div>
    </div>
  </div>
  <div class="delivery__content">
    <div class="container">
      <ul class="delivery__list">
        <li class="delivery__item">
          <p>При оформлении заказа вам будет предложено несколько вариантов доставки, чтобы вы&nbsp;смогли выбрать наиболее удобный</p>
        </li>
        <li class="delivery__item">
          <p>Берём на&nbsp;себя все организационные вопросы. В&nbsp;случае отгрузки крупногабаритного оборудования, больших партий товара или доставки в&nbsp;города, где нет терминалов транспортных компаний, наш отдел логистики поможет с&nbsp;поиском надежного перевозчика.</p>
        </li>
        <li class="delivery__item">
          <p>Мы&nbsp;надёжно упакуем товар и&nbsp;передадим его в&nbsp;транспортную компанию.</p>
          <p>Отгрузка товара производится в&nbsp;течение 5&nbsp;дней после оплаты. Мы&nbsp;передадим заказ в&nbsp;транспортную компанию, а&nbsp;вам будет предоставлен трек номер для отслеживания</p>
        </li>
        <li class="delivery__item">
          <p>Осуществляем полное страхование груза транспортной компанией. При повреждении или утере груза перевозчиком мы&nbsp;высылаем товар повторно без ожидания решения по&nbsp;страховому случаю.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
