<section class="details">
  <div class="container">
    <h1 class="subcatalog-list__title">MetalTec CK 40x750 (Комплектация ПРОМ) токарный станок ЧПУ с&nbsp;прямой станиной</h1>
    <ol class="subcatalog-list__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Металлообрабатывающее оборудование</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Токарные станки с&nbsp;ЧПУ MetalTec CK 40x750 (Комплектация ПРОМ) токарный станок ЧПУ с&nbsp;прямой станиной</span>
      </li>
    </ol>
    <section class="details__info">
      <h2 class="visually-hidden">Информация о товаре</h2>
      <div class="details__card">
        <div class="details__visual">
          <div class="details__header">
          </div>

          <div class="details__swiper-container" data-swiper="thumb">
            <div class="details__swiper swiper main-swiper">
              <ul class="details__swiper-wrapper swiper-wrapper">
                <li class="details__slide swiper-slide">
                  <div class="details__slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/products/product-1-tablet@1x.webp 1x, ../img/products/product-1-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/products/product-1-mobile@1x.webp 1x, ../img/products/product-1-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/products/product-1-tablet@1x.png 1x, ../img/products/product-1-tablet@2x.png 2x">
                      <img src="../img/products/product-1-mobile@1x.png" srcset="../img/products/product-1-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__slide swiper-slide">
                  <div class="details__slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/products/product-2-tablet@1x.webp 1x, ../img/products/product-2-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/products/product-2-mobile@1x.webp 1x, ../img/products/product-2-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/products/product-2-tablet@1x.png 1x, ../img/products/product-2-tablet@2x.png 2x">
                      <img src="../img/products/product-2-mobile@1x.png" srcset="../img/products/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__slide swiper-slide">
                  <div class="details__slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/products/product-3-tablet@1x.webp 1x, ../img/products/product-3-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/products/product-3-mobile@1x.webp 1x, ../img/products/product-3-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/products/product-3-tablet@1x.png 1x, ../img/products/product-3-tablet@2x.png 2x">
                      <img src="../img/products/product-3-mobile@1x.png" srcset="../img/products/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__slide swiper-slide">
                  <div class="details__slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/products/product-2-tablet@1x.webp 1x, ../img/products/product-2-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/products/product-2-mobile@1x.webp 1x, ../img/products/product-2-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/products/product-2-tablet@1x.png 1x, ../img/products/product-2-tablet@2x.png 2x">
                      <img src="../img/products/product-2-mobile@1x.png" srcset="../img/products/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__slide swiper-slide">
                  <div class="details__slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/products/product-3-tablet@1x.webp 1x, ../img/products/product-3-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/products/product-3-mobile@1x.webp 1x, ../img/products/product-3-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/products/product-3-tablet@1x.png 1x, ../img/products/product-3-tablet@2x.png 2x">
                      <img src="../img/products/product-3-mobile@1x.png" srcset="../img/products/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
              </ul>
            </div>


            <div class="details__thumb-swiper thumb-swiper swiper">
              <ul class="details__thumb-swiper-wrapper swiper-wrapper">
                <li class="details__thumb-slide swiper-slide">
                  <div class="details__thumb-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/products/product-1-tablet@1x.webp 1x, ../img/products/product-1-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/products/product-1-mobile@1x.webp 1x, ../img/products/product-1-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/products/product-1-tablet@1x.png 1x, ../img/products/product-1-tablet@2x.png 2x">
                      <img src="../img/products/product-1-mobile@1x.png" srcset="../img/products/product-1-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__thumb-slide swiper-slide">
                  <div class="details__thumb-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/products/product-2-tablet@1x.webp 1x, ../img/products/product-2-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/products/product-2-mobile@1x.webp 1x, ../img/products/product-2-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/products/product-2-tablet@1x.png 1x, ../img/products/product-2-tablet@2x.png 2x">
                      <img src="../img/products/product-2-mobile@1x.png" srcset="../img/products/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__thumb-slide swiper-slide">
                  <div class="details__thumb-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/products/product-3-tablet@1x.webp 1x, ../img/products/product-3-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/products/product-3-mobile@1x.webp 1x, ../img/products/product-3-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/products/product-3-tablet@1x.png 1x, ../img/products/product-3-tablet@2x.png 2x">
                      <img src="../img/products/product-3-mobile@1x.png" srcset="../img/products/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__thumb-slide swiper-slide">
                  <div class="details__thumb-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/products/product-2-tablet@1x.webp 1x, ../img/products/product-2-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/products/product-2-mobile@1x.webp 1x, ../img/products/product-2-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/products/product-2-tablet@1x.png 1x, ../img/products/product-2-tablet@2x.png 2x">
                      <img src="../img/products/product-2-mobile@1x.png" srcset="../img/products/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__thumb-slide swiper-slide">
                  <div class="details__thumb-slide-container">
                    <picture>
                      <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/products/product-3-tablet@1x.webp 1x, ../img/products/product-3-tablet@2x.webp 2x">
                      <source width="299" height="209" type="image/webp" srcset="../img/products/product-3-mobile@1x.webp 1x, ../img/products/product-3-mobile@2x.webp 2x">
                      <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/products/product-3-tablet@1x.png 1x, ../img/products/product-3-tablet@2x.png 2x">
                      <img src="../img/products/product-3-mobile@1x.png" srcset="../img/products/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
              </ul>
            </div>

            <div class="details__scrollbar"></div>

          </div>
        </div>

    </section>

  </div>
</section>
