<section class="details">
  <div class="container">
    <h1 class="details__title">MetalTec CK 40x750 (Комплектация ПРОМ) токарный станок ЧПУ с&nbsp;прямой станиной</h1>
    <ol class="details__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Металлообрабатывающее оборудование</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link">Токарные станки с&nbsp;ЧПУ MetalTec CK 40x750 (Комплектация ПРОМ) токарный станок ЧПУ с&nbsp;прямой станиной</span>
      </li>
    </ol>
    <section class="details__container">
      <h2 class="visually-hidden">Информация о товаре</h2>
      <div class="details__card">
        <div class="details__visual">
          <div class="details__header">
            <div class="details__tags">
              <p class="details__tag details__tag--sale">-19&nbsp;%</p>
              <p class="details__tag details__tag--label">Популярный</p>
            </div>
            <a class="details__rating" href="#">
              <div class="details__rating-stars rating" role="img" aria-label="Оценка товара пять из пяти">
                <span class="rating__icon" aria-hidden="true"></span>
                <span class="rating__icon" aria-hidden="true"></span>
                <span class="rating__icon" aria-hidden="true"></span>
                <span class="rating__icon" aria-hidden="true"></span>
                <span class="rating__icon" aria-hidden="true"></span>
              </div>
              <p class="details__rating-content">
                <span class="details__rating-count">2</span>
                <span class="details__rating-text">Отзыва</span>
              </p>
            </a>
          </div>

          <div class="details__swiper-container" data-swiper="thumb">
            <div class="details__swiper swiper main-swiper">
              <ul class="details__swiper-wrapper swiper-wrapper">
                <li class="details__slide swiper-slide">
                  <div class="details__slide-container">
                    <picture>
                      <source width="753" height="450" type="image/webp" media="(min-width: 768px)" srcset="../img/product-page/image-1-tablet@1x.webp 1x, ../img/product-page/image-1-tablet@2x.webp 2x">
                      <source width="315" height="201" type="image/webp" srcset="../img/product-page/image-1-mobile@1x.webp 1x, ../img/product-page/image-1-mobile@2x.webp 2x">
                      <source width="753" height="450" type="image/png" media="(min-width: 768px)" srcset="../img/product-page/image-1-tablet@1x.png 1x, ../img/product-page/image-1-tablet@2x.png 2x">
                      <img src="../img/product-page/image-1-mobile@1x.png" srcset="../img/product-page/image-1-mobile@2x.png 2x" width="315" height="201" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__slide swiper-slide">
                  <div class="details__slide-container">
                    <picture>
                      <source width="753" height="450" type="image/webp" media="(min-width: 768px)" srcset="../img/product-page/image-2-tablet@1x.webp 1x, ../img/product-page/image-2-tablet@2x.webp 2x">
                      <source width="315" height="201" type="image/webp" srcset="../img/product-page/image-2-mobile@1x.webp 1x, ../img/product-page/image-2-mobile@2x.webp 2x">
                      <source width="753" height="450" type="image/png" media="(min-width: 768px)" srcset="../img/product-page/image-2-tablet@1x.png 1x, ../img/product-page/image-2-tablet@2x.png 2x">
                      <img src="../img/product-page/image-2-mobile@1x.png" srcset="../img/product-page/image-2-mobile@2x.png 2x" width="315" height="201" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__slide swiper-slide">
                  <div class="details__slide-container">
                    <picture>
                      <source width="753" height="450" type="image/webp" media="(min-width: 768px)" srcset="../img/product-page/image-3-tablet@1x.webp 1x, ../img/product-page/image-3-tablet@2x.webp 2x">
                      <source width="315" height="201" type="image/webp" srcset="../img/product-page/image-3-mobile@1x.webp 1x, ../img/product-page/image-3-mobile@2x.webp 2x">
                      <source width="753" height="450" type="image/png" media="(min-width: 768px)" srcset="../img/product-page/image-3-tablet@1x.png 1x, ../img/product-page/image-3-tablet@2x.png 2x">
                      <img src="../img/product-page/image-3-mobile@1x.png" srcset="../img/product-page/image-3-mobile@2x.png 2x" width="315" height="201" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__slide swiper-slide">
                  <div class="details__slide-container">
                    <picture>
                      <source width="753" height="450" type="image/webp" media="(min-width: 768px)" srcset="../img/product-page/image-4-tablet@1x.webp 1x, ../img/product-page/image-4-tablet@2x.webp 2x">
                      <source width="315" height="201" type="image/webp" srcset="../img/product-page/image-4-mobile@1x.webp 1x, ../img/product-page/image-4-mobile@2x.webp 2x">
                      <source width="753" height="450" type="image/png" media="(min-width: 768px)" srcset="../img/product-page/image-4-tablet@1x.png 1x, ../img/product-page/image-4-tablet@2x.png 2x">
                      <img src="../img/product-page/image-4-mobile@1x.png" srcset="../img/product-page/image-4-mobile@2x.png 2x" width="315" height="201" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__slide swiper-slide">
                  <div class="details__slide-container">
                    <picture>
                      <source width="753" height="450" type="image/webp" media="(min-width: 768px)" srcset="../img/product-page/image-5-tablet@1x.webp 1x, ../img/product-page/image-5-tablet@2x.webp 2x">
                      <source width="315" height="201" type="image/webp" srcset="../img/product-page/image-5-mobile@1x.webp 1x, ../img/product-page/image-5-mobile@2x.webp 2x">
                      <source width="753" height="450" type="image/png" media="(min-width: 768px)" srcset="../img/product-page/image-5-tablet@1x.png 1x, ../img/product-page/image-5-tablet@2x.png 2x">
                      <img src="../img/product-page/image-5-mobile@1x.png" srcset="../img/product-page/image-5-mobile@2x.png 2x" width="315" height="201" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__slide swiper-slide">
                  <div class="details__slide-container">
                    <picture>
                      <source width="753" height="450" type="image/webp" media="(min-width: 768px)" srcset="../img/product-page/image-6-tablet@1x.webp 1x, ../img/product-page/image-6-tablet@2x.webp 2x">
                      <source width="315" height="201" type="image/webp" srcset="../img/product-page/image-6-mobile@1x.webp 1x, ../img/product-page/image-6-mobile@2x.webp 2x">
                      <source width="753" height="450" type="image/png" media="(min-width: 768px)" srcset="../img/product-page/image-6-tablet@1x.png 1x, ../img/product-page/image-6-tablet@2x.png 2x">
                      <img src="../img/product-page/image-6-mobile@1x.png" srcset="../img/product-page/image-6-mobile@2x.png 2x" width="315" height="201" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__slide swiper-slide">
                  <div class="details__slide-container">
                    <picture>
                      <source width="753" height="450" type="image/webp" media="(min-width: 768px)" srcset="../img/product-page/image-7-tablet@1x.webp 1x, ../img/product-page/image-7-tablet@2x.webp 2x">
                      <source width="315" height="201" type="image/webp" srcset="../img/product-page/image-7-mobile@1x.webp 1x, ../img/product-page/image-7-mobile@2x.webp 2x">
                      <source width="753" height="450" type="image/png" media="(min-width: 768px)" srcset="../img/product-page/image-7-tablet@1x.png 1x, ../img/product-page/image-7-tablet@2x.png 2x">
                      <img src="../img/product-page/image-7-mobile@1x.png" srcset="../img/product-page/image-7-mobile@2x.png 2x" width="315" height="201" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
              </ul>
            </div>
            <div class="details__thumb-swiper thumb-swiper swiper">
              <ul class="details__thumb-swiper-wrapper swiper-wrapper">
                <li class="details__thumb-slide swiper-slide">
                  <div class="details__thumb-slide-container">
                    <picture>
                      <source width="83" height="76" type="image/webp" srcset="../img/product-page/thumb-1@1x.webp 1x, ../img/product-page/thumb-1@2x.webp 2x">
                      <img src="../img/product-page/thumb-1@1x.png" srcset="../img/product-page/thumb-1@2x.png 2x" width="83" height="76" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__thumb-slide swiper-slide">
                  <div class="details__thumb-slide-container">
                    <picture>
                      <source width="83" height="76" type="image/webp" srcset="../img/product-page/thumb-2@1x.webp 1x, ../img/product-page/thumb-2@2x.webp 2x">
                      <img src="../img/product-page/thumb-2@1x.png" srcset="../img/product-page/thumb-2@2x.png 2x" width="83" height="76" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__thumb-slide swiper-slide">
                  <div class="details__thumb-slide-container">
                    <picture>
                      <source width="83" height="76" type="image/webp" srcset="../img/product-page/thumb-3@1x.webp 1x, ../img/product-page/thumb-3@2x.webp 2x">
                      <img src="../img/product-page/thumb-3@1x.png" srcset="../img/product-page/thumb-3@2x.png 2x" width="83" height="76" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__thumb-slide swiper-slide">
                  <div class="details__thumb-slide-container">
                    <picture>
                      <source width="83" height="76" type="image/webp" srcset="../img/product-page/thumb-4@1x.webp 1x, ../img/product-page/thumb-4@2x.webp 2x">
                      <img src="../img/product-page/thumb-4@1x.png" srcset="../img/product-page/thumb-4@2x.png 2x" width="83" height="76" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__thumb-slide swiper-slide">
                  <div class="details__thumb-slide-container">
                    <picture>
                      <source width="83" height="76" type="image/webp" srcset="../img/product-page/thumb-5@1x.webp 1x, ../img/product-page/thumb-5@2x.webp 2x">
                      <img src="../img/product-page/thumb-5@1x.png" srcset="../img/product-page/thumb-5@2x.png 2x" width="83" height="76" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__thumb-slide swiper-slide">
                  <div class="details__thumb-slide-container">
                    <picture>
                      <source width="83" height="76" type="image/webp" srcset="../img/product-page/thumb-6@1x.webp 1x, ../img/product-page/thumb-6@2x.webp 2x">
                      <img src="../img/product-page/thumb-6@1x.png" srcset="../img/product-page/thumb-6@2x.png 2x" width="83" height="76" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
                <li class="details__thumb-slide swiper-slide">
                  <div class="details__thumb-slide-container">
                    <picture>
                      <source width="83" height="76" type="image/webp" srcset="../img/product-page/thumb-7@1x.webp 1x, ../img/product-page/thumb-7@2x.webp 2x">
                      <img src="../img/product-page/thumb-7@1x.png" srcset="../img/product-page/thumb-7@2x.png 2x" width="83" height="76" alt="Товар 1.">
                    </picture>
                  </div>
                </li>
              </ul>
            </div>

            <div class="details__scrollbar"></div>

          </div>
        </div>

        <div class="details__content">
          <div class="details__info">
            <p class="details__article">Код товара: 2061070410</p>
            <p class="details__stock details__stock--in">В&nbsp;наличии</p>
            <p class="details__prices">
              <span class="details__price details__price--new">2476746 ₽</span>
              <span class="details__price details__price--old">3054103 ₽</span>
            </p>
          </div>

          <div class="details__card-char">
            <a class="details__char-link" href="#">Все&nbsp;характеристики</a>
            <fieldset class="details__model">
              <legend class="details__model-text">Выберите модель</legend>
              <label class="details__model-radio">
                <span>ПРОМ</span>
                <input type="radio" name="model" value="prom" checked>
              </label>
              <label class="details__model-radio">
                <span>Стандартная</span>
                <input type="radio" name="model" value="basic">
              </label>
            </fieldset>
            <ul class="details__badges">
              <li class="details__badges-item">
                <img src="../img/badges/badge-guarantee.svg" width="90" height="70" alt="Гарантия.">
              </li>
              <li class="details__badges-item">
                <img src="../img/badges/badge-delivery.svg" width="90" height="70" alt="Доставка.">
              </li>
              <li class="details__badges-item">
                <img src="../img/badges/badge-credit.svg" width="90" height="70" alt="Лизинг и кредит.">
              </li>
            </ul>
          </div>

          <div class="details__card-desc">
            <span>Назначение</span>
            <p>Токарный станок с&nbsp;ЧПУ MetalTec CK&nbsp;40x750 предназначен для производства различных типов металлических изделий. Данный тип станков широко используется в&nbsp;образовательных учреждениях, на&nbsp;опытных производствах, на&nbsp;предприятиях металлообрабатывающей отрасли.</p>
          </div>

          <div class="details__user-panel">
            <a class="details__user-button button button--dark" href="#">Быстрый заказ</a>
            <button class="details__user-button button button--dark" type="button">В&nbsp;корзину</button>
            <a class="details__user-button button button--dark" href="#">Купить в&nbsp;лизинг</a>
            <a class="details__user-button button button--dark" href="#">Нашли дешевле</a>
          </div>

          <div class="details__actions">
            <div class="details__actions-buttons">
              <button class="details__actions-button details__actions-button--compare" type="button">Сравнить</button>
              <button class="details__actions-button details__actions-button--favorites" type="button">В&nbsp;избранное</button>
              <button class="details__actions-button details__actions-button--share" type="button">Поделиться</button>
            </div>
            <div class="details__brend">
              <div class="details__brend-img">
                <picture>
                  <source width="69" height="70" type="image/webp" srcset="../img/companies/metaltec-small@1x.webp 1x, ../img/companies/metaltec-small@2x.webp 2x">
                  <img src="../img/companies/metaltec-small@1x.jpg" srcset="../img/companies/metaltec-small@2x.jpg 2x" width=69" height="70" alt="Логотип MetalTec.">
                </picture>
              </div>
              <p class="details__brend-text">Производитель</p>
              <p class="details__brend-name">MetalTec</p>
            </div>
          </div>
        </div>


    </section>

  </div>
</section>
