<section class="faq">
  <div class="container">
    <h2 class="visually-hidden">Часто задаваемые вопросы.</h2>
    <ul class="faq__list">
      <li class="faq__item">
        <button class="faq__button accordion-button" type="button">Назначение
          <span class="faq__button-icon"></span>
        </button>
        <div class="faq__content accordion-content">
          <p>Предприятиях тяжёлой и&nbsp;автомобильной промышленности, машиностроения, приборостроения, инструментальных производствах, изготовление медицинского инструмента и&nbsp;оборудования.</p>
        </div>
      </li>
      <li class="faq__item">
        <button class="faq__button accordion-button" type="button">Область применения
          <span class="faq__button-icon"></span>
        </button>
        <div class="faq__content accordion-content accordion-content--opened">
          <p>Предприятиях тяжёлой и&nbsp;автомобильной промышленности, машиностроения, приборостроения, инструментальных производствах, изготовление медицинского инструмента и&nbsp;оборудования.</p>
        </div>
      </li>
      <li class="faq__item">
        <button class="faq__button accordion-button" type="button">Конструкция
          <span class="faq__button-icon"></span>
        </button>
        <div class="faq__content accordion-content">
          <p>Предприятиях тяжёлой и&nbsp;автомобильной промышленности, машиностроения, приборостроения, инструментальных производствах, изготовление медицинского инструмента и&nbsp;оборудования.</p>
        </div>
      </li>
      <li class="faq__item">
        <button class="faq__button accordion-button" type="button">Как купить
          <span class="faq__button-icon"></span>
        </button>
        <div class="faq__content accordion-content">
          <p>Предприятиях тяжёлой и&nbsp;автомобильной промышленности, машиностроения, приборостроения, инструментальных производствах, изготовление медицинского инструмента и&nbsp;оборудования.</p>
        </div>
      </li>
      <li class="faq__item">
        <button class="faq__button accordion-button" type="button">Доставка
          <span class="faq__button-icon"></span>
        </button>
        <div class="faq__content accordion-content">
          <p>Предприятиях тяжёлой и&nbsp;автомобильной промышленности, машиностроения, приборостроения, инструментальных производствах, изготовление медицинского инструмента и&nbsp;оборудования.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
