<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__top-wrapper">
        <ul class="footer__contacts">
          <li class="footer__contacts-item">
            <address class="footer__address">
              <p class="footer__contacts-label">Фактический адрес</p>
              <p class="footer__contacts-text">454006, г.&nbsp;Челябинск, <br>ул.&nbsp;Российская,&nbsp;63а</p>
            </address>
          </li>
          <li class="footer__contacts-item footer__contacts-item--time">
            <address class="footer__address">
              <p class="footer__contacts-label">Время работы</p>
              <p class="footer__contacts-text">Пн-Пт , с&nbsp;10.00&nbsp;до&nbsp;17.00</p>
            </address>
          </li>
          <li class="footer__contacts-item">
            <address class="footer__address">
              <p class="footer__contacts-label">Телефон</p>
              <a class="footer__contacts-text footer__contacts-text--link" href="tel:+8800XXXXXXX">8&nbsp;800&nbsp;XXX&nbsp;XX&nbsp;XX</a>
              <a class="footer__contacts-text footer__contacts-text--link" href="tel:+79080857360">+7&nbsp;908&nbsp;085&nbsp;73&nbsp;60</a>
            </address>
          </li>
          <li class="footer__contacts-item">
            <address class="footer__address">
              <p class="footer__contacts-label">Почта</p>
              <a class="footer__contacts-text footer__contacts-text--link" href="mailto:info@neolid.ru">info@neolid.ru</a>
            </address>
          </li>
        </ul>
        <div class="footer__content">
          <div class="footer__nav">
            <div class="footer__nav-group">
              <p class="footer__subtitle">Каталог</p>
              <ul class="footer__list">
                <li class="footer__item">
                  <a class="footer__link" href="#">Станки по&nbsp;металлу</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Станки по&nbsp;дереву</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Оборудование для&nbsp;производства мебели</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Станки для печати и&nbsp;рекламы</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Производители</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Акции</a>
                </li>
              </ul>
            </div>
            <div class="footer__nav-group footer__nav-group--about">
              <p class="footer__subtitle">О компании</p>
              <ul class="footer__list">
                <li class="footer__item">
                  <a class="footer__link" href="#">О&nbsp;нас</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Доставка и&nbsp;оплата</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Сервисы</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Новости</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Контакты</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Лизинг и&nbsp;кредит</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer__socials">
            <div class="footer__socials-group">
              <p class="footer__subtitle">Мы в&nbsp;сети</p>
              <ul class="footer__socials-list">
                <li class="footer__socials-item">
                  <a class="footer__socials-link footer__socials-link--youtube" href="#" target="_blank" rel="noreferrer noopener">
                    <span class="visually-hidden">Ютуб.</span>
                  </a>
                </li>
                <li class="footer__socials-item">
                  <a class="footer__socials-link footer__socials-link--vk" href="#" target="_blank" rel="noreferrer noopener">
                    <span class="visually-hidden">Вконтакте.</span>
                  </a>
                </li>
                <li class="footer__socials-item">
                  <a class="footer__socials-link footer__socials-link--ok" href="#" target="_blank" rel="noreferrer noopener">
                    <span class="visually-hidden">Одноклассники.</span>
                  </a>
                </li>
                <li class="footer__socials-item">
                  <a class="footer__socials-link footer__socials-link--rutube" href="#" target="_blank" rel="noreferrer noopener">
                    <span class="visually-hidden">Рутуб.</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer__socials-group">
              <p class="footer__subtitle">Написать&nbsp;нам</p>
              <ul class="footer__socials-list">
                <li class="footer__socials-item">
                  <a class="footer__socials-link footer__socials-link--tg" href="#" target="_blank" rel="noreferrer noopener">
                    <span class="visually-hidden">Телеграм.</span>
                  </a>
                </li>
                <li class="footer__socials-item">
                  <a class="footer__socials-link footer__socials-link--whatsapp" href="#" target="_blank" rel="noreferrer noopener">
                    <span class="visually-hidden">Вотсап.</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__reviews">
          <p class="footer__subtitle">Отзывы</p>
          <div class="footer__reviews-list">
            <div class="footer__reviews-item">
              <div class="footer__review-img">
                <picture>
                  <source width="157" height="54" type="image/webp" srcset="../img/footer/review-yandex@1x.webp 1x, ../img/footer/review-yandex@2x.webp 2x">
                  <img src="../img/footer/review-yandex@1x.jpg" srcset="../img/footer/review-yandex@2x.jpg 2x" width="157" height="54" alt="Отзывы на Яндекс.">
                </picture>
              </div>
              <!-- <iframe src="https://yandex.ru/sprav/widget/rating-badge/169952066047?type=rating" width="150" height="50" frameborder="0"></iframe> -->
            </div>
            <div class="footer__reviews-item">
              <div class="footer__review-img">
                <picture>
                  <source width="156" height="56" type="image/webp" srcset="../img/footer/review-2gis@1x.webp 1x, ../img/footer/review-2gis@2x.webp 2x">
                  <img src="../img/footer/review-2gis@1x.jpg" srcset="../img/footer/review-2gis@2x.jpg 2x" width="156" height="56" alt="Отзывы на 2ГИС.">
                </picture>
              </div>
              <!-- <iframe frameborder="0" src="https://widget.2gis.ru/api/widget?org_id=2111599196243618&amp;branch_id=2111590606309317&amp;size=medium&amp;theme=light"></iframe> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-wrapper">
        <a class="footer__logo logo-image" href="#">
          <img src="../img/logo.svg" width="50" height="16" alt="Логотип компании Neo-Lid.">
        </a>
        <p class="footer__about">NEO ЛИД -&nbsp;поставщик станков и&nbsp;промышленного оборудования в&nbsp;России, 2025</p>
        <a class="footer__privacy" href="#">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>
<button class="button-scroll-top" type="button">
  <span class="visually-hidden">Прокрутить к началу страницы.</span>
</button>
<div class="side-nav">
  <ul class="side-nav__list">
    <li class="side-nav__item">
      <a class="side-nav__link side-nav__link--whatsapp" href="#" target="_blank" rel="noreferrer noopener">
        <span class="visually-hidden">Вотсап.</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a class="side-nav__link side-nav__link--tg" href="#" target="_blank" rel="noreferrer noopener">
        <span class="visually-hidden">Телеграм.</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a class="side-nav__link side-nav__link--yandex" href="#" target="_blank" rel="noreferrer noopener">
        <span class="visually-hidden">Яндекс.</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a class="side-nav__link side-nav__link--phone" href="tel:+79080857360">
        <span class="visually-hidden">Позвонить по телефону.</span>
      </a>
    </li>
  </ul>
</div>
