<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <meta name="description" content="NEO ЛИД - поставщик станков и промышленного оборудования в России">
  <title>Neo-Lid</title>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="icon" href="favicon.ico">
  <link rel="icon" href="favicon/favicons/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="favicon/favicons/180.png">
  <link rel="manifest" href="favicon/manifest.webmanifest">
  <link rel="preload" href="fonts/TTHoves-Bold.woff2" type="font/woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/TTHoves-DemiBold.woff2" type="font/woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/TTHoves-Medium.woff2" type="font/woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/TTHoves-Regular.woff2" type="font/woff2" as="font" crossorigin="anonymous">
  <script defer src="js/main.js"></script>
</head>
