<header class="header">
  <div class="container">
    <nav class="header__nav nav">
      <div class="nav__top">
        <div class="nav__select select">
          <label class="nav__select-label" for="city">Ваш город:</label>
          <button class="nav__select-button select__button" type="button" aria-label="Открыть список городов.">Челябинск</button>
          <select class="select__original" id="city" name="city" aria-label="Выбор города">
            <option value="asha">Аша</option>
            <option value="bakal">Бакал</option>
            <option value="verhneuralsk">Верхнеуральск</option>
            <option value="verhniy-ufaley">Верхний Уфалей</option>
            <option value="emanzhelinsk">Еманжелинск</option>
            <option value="zlatoust">Златоуст</option>
            <option value="karabash">Карабаш</option>
            <option value="kartaly">Карталы</option>
            <option value="kasli">Касли</option>
            <option value="katav-ivanovsk">Катав-Ивановск</option>
            <option value="kopeysk">Копейск</option>
            <option value="korkino">Коркино</option>
            <option value="kusa">Куса</option>
            <option value="kyshtym">Кыштым</option>
            <option value="magnitogorsk">Магнитогорск</option>
            <option value="miass">Миасс</option>
            <option value="minyar">Миньяр</option>
            <option value="nyazepetrovsk">Нязепетровск</option>
            <option value="ozyorsk">Озёрск</option>
            <option value="plast">Пласт</option>
            <option value="satka">Сатка</option>
            <option value="sim">Сим</option>
            <option value="snezhinsk">Снежинск</option>
            <option value="tryohgornyy">Трёхгорный</option>
            <option value="troitsk">Троицк</option>
            <option value="ust-katav">Усть-Катав</option>
            <option value="chebarkul">Чебаркуль</option>
            <option value="chelyabinsk" selected>Челябинск</option>
            <option value="yuzhnouralsk">Южноуральск</option>
            <option value="yuryuzan">Юрюзань</option>
          </select>
        </div>
        <div class="nav__logo-wrapper">
          <a class="nav__logo logo-image">
            <img src="../img/logo.svg" width="50" height="16" alt="Логотип компании Neo-Lid.">
          </a>
        </div>
      </div>
      <div class="nav__bottom nav__bottom--no-js">
        <button class="nav__burger" type="button">Меню</button>
        <div class="nav__menu">
          <ul class="nav__list">
            <li class="nav__item nav__item--sub-menu nav__item--catalog">
              <div class="nav__catalog nav__with-popup">
                <button class="nav__button" type="button">Каталог</button>
                <ul class="nav__sub-list">
                  <li class="nav__sub-item">
                    <a class="nav__sub-link" href="#">Токарные станки</a>
                  </li>
                  <li class="nav__sub-item">
                    <a class="nav__sub-link" href="#">Фрезерные станки</a>
                  </li>
                  <li class="nav__sub-item">
                    <a class="nav__sub-link" href="#">Шлифовальные станки</a>
                  </li>
                  <li class="nav__sub-item">
                    <a class="nav__sub-link" href="#">Ленточнопильные станки</a>
                  </li>
                  <li class="nav__sub-item">
                    <a class="nav__sub-link" href="#">Деревообрабатывающее оборудование</a>
                  </li>
                  <li class="nav__sub-item">
                    <a class="nav__sub-link" href="#">Металлообрабатывающее оборудование</a>
                  </li>
                  <li class="nav__sub-item">
                    <a class="nav__sub-link" href="#">Оборудование для производства: пластиковых окон ПВХ, алюминиевых окон и стеклопакетов</a>
                  </li>
                  <li class="nav__sub-item">
                    <a class="nav__sub-link" href="#">Фрезерно-гравировальные станки с&nbsp;ЧПУ по&nbsp;камню</a>
                  </li>
                  <li class="nav__sub-item">
                    <a class="nav__sub-link" href="#">Лазерно-гравировальные станки с&nbsp;ЧПУ</a>
                  </li>
                  <li class="nav__sub-item">
                    <a class="nav__sub-link" href="#">Заточные станки</a>
                  </li>
                  <li class="nav__sub-item">
                    <a class="nav__sub-link" href="#">Компрессоры</a>
                  </li>
                  <li class="nav__sub-item">
                    <a class="nav__sub-link" href="#">Аспирации, стружкоотсосы</a>
                  </li>
                  <li class="nav__sub-item">
                    <a class="nav__sub-link" href="#">Инструменты</a>
                  </li>
                  <li class="nav__sub-item">
                    <a class="nav__sub-link" href="#">Клеевые материалы</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#">Акции</a>
            </li>
            <li class="nav__item nav__item--sub-menu nav__with-popup">
              <button class="nav__button" type="button">Сервис</button>
              <ul class="nav__sub-list">
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="#">Прямые поставки оборудования из&nbsp;Китая</a>
                </li>
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="#">Подбор б/у станков</a>
                </li>
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="#">Ремонт станков</a>
                </li>
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="#">Написание программ</a>
                </li>
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="#">Монтаж и настройка станков</a>
                </li>
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="#">Инструктаж оператора</a>
                </li>
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="#">Диагностика оборудования</a>
                </li>
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="#">Заточка инструмента</a>
                </li>
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="#">Лизинг и кредит</a>
                </li>
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="#">Trade-in</a>
                </li>
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="#">Прямые поставки оборудования из Китая</a>
                </li>
              </ul>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#">Доставка и оплата</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#">Новости</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#">О&nbsp;компании</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#">Контакты</a>
            </li>
            <li class="nav__item nav__item--account nav__with-popup">
              <a class="nav__link" href="#">
                <span>Личный кабинет</span>
              </a>
              <div class="nav__popup nav__popup--unauth">
                <button class="nav__popup-login" type="button">Вход или регистрация</button>
              </div>
              <div class="nav__popup nav__popup--auth nav__popup--hidden">
                <p class="nav__popup-auth-name">Олег</p>
                <ul class="nav__popup-auth-menu">
                  <li class="nav__popup-auth-item">
                    <a class="nav__popup-auth-link" href="#">Личный кабинет</a>
                  </li>
                  <li class="nav__popup-auth-item">
                    <a class="nav__popup-auth-link" href="#">Мои заказы</a>
                  </li>
                  <li class="nav__popup-auth-item">
                    <a class="nav__popup-auth-link" href="#">Выйти</a>
                  </li>
                </ul>
              </div>
              <div class="nav__popup nav__popup--login-form nav__popup--hidden">
                <button class="nav__popup-close" type="button">
                  <span class="visually-hidden">Закрыть.</span>
                </button>
                <form class="nav__popup-form" action="" method="post">
                  <fieldset class="nav__popup-group">
                    <legend class="nav__popup-legend">Вход и регистрация</legend>
                    <ul class="nav__popup-fields">
                      <li class="nav__popup-field">
                        <label class="nav__popup-label" for="phone">Телефон</label>
                        <input class="nav__popup-input" type="tel" name="phone" id="phone" required>
                      </li>
                      <li class="nav__popup-field">
                        <label class="nav__popup-label" for="password">Пароль</label>
                        <input class="nav__popup-input" type="password" name="password" id="password" required>
                      </li>
                    </ul>
                  </fieldset>
                  <button class="nav__popup-submit button" type="submit">Войти</button>
                  <a class="nav__popup-form-link" href="#">Зарегистрироваться</a>
                </form>
              </div>
            </li>
          </ul>
          <div class="nav__contacts">
            <p class="nav__contacts-text">Свяжитесь с&nbsp;нами</p>
            <ul class="nav__socials">
              <li class="nav__socials-item nav__socials-item--additional">
                <a class="nav__socials-link nav__socials-link--youtube" href="#" target="_blank" rel="noreferrer noopener">
                  <span class="visually-hidden">Ютуб.</span>
                </a>
              </li>
              <li class="nav__socials-item nav__socials-item--additional">
                <a class="nav__socials-link nav__socials-link--vk" href="#" target="_blank" rel="noreferrer noopener">
                  <span class="visually-hidden">Вконтакте.</span>
                </a>
              </li>
              <li class="nav__socials-item nav__socials-item--additional">
                <a class="nav__socials-link nav__socials-link--ok" href="#" target="_blank" rel="noreferrer noopener">
                  <span class="visually-hidden">Одноклассники.</span>
                </a>
              </li>
              <li class="nav__socials-item">
                <a class="nav__socials-link nav__socials-link--tg" href="#" target="_blank" rel="noreferrer noopener">
                  <span class="visually-hidden">Телеграм.</span>
                </a>
              </li>
              <li class="nav__socials-item">
                <a class="nav__socials-link nav__socials-link--whatsapp" href="#" target="_blank" rel="noreferrer noopener">
                  <span class="visually-hidden">Вотсап.</span>
                </a>
              </li>
              <li class="nav__socials-item nav__socials-item--additional">
                <a class="nav__socials-link nav__socials-link--rutube" href="#" target="_blank" rel="noreferrer noopener">
                  <span class="visually-hidden">Рутуб.</span>
                </a>
              </li>
            </ul>
            <address class="nav__address">
              <a class="nav__contacts-link" href="mailto:info@neolid.ru">info@neolid.ru</a>
              <a class="nav__contacts-link" href="tel:+79080857360">+7&nbsp;908&nbsp;085&nbsp;73&nbsp;60</a>
              <a class="nav__contacts-link nav__contacts-link--additional" href="tel:+8800XXXXXXX">8&nbsp;800&nbsp;XXX&nbsp;XX&nbsp;XX</a>
            </address>
          </div>
        </div>
        <form class="nav__search search-form">
          <div class="search-form__field">
            <label class="search-form__label" for="search">Поиск</label>
            <input class="search-form__input" type="search" name="search" id="search" required>
          </div>
          <button class="search-form__button" type="submit">
            <span class="visually-hidden">Искать.</span>
          </button>
        </form>
        <ul class="nav__user-list">
          <li class="nav__user-item nav__with-popup">
            <a class="nav__user-link nav__user-link--compare" href="#">
              <span class="nav__user-text">Сравнение</span>
            </a>
            <div class="nav__popup nav__popup--compare">
              <ul class="nav__popup-list">
                <li class="nav__popup-product">
                  <a class="nav__popup-product-link" href="#">
                    <div class="nav__popup-img">
                      <picture>
                        <source width="68" height="43" type="image/webp" srcset="../img/popup/product-1@1x.webp 1x, ../img/popup/product-1@1x.webp 2x">
                        <img src="../img/popup/product-1@1x.png" srcset="../img/popup/product-1@2x.png 2x" width="68" height="43" alt="Изображение товара.">
                      </picture>
                    </div>
                    <p class="nav__popup-name">MetalTec CK 40x750 (Комплектация ПРОМ) токарный станок ЧПУ с&nbsp;прямой станиной</p>
                    <p class="nav__popup-price">
                      <span class="nav__popup-text">Стоимость</span>
                      <span class="nav__popup-value">2476746</span>
                      <span class="nav__popup-value">₽</span>
                    </p>
                  </a>
                </li>
                <li class="nav__popup-product">
                  <a class="nav__popup-product-link" href="#">
                    <div class="nav__popup-img">
                      <picture>
                        <source width="68" height="43" type="image/webp" srcset="../img/popup/product-1@1x.webp 1x, ../img/popup/product-1@1x.webp 2x">
                        <img src="../img/popup/product-1@1x.png" srcset="../img/popup/product-1@2x.png 2x" width="68" height="43" alt="Изображение товара.">
                      </picture>
                    </div>
                    <p class="nav__popup-name">MetalTec CK 40x750 (Комплектация ПРОМ) токарный станок ЧПУ с&nbsp;прямой станиной</p>
                    <p class="nav__popup-price">
                      <span class="nav__popup-text">Стоимость</span>
                      <span class="nav__popup-value">2476746</span>
                      <span class="nav__popup-value">₽</span>
                    </p>
                  </a>
                </li>
              </ul>
              <button class="nav__popup-close" type="button">
                <span class="visually-hidden">Закрыть.</span>
              </button>
              <p class="nav__popup-total">
                <span class="nav__popup-text">Итого</span>
                <span class="nav__popup-value">4953492</span>
                <span class="nav__popup-value">₽</span>
              </p>
              <div class="nav__popup-buttons">
                <a class="button" href="#">Сравнить товары</a>
              </div>
              <a class="nav__popup-compare-link" href="#">Перейти в&nbsp;корзину</a>
            </div>
          </li>
          <li class="nav__user-item nav__with-popup">
            <a class="nav__user-link nav__user-link--favorites" href="#">
              <span class="nav__user-text">Избранное</span>
            </a>
            <div class="nav__popup nav__popup--compare">
              <ul class="nav__popup-list">
                <li class="nav__popup-product">
                  <a class="nav__popup-product-link" href="#">
                    <div class="nav__popup-img">
                      <picture>
                        <source width="68" height="43" type="image/webp" srcset="../img/popup/product-1@1x.webp 1x, ../img/popup/product-1@1x.webp 2x">
                        <img src="../img/popup/product-1@1x.png" srcset="../img/popup/product-1@2x.png 2x" width="68" height="43" alt="Изображение товара.">
                      </picture>
                    </div>
                    <p class="nav__popup-name">MetalTec CK 40x750 (Комплектация ПРОМ) токарный станок ЧПУ с&nbsp;прямой станиной</p>
                    <p class="nav__popup-price">
                      <span class="nav__popup-text">Стоимость</span>
                      <span class="nav__popup-value">2476746</span>
                      <span class="nav__popup-value">₽</span>
                    </p>
                  </a>
                </li>
              </ul>
              <button class="nav__popup-close" type="button">
                <span class="visually-hidden">Закрыть.</span>
              </button>
              <p class="nav__popup-total">
                <span class="nav__popup-text">Итого</span>
                <span class="nav__popup-value">2476746</span>
                <span class="nav__popup-value">₽</span>
              </p>
              <div class="nav__popup-buttons">
                <a class="button" href="#">К списку избранного</a>
              </div>
            </div>
          </li>
          <li class="nav__user-item nav__with-popup">
            <a class="nav__user-link nav__user-link--cart" href="#">
              <span class="nav__user-text">Корзина</span>
              <span class="nav__user-counter" data-counter="cart-counter">0</span>
            </a>
            <div class="nav__popup nav__popup--cart">
              <ul class="nav__popup-list">
                <li class="nav__popup-product">
                  <a class="nav__popup-product-link" href="#">
                    <div class="nav__popup-img">
                      <picture>
                        <source width="68" height="43" type="image/webp" srcset="../img/popup/product-1@1x.webp 1x, ../img/popup/product-1@1x.webp 2x">
                        <img src="../img/popup/product-1@1x.png" srcset="../img/popup/product-1@2x.png 2x" width="68" height="43" alt="Изображение товара.">
                      </picture>
                    </div>
                    <p class="nav__popup-name">MetalTec CK 40x750 (Комплектация ПРОМ) токарный станок ЧПУ с&nbsp;прямой станиной</p>
                    <p class="nav__popup-price">
                      <span class="nav__popup-text">Стоимость</span>
                      <span class="nav__popup-value">2476746</span>
                      <span class="nav__popup-value">₽</span>
                    </p>
                  </a>
                </li>
                <li class="nav__popup-product">
                  <a class="nav__popup-product-link" href="#">
                    <div class="nav__popup-img">
                      <picture>
                        <source width="68" height="43" type="image/webp" srcset="../img/popup/product-1@1x.webp 1x, ../img/popup/product-1@1x.webp 2x">
                        <img src="../img/popup/product-1@1x.png" srcset="../img/popup/product-1@2x.png 2x" width="68" height="43" alt="Изображение товара.">
                      </picture>
                    </div>
                    <p class="nav__popup-name">MetalTec CK 40x750 (Комплектация ПРОМ) токарный станок ЧПУ с&nbsp;прямой станиной</p>
                    <p class="nav__popup-price">
                      <span class="nav__popup-text">Стоимость</span>
                      <span class="nav__popup-value">2476746</span>
                      <span class="nav__popup-value">₽</span>
                    </p>
                  </a>
                </li>
              </ul>
              <button class="nav__popup-close" type="button">
                <span class="visually-hidden">Закрыть.</span>
              </button>
              <p class="nav__popup-total">
                <span class="nav__popup-text">Итого</span>
                <span class="nav__popup-value">4953492</span>
                <span class="nav__popup-value">₽</span>
              </p>
              <div class="nav__popup-buttons">
                <a class="button" href="#">Быстрый заказ</a>
                <a class="button" href="#">Перейти в&nbsp;корзину</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
