<section class="latest">
  <div class="container">
    <h2 class="latest__title">Вы недавно смотрели</h2>
    <div class="latest__swiper-container">
      <div class="latest__swiper swiper" data-swiper="cards">
        <ul class="latest__swiper-wrapper swiper-wrapper">
          <li class="latest__slide swiper-slide">
            <div class="latest__slide-container card card--small">
              <div class="card__visual">
                <div class="card__visual-swiper-container">
                  <div class="card__visual-swiper swiper">
                    <ul class="card__visual-swiper-wrapper swiper-wrapper">
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-1-tablet@1x.webp 1x, ../img/latest/latest-1-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-1-mobile@1x.webp 1x, ../img/latest/latest-1-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-1-tablet@1x.png 1x, ../img/latest/latest-1-tablet@2x.png 2x">
                            <img src="../img/latest/latest-1-mobile@1x.png" srcset="../img/latest/latest-1-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.webp 1x, ../img/latest/latest-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-2-mobile@1x.webp 1x, ../img/latest/latest-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.png 1x, ../img/latest/latest-2-tablet@2x.png 2x">
                            <img src="../img/latest/latest-2-mobile@1x.png" srcset="../img/latest/latest-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.webp 1x, ../img/latest/latest-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-3-mobile@1x.webp 1x, ../img/latest/latest-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.png 1x, ../img/latest/latest-3-tablet@2x.png 2x">
                            <img src="../img/latest/latest-3-mobile@1x.png" srcset="../img/latest/latest-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.webp 1x, ../img/latest/latest-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-2-mobile@1x.webp 1x, ../img/latest/latest-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.png 1x, ../img/latest/latest-2-tablet@2x.png 2x">
                            <img src="../img/latest/latest-2-mobile@1x.png" srcset="../img/latest/latest-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.webp 1x, ../img/latest/latest-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-3-mobile@1x.webp 1x, ../img/latest/latest-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.png 1x, ../img/latest/latest-3-tablet@2x.png 2x">
                            <img src="../img/latest/latest-3-mobile@1x.png" srcset="../img/latest/latest-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="card__visual-swiper-pagination"></div>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <p class="card__article">Код товара: 2061070351</p>
                <a class="card__title" href="#">MetalTec TOPMILL 1360F вертикальный обрабатывающий центр с&nbsp;ЧПУ</a>
                <div class="card__button-container">
                  <button class="card__button button button--light" type="button">В корзину</button>
                </div>
              </div>
            </div>
          </li>
          <li class="latest__slide swiper-slide">
            <div class="latest__slide-container card card--small">
              <div class="card__visual">
                <div class="card__visual-swiper-container">
                  <div class="card__visual-swiper swiper">
                    <ul class="card__visual-swiper-wrapper swiper-wrapper">
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.webp 1x, ../img/latest/latest-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-2-mobile@1x.webp 1x, ../img/latest/latest-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.png 1x, ../img/latest/latest-2-tablet@2x.png 2x">
                            <img src="../img/latest/latest-2-mobile@1x.png" srcset="../img/latest/latest-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.webp 1x, ../img/latest/latest-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-2-mobile@1x.webp 1x, ../img/latest/latest-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.png 1x, ../img/latest/latest-2-tablet@2x.png 2x">
                            <img src="../img/latest/latest-2-mobile@1x.png" srcset="../img/latest/latest-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.webp 1x, ../img/latest/latest-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-3-mobile@1x.webp 1x, ../img/latest/latest-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.png 1x, ../img/latest/latest-3-tablet@2x.png 2x">
                            <img src="../img/latest/latest-3-mobile@1x.png" srcset="../img/latest/latest-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.webp 1x, ../img/latest/latest-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-2-mobile@1x.webp 1x, ../img/latest/latest-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.png 1x, ../img/latest/latest-2-tablet@2x.png 2x">
                            <img src="../img/latest/latest-2-mobile@1x.png" srcset="../img/latest/latest-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.webp 1x, ../img/latest/latest-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-3-mobile@1x.webp 1x, ../img/latest/latest-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.png 1x, ../img/latest/latest-3-tablet@2x.png 2x">
                            <img src="../img/latest/latest-3-mobile@1x.png" srcset="../img/latest/latest-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="card__visual-swiper-pagination"></div>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <p class="card__article">Код товара: 2061070349</p>
                <a class="card__title" href="#">MetalTec TOPMILL 800S Вертикальный обрабатывающий центр с&nbsp;ЧПУ</a>
                <div class="card__button-container">
                  <button class="card__button button button--light" type="button">В корзину</button>
                </div>
              </div>
            </div>
          </li>
          <li class="latest__slide swiper-slide">
            <div class="latest__slide-container card card--small">
              <div class="card__visual">
                <div class="card__visual-swiper-container">
                  <div class="card__visual-swiper swiper">
                    <ul class="card__visual-swiper-wrapper swiper-wrapper">
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.webp 1x, ../img/latest/latest-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-3-mobile@1x.webp 1x, ../img/latest/latest-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.png 1x, ../img/latest/latest-3-tablet@2x.png 2x">
                            <img src="../img/latest/latest-3-mobile@1x.png" srcset="../img/latest/latest-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.webp 1x, ../img/latest/latest-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-2-mobile@1x.webp 1x, ../img/latest/latest-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.png 1x, ../img/latest/latest-2-tablet@2x.png 2x">
                            <img src="../img/latest/latest-2-mobile@1x.png" srcset="../img/latest/latest-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.webp 1x, ../img/latest/latest-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-3-mobile@1x.webp 1x, ../img/latest/latest-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.png 1x, ../img/latest/latest-3-tablet@2x.png 2x">
                            <img src="../img/latest/latest-3-mobile@1x.png" srcset="../img/latest/latest-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.webp 1x, ../img/latest/latest-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-2-mobile@1x.webp 1x, ../img/latest/latest-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.png 1x, ../img/latest/latest-2-tablet@2x.png 2x">
                            <img src="../img/latest/latest-2-mobile@1x.png" srcset="../img/latest/latest-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.webp 1x, ../img/latest/latest-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-3-mobile@1x.webp 1x, ../img/latest/latest-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.png 1x, ../img/latest/latest-3-tablet@2x.png 2x">
                            <img src="../img/latest/latest-3-mobile@1x.png" srcset="../img/latest/latest-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="card__visual-swiper-pagination"></div>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <p class="card__article">Код товара: 2061070531</p>
                <a class="card__title" href="#">Обрабатывающий центр с&nbsp;ЧПУ WoodTec&nbsp;VPS&nbsp;1330</a>
                <div class="card__button-container">
                  <button class="card__button button button--light" type="button">В корзину</button>
                </div>
              </div>
            </div>
          </li>
          <li class="latest__slide swiper-slide">
            <div class="latest__slide-container card card--small">
              <div class="card__visual">
                <div class="card__visual-swiper-container">
                  <div class="card__visual-swiper swiper">
                    <ul class="card__visual-swiper-wrapper swiper-wrapper">
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-4-tablet@1x.webp 1x, ../img/latest/latest-4-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-4-mobile@1x.webp 1x, ../img/latest/latest-4-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-4-tablet@1x.png 1x, ../img/latest/latest-4-tablet@2x.png 2x">
                            <img src="../img/latest/latest-4-mobile@1x.png" srcset="../img/latest/latest-4-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.webp 1x, ../img/latest/latest-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-2-mobile@1x.webp 1x, ../img/latest/latest-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.png 1x, ../img/latest/latest-2-tablet@2x.png 2x">
                            <img src="../img/latest/latest-2-mobile@1x.png" srcset="../img/latest/latest-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.webp 1x, ../img/latest/latest-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-3-mobile@1x.webp 1x, ../img/latest/latest-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.png 1x, ../img/latest/latest-3-tablet@2x.png 2x">
                            <img src="../img/latest/latest-3-mobile@1x.png" srcset="../img/latest/latest-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.webp 1x, ../img/latest/latest-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-2-mobile@1x.webp 1x, ../img/latest/latest-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.png 1x, ../img/latest/latest-2-tablet@2x.png 2x">
                            <img src="../img/latest/latest-2-mobile@1x.png" srcset="../img/latest/latest-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.webp 1x, ../img/latest/latest-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-3-mobile@1x.webp 1x, ../img/latest/latest-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.png 1x, ../img/latest/latest-3-tablet@2x.png 2x">
                            <img src="../img/latest/latest-3-mobile@1x.png" srcset="../img/latest/latest-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="card__visual-swiper-pagination"></div>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <p class="card__article">Код товара: 2061070541</p>
                <a class="card__title" href="#">Станок фрезерный WoodTec FS 120 K ECO</a>
                <div class="card__button-container">
                  <button class="card__button button button--light" type="button">В корзину</button>
                </div>
              </div>
            </div>
          </li>
          <li class="latest__slide swiper-slide">
            <div class="latest__slide-container card card--small">
              <div class="card__visual">
                <div class="card__visual-swiper-container">
                  <div class="card__visual-swiper swiper">
                    <ul class="card__visual-swiper-wrapper swiper-wrapper">
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-5-tablet@1x.webp 1x, ../img/latest/latest-5-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-5-mobile@1x.webp 1x, ../img/latest/latest-5-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-5-tablet@1x.png 1x, ../img/latest/latest-5-tablet@2x.png 2x">
                            <img src="../img/latest/latest-5-mobile@1x.png" srcset="../img/latest/latest-5-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.webp 1x, ../img/latest/latest-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-2-mobile@1x.webp 1x, ../img/latest/latest-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.png 1x, ../img/latest/latest-2-tablet@2x.png 2x">
                            <img src="../img/latest/latest-2-mobile@1x.png" srcset="../img/latest/latest-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.webp 1x, ../img/latest/latest-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-3-mobile@1x.webp 1x, ../img/latest/latest-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.png 1x, ../img/latest/latest-3-tablet@2x.png 2x">
                            <img src="../img/latest/latest-3-mobile@1x.png" srcset="../img/latest/latest-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.webp 1x, ../img/latest/latest-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-2-mobile@1x.webp 1x, ../img/latest/latest-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.png 1x, ../img/latest/latest-2-tablet@2x.png 2x">
                            <img src="../img/latest/latest-2-mobile@1x.png" srcset="../img/latest/latest-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.webp 1x, ../img/latest/latest-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-3-mobile@1x.webp 1x, ../img/latest/latest-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.png 1x, ../img/latest/latest-3-tablet@2x.png 2x">
                            <img src="../img/latest/latest-3-mobile@1x.png" srcset="../img/latest/latest-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="card__visual-swiper-pagination"></div>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <p class="card__article">Код товара: 2061070537</p>
                <a class="card__title" href="#">Станок фрезерный для концевого инструмента WoodTec M 40 ECO</a>
                <div class="card__button-container">
                  <button class="card__button button button--light" type="button">В корзину</button>
                </div>
              </div>
            </div>
          </li>
          <li class="latest__slide swiper-slide">
            <div class="latest__slide-container card card--small">
              <div class="card__visual">
                <div class="card__visual-swiper-container">
                  <div class="card__visual-swiper swiper">
                    <ul class="card__visual-swiper-wrapper swiper-wrapper">
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-6-tablet@1x.webp 1x, ../img/latest/latest-6-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-6-mobile@1x.webp 1x, ../img/latest/latest-6-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-6-tablet@1x.png 1x, ../img/latest/latest-6-tablet@2x.png 2x">
                            <img src="../img/latest/latest-6-mobile@1x.png" srcset="../img/latest/latest-6-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.webp 1x, ../img/latest/latest-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-2-mobile@1x.webp 1x, ../img/latest/latest-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.png 1x, ../img/latest/latest-2-tablet@2x.png 2x">
                            <img src="../img/latest/latest-2-mobile@1x.png" srcset="../img/latest/latest-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.webp 1x, ../img/latest/latest-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-3-mobile@1x.webp 1x, ../img/latest/latest-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.png 1x, ../img/latest/latest-3-tablet@2x.png 2x">
                            <img src="../img/latest/latest-3-mobile@1x.png" srcset="../img/latest/latest-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.webp 1x, ../img/latest/latest-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-2-mobile@1x.webp 1x, ../img/latest/latest-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-2-tablet@1x.png 1x, ../img/latest/latest-2-tablet@2x.png 2x">
                            <img src="../img/latest/latest-2-mobile@1x.png" srcset="../img/latest/latest-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.webp 1x, ../img/latest/latest-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latest/latest-3-mobile@1x.webp 1x, ../img/latest/latest-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latest/latest-3-tablet@1x.png 1x, ../img/latest/latest-3-tablet@2x.png 2x">
                            <img src="../img/latest/latest-3-mobile@1x.png" srcset="../img/latest/latest-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="card__visual-swiper-pagination"></div>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <p class="card__article">Код товара: 2061070410</p>
                <a class="card__title" href="#">Фрезерно-гравировальный станок с&nbsp;ЧПУ WoodTec CH-2030 NEST L</a>
                <div class="card__button-container">
                  <button class="card__button button button--light" type="button">В корзину</button>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="latest__swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
