<section class="latest">
  <div class="container">
    <h2 class="latest__title">Вы недавно смотрели</h2>
    <div class="latest__swiper-container">
      <div class="latest__swiper swiper" data-swiper="cards">
        <ul class="latest__swiper-wrapper swiper-wrapper">
          <li class="latest__slide swiper-slide">
            <div class="latest__slide-container card">
              <div class="card__visual">
                <div class="card__visual-swiper-container">
                  <div class="card__visual-swiper swiper">
                    <ul class="card__visual-swiper-wrapper swiper-wrapper">
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latests/latest-1-tablet@1x.webp 1x, ../img/latests/latest-1-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latests/latest-1-mobile@1x.webp 1x, ../img/latests/latest-1-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latests/latest-1-tablet@1x.png 1x, ../img/latests/latest-1-tablet@2x.png 2x">
                            <img src="../img/latests/latest-1-mobile@1x.png" srcset="../img/latests/latest-1-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latests/latest-2-tablet@1x.webp 1x, ../img/latests/latest-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latests/latest-2-mobile@1x.webp 1x, ../img/latests/latest-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latests/latest-2-tablet@1x.png 1x, ../img/latests/latest-2-tablet@2x.png 2x">
                            <img src="../img/latests/latest-2-mobile@1x.png" srcset="../img/latests/latest-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latests/latest-3-tablet@1x.webp 1x, ../img/latests/latest-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latests/latest-3-mobile@1x.webp 1x, ../img/latests/latest-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latests/latest-3-tablet@1x.png 1x, ../img/latests/latest-3-tablet@2x.png 2x">
                            <img src="../img/latests/latest-3-mobile@1x.png" srcset="../img/latests/latest-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latests/latest-2-tablet@1x.webp 1x, ../img/latests/latest-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latests/latest-2-mobile@1x.webp 1x, ../img/latests/latest-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latests/latest-2-tablet@1x.png 1x, ../img/latests/latest-2-tablet@2x.png 2x">
                            <img src="../img/latests/latest-2-mobile@1x.png" srcset="../img/latests/latest-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/latests/latest-3-tablet@1x.webp 1x, ../img/latests/latest-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/latests/latest-3-mobile@1x.webp 1x, ../img/latests/latest-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/latests/latest-3-tablet@1x.png 1x, ../img/latests/latest-3-tablet@2x.png 2x">
                            <img src="../img/latests/latest-3-mobile@1x.png" srcset="../img/latests/latest-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="card__visual-swiper-pagination"></div>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <p class="card__article">Код товара: 2061070410</p>
                <a class="card__title" href="#">MetalTec CK 40x750 (Комплектация ПРОМ) токарный станок ЧПУ с&nbsp;прямой станиной</a>
                <div class="card__button-container">
                  <button class="card__button button button--light" type="button">В корзину</button>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="latest__swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
