<section class="news">
  <div class="container">
    <h2 class="visually-hidden">Новости и статьи</h2>
    <div class="news__group">
      <h3 class="news__title">Новости</h3>
      <ul class="news__list">
        <li class="news__item">
          <a class="news__link" href="#">
            <div class="news__subtitle">
              <p>Довольныий Клиент купил второий фрезер в&nbsp;Челябинске 2024&nbsp;г</p>
            </div>
            <div class="news__text">
              <p>В&nbsp;2024 году в&nbsp;Челябинске один из&nbsp;наших клиентов, который уже оценил качество нашего товара, принял решение приобрести второй фрезерный станок. Это решение стало результатом его положительного опыта работы с&nbsp;первым станком, который значительно упростил его производственные процессы</p>
            </div>
            <div class="news__date">
              <p>17.01.2025</p>
            </div>
          </a>
        </li>
        <li class="news__item">
          <a class="news__link" href="#">
            <div class="news__subtitle">
              <p>Довольныий Клиент купил второий фрезер в&nbsp;Челябинске 2024&nbsp;г</p>
            </div>
            <div class="news__text">
              <p>В&nbsp;2024 году в&nbsp;Челябинске один из&nbsp;наших клиентов, который уже оценил качество нашего товара, принял решение приобрести второй фрезерный станок. Это решение стало результатом его положительного опыта работы с&nbsp;первым станком, который значительно упростил его производственные процессы</p>
            </div>
            <div class="news__date">
              <p>17.01.2025</p>
            </div>
          </a>
        </li>
      </ul>
      <a class="news__link-more" href="#">Смотреть&nbsp;все</a>
    </div>
    <div class="news__group">
      <h3 class="news__title">Статьи</h3>
      <ul class="news__list">
        <li class="news__item">
          <a class="news__link" href="#">
            <div class="news__subtitle">
              <p>Довольныий Клиент купил второий фрезер в&nbsp;Челябинске 2024&nbsp;г</p>
            </div>
            <div class="news__text">
              <p>В&nbsp;2024 году в&nbsp;Челябинске один из&nbsp;наших клиентов, который уже оценил качество нашего товара, принял решение приобрести второй фрезерный станок. Это решение стало результатом его положительного опыта работы с&nbsp;первым станком, который значительно упростил его производственные процессы</p>
            </div>
            <div class="news__date">
              <p>17.01.2025</p>
            </div>
          </a>
        </li>
        <li class="news__item">
          <a class="news__link" href="#">
            <div class="news__subtitle">
              <p>Довольныий Клиент купил второий фрезер в&nbsp;Челябинске 2024&nbsp;г</p>
            </div>
            <div class="news__text">
              <p>В&nbsp;2024 году в&nbsp;Челябинске один из&nbsp;наших клиентов, который уже оценил качество нашего товара, принял решение приобрести второй фрезерный станок. Это решение стало результатом его положительного опыта работы с&nbsp;первым станком, который значительно упростил его производственные процессы</p>
            </div>
            <div class="news__date">
              <p>17.01.2025</p>
            </div>
          </a>
        </li>
      </ul>
      <a class="news__link-more" href="#">Читать все</a>
    </div>
  </div>
</section>
