<section class="pay">
  <div class="container">
    <h2 class="pay__title">Способы оплаты</h2>
    <p class="pay__text">Компания НЕО&#8288;-&#8288;ЛИД предлагает удобные варианты оплаты&nbsp;товаров и услуг для наших клиентов по&nbsp;России и&nbsp;странам&nbsp;СНГ</p>
    <div class="pay__details pay-details">
      <div class="pay-details__details">
        <p class="pay-details__title">На расчётный счёт. <br>Перечисление на расчётный счёт по&nbsp;реквизитам</p>
        <div class="pay-details__details-list" data-layout="grid-column">
          <dl>
            <dt>Наименование</dt>
            <dd>ООО&nbsp;«НЕО&#8288;-&#8288;ЛИД»</dd>
          </dl>
          <dl>
            <dt>ОГРН</dt>
            <dd>1197456026657</dd>
          </dl>
          <dl>
            <dt>Юридический адрес</dt>
            <dd>54091, г.Челябинск, ул.&nbsp;Плеханова, 28&#8288;-&#8288;34</dd>
          </dl>
          <dl>
            <dt>Фактический адрес</dt>
            <dd>454006, г.Челябинск, ул.&nbsp;Российская, 63а</dd>
          </dl>
          <dl>
            <dt>ИНН\КПП</dt>
            <dd>7451442621 / 745101001</dd>
          </dl>
          <dl>
            <dt>Расчетный счёт</dt>
            <dd>40702810924160001638</dd>
          </dl>
          <dl>
            <dt>Банк</dt>
            <dd>Филиал ПАО «БАНК УРАЛСИБ» в&nbsp;г.&nbsp;Екатеринбург</dd>
          </dl>
          <dl>
            <dt>Кор/сч</dt>
            <dd>30101810165770000446</dd>
          </dl>
        </div>
        <button class="pay-details__details-button button" type="button">Скачать реквизиты</button>
      </div>
      <div class="pay-details__bank">
        <p class="pay-details__title">Банковским картами</p>
        <p class="pay-details__bank-text">МИР/VISA/MasterCard Онлайн.</p>
        <ul class="pay-details__bank-list">
          <li class="pay-details__bank-item">
            <picture>
              <source width="255" height="106" type="image/webp" media="(min-width: 768px)" srcset="../img/pay/mir-tablet@1x.webp 1x, ../img/pay/mir-tablet@2x.webp 2x">
              <source width="135" height="56" type="image/webp" srcset="../img/pay/mir-mobile@1x.webp 1x, ../img/pay/mir-mobile@2x.webp 2x">
              <source width="255" height="106" type="image/png" media="(min-width: 768px)" srcset="../img/pay/mir-tablet@1x.png 1x, ../img/pay/mir-tablet@2x.png 2x">
              <img src="../img/pay/mir-mobile@1x.png" srcset="../img/pay/mir-mobile@2x.png 2x" width="135" height="56" alt="Логотип мир.">
            </picture>
          </li>
          <li class="pay-details__bank-item">
            <picture>
              <source width="255" height="106" type="image/webp" media="(min-width: 768px)" srcset="../img/pay/visa-tablet@1x.webp 1x, ../img/pay/visa-tablet@2x.webp 2x">
              <source width="135" height="56" type="image/webp" srcset="../img/pay/visa-mobile@1x.webp 1x, ../img/pay/visa-mobile@2x.webp 2x">
              <source width="255" height="106" type="image/png" media="(min-width: 768px)" srcset="../img/pay/visa-tablet@1x.png 1x, ../img/pay/visa-tablet@2x.png 2x">
              <img src="../img/pay/visa-mobile@1x.png" srcset="../img/pay/visa-mobile@2x.png 2x" width="135" height="56" alt="Логотип виза.">
            </picture>
          </li>
          <li class="pay-details__bank-item">
            <picture>
              <source width="255" height="106" type="image/webp" media="(min-width: 768px)" srcset="../img/pay/sbp-tablet@1x.webp 1x, ../img/pay/sbp-tablet@2x.webp 2x">
              <source width="135" height="56" type="image/webp" srcset="../img/pay/sbp-mobile@1x.webp 1x, ../img/pay/sbp-mobile@2x.webp 2x">
              <source width="255" height="106" type="image/png" media="(min-width: 768px)" srcset="../img/pay/sbp-tablet@1x.png 1x, ../img/pay/sbp-tablet@2x.png 2x">
              <img src="../img/pay/sbp-mobile@1x.png" srcset="../img/pay/sbp-mobile@2x.png 2x" width="135" height="56" alt="Логотип сбп.">
            </picture>
          </li>
          <li class="pay-details__bank-item">
            <picture>
              <source width="255" height="106" type="image/webp" media="(min-width: 768px)" srcset="../img/pay/mastercard-tablet@1x.webp 1x, ../img/pay/mastercard-tablet@2x.webp 2x">
              <source width="135" height="56" type="image/webp" srcset="../img/pay/mastercard-mobile@1x.webp 1x, ../img/pay/mastercard-mobile@2x.webp 2x">
              <source width="255" height="106" type="image/png" media="(min-width: 768px)" srcset="../img/pay/mastercard-tablet@1x.png 1x, ../img/pay/mastercard-tablet@2x.png 2x">
              <img src="../img/pay/mastercard-mobile@1x.png" srcset="../img/pay/mastercard-mobile@2x.png 2x" width="135" height="56" alt="Логотип мастеркард.">
            </picture>
          </li>
        </ul>
      </div>
    </div>
    <ul class="pay__list">
      <li class="pay__item">
        <h3>Скидки постоянным клиентам</h3>
        <p>Оплате в&nbsp;полном объёме при первой покупке, для постоянных клиентов возможна оплата 50/50.</p>
      </li>
      <li class="pay__item">
        <h3>Бесплатная доставка</h3>
        <p>До склада покупателя по Уральскому Федеральному Округу, по&nbsp;России при заказе на&nbsp;сумму от&nbsp;500&nbsp;тысяч&nbsp;рублей.</p>
      </li>
      <li class="pay__item">
        <h3>Цены от&nbsp;производителя</h3>
        <p>Мы&nbsp;являемся официальными дилерами представленных на&nbsp;нашем сайте производителей.</p>
      </li>
    </ul>
  </div>
</section>
