<section class="reviews">
  <div class="container">
    <div class="reviews__header">
      <h2 class="reviews__title">Отзывы</h2>
      <a class="reviews__link" href="#">Смотреть все</a>
    </div>
    <div class="reviews__swiper-container">
      <div class="reviews__swiper" data-swiper="pagination">
        <ul class="reviews__swiper-wrapper">
          <li class="reviews__slide">
            <div class="reviews__slide-container review-card" href="#">
              <div class="review-card__header">
                <div class="rating" role="img" aria-label="Оценка товара пять из пяти">
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                </div>
                <p class="review-card__date">01.06.2025</p>
              </div>
              <div class="review-card__img">
                <picture>
                  <source width="352" height="346" type="image/webp" media="(min-width: 1366px)" srcset="../img/reviews/review-1-tablet@1x.webp 1x, ../img/reviews/review-1-tablet@2x.webp 2x">
                  <source width="311" height="192" type="image/webp" srcset="../img/reviews/review-1-mobile@1x.webp 1x, ../img/reviews/review-1-mobile@2x.webp 2x">
                  <source width="352" height="346" type="image/png" media="(min-width: 1366px)" srcset="../img/reviews/review-1-tablet@1x.png 1x, ../img/reviews/review-1-tablet@2x.png 2x">
                  <img src="../img/reviews/review-1-mobile@1x.png" srcset="../img/reviews/review-1-mobile@2x.png 2x" width="311" height="192" alt="Отзыв 1.">
                </picture>
              </div>
              <div class="review-card__name">
                <p>Иван</p>
              </div>
              <div class="review-card__text">
                <p>Недавно заказали токарный станок и&nbsp;остались очень довольны. Он&nbsp;отлично справляется со&nbsp;всеми задачами и&nbsp;значительно упростил нашу работу!</p>
              </div>
            </div>
          </li>
          <li class="reviews__slide">
            <div class="reviews__slide-container review-card" href="#">
              <div class="review-card__header">
                <div class="rating" role="img" aria-label="Оценка товара пять из пяти">
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                </div>
                <p class="review-card__date">01.06.2025</p>
              </div>
              <div class="review-card__img">
                <picture>
                  <source width="352" height="346" type="image/webp" media="(min-width: 1366px)" srcset="../img/reviews/review-2-tablet@1x.webp 1x, ../img/reviews/review-2-tablet@2x.webp 2x">
                  <source width="311" height="192" type="image/webp" srcset="../img/reviews/review-2-mobile@1x.webp 1x, ../img/reviews/review-2-mobile@2x.webp 2x">
                  <source width="352" height="346" type="image/png" media="(min-width: 1366px)" srcset="../img/reviews/review-2-tablet@1x.png 1x, ../img/reviews/review-2-tablet@2x.png 2x">
                  <img src="../img/reviews/review-2-mobile@1x.png" srcset="../img/reviews/review-2-mobile@2x.png 2x" width="311" height="192" alt="Отзыв 1.">
                </picture>
              </div>
              <div class="review-card__name">
                <p>Михаил</p>
              </div>
              <div class="review-card__text">
                <p>Недавно я&nbsp;приобрел универсальный копировально-фрезерный станок с&nbsp;системой охлаждения, и&nbsp;он&nbsp;превзошел все мои ожидания!</p>
              </div>
            </div>
          </li>
          <li class="reviews__slide">
            <div class="reviews__slide-container review-card" href="#">
              <div class="review-card__header">
                <div class="rating" role="img" aria-label="Оценка товара пять из пяти">
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                </div>
                <p class="review-card__date">01.06.2025</p>
              </div>
              <div class="review-card__img">
                <picture>
                  <source width="352" height="346" type="image/webp" media="(min-width: 1366px)" srcset="../img/reviews/review-3-tablet@1x.webp 1x, ../img/reviews/review-3-tablet@2x.webp 2x">
                  <source width="311" height="192" type="image/webp" srcset="../img/reviews/review-3-mobile@1x.webp 1x, ../img/reviews/review-3-mobile@2x.webp 2x">
                  <source width="352" height="346" type="image/png" media="(min-width: 1366px)" srcset="../img/reviews/review-3-tablet@1x.png 1x, ../img/reviews/review-3-tablet@2x.png 2x">
                  <img src="../img/reviews/review-3-mobile@1x.png" srcset="../img/reviews/review-3-mobile@2x.png 2x" width="311" height="192" alt="Отзыв 1.">
                </picture>
              </div>
              <div class="review-card__name">
                <p>Алексей</p>
              </div>
              <div class="review-card__text">
                <p>Отлично справляется с&nbsp;задачами, <br>обеспечивая гладкую поверхность и&nbsp;высокую&nbsp;точность</p>
              </div>
            </div>
          </li>
          <li class="reviews__slide">
            <div class="reviews__slide-container review-card" href="#">
              <div class="review-card__header">
                <div class="rating" role="img" aria-label="Оценка товара пять из пяти">
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                </div>
                <p class="review-card__date">01.06.2025</p>
              </div>
              <div class="review-card__img">
                <picture>
                  <source width="352" height="346" type="image/webp" media="(min-width: 1366px)" srcset="../img/reviews/review-4-tablet@1x.webp 1x, ../img/reviews/review-4-tablet@2x.webp 2x">
                  <source width="311" height="192" type="image/webp" srcset="../img/reviews/review-4-mobile@1x.webp 1x, ../img/reviews/review-4-mobile@2x.webp 2x">
                  <source width="352" height="346" type="image/png" media="(min-width: 1366px)" srcset="../img/reviews/review-4-tablet@1x.png 1x, ../img/reviews/review-4-tablet@2x.png 2x">
                  <img src="../img/reviews/review-4-mobile@1x.png" srcset="../img/reviews/review-4-mobile@2x.png 2x" width="311" height="192" alt="Отзыв 1.">
                </picture>
              </div>
              <div class="review-card__name">
                <p>Иван</p>
              </div>
              <div class="review-card__text">
                <p>Отлично справляется с&nbsp;задачами, <br>обеспечивая гладкую поверхность и&nbsp;высокую&nbsp;точность</p>
              </div>
            </div>
          </li>
          <li class="reviews__slide">
            <div class="reviews__slide-container review-card" href="#">
              <div class="review-card__header">
                <div class="rating" role="img" aria-label="Оценка товара пять из пяти">
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                  <span class="rating__icon" aria-hidden="true"></span>
                </div>
                <p class="review-card__date">01.06.2025</p>
              </div>
              <div class="review-card__img">
                <picture>
                  <source width="352" height="346" type="image/webp" media="(min-width: 1366px)" srcset="../img/reviews/review-4-tablet@1x.webp 1x, ../img/reviews/review-4-tablet@2x.webp 2x">
                  <source width="311" height="192" type="image/webp" srcset="../img/reviews/review-4-mobile@1x.webp 1x, ../img/reviews/review-4-mobile@2x.webp 2x">
                  <source width="352" height="346" type="image/png" media="(min-width: 1366px)" srcset="../img/reviews/review-4-tablet@1x.png 1x, ../img/reviews/review-4-tablet@2x.png 2x">
                  <img src="../img/reviews/review-4-mobile@1x.png" srcset="../img/reviews/review-4-mobile@2x.png 2x" width="311" height="192" alt="Отзыв 1.">
                </picture>
              </div>
              <div class="review-card__name">
                <p>Иван</p>
              </div>
              <div class="review-card__text">
                <p>Отлично справляется с&nbsp;задачами, обеспечивая гладкую поверхность и&nbsp;высокую точность</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="reviews__swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
