<section class="product product--sale">
  <div class="container">
    <div class="product__header">
      <h2 class="product__title">Акционные станки<span class="product__title-accent">(10+)</span></h2>
      <a class="product__link" href="#">Смотреть все</a>
    </div>
    <div class="product__swiper-container">
      <div class="product__swiper swiper" data-swiper="cards">
        <ul class="product__swiper-wrapper swiper-wrapper">
          <li class="product__slide swiper-slide">
            <div class="product__slide-container card">
              <div class="card__visual">
                <div class="card__header">
                  <div class="card__tags">
                    <p class="card__tag card__tag--sale">-19&nbsp;%</p>
                    <p class="card__tag card__tag--label">Популярный</p>
                  </div>
                  <div class="card__user">
                    <button class="card__user-button card__user-button--compare">
                      <span class="visually-hidden">Добавить к сравнению.</span>
                    </button>
                    <button class="card__user-button card__user-button--favorites">
                      <span class="visually-hidden">Добавить в избранное.</span>
                    </button>
                  </div>
                </div>
                <div class="card__visual-swiper-container">
                  <div class="card__visual-swiper swiper">
                    <ul class="card__visual-swiper-wrapper swiper-wrapper">
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-1-tablet@1x.webp 1x, ../img/sale/product-1-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-1-mobile@1x.webp 1x, ../img/sale/product-1-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-1-tablet@1x.png 1x, ../img/sale/product-1-tablet@2x.png 2x">
                            <img src="../img/sale/product-1-mobile@1x.png" srcset="../img/sale/product-1-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.webp 1x, ../img/sale/product-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-2-mobile@1x.webp 1x, ../img/sale/product-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.png 1x, ../img/sale/product-2-tablet@2x.png 2x">
                            <img src="../img/sale/product-2-mobile@1x.png" srcset="../img/sale/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.webp 1x, ../img/sale/product-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-3-mobile@1x.webp 1x, ../img/sale/product-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.png 1x, ../img/sale/product-3-tablet@2x.png 2x">
                            <img src="../img/sale/product-3-mobile@1x.png" srcset="../img/sale/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.webp 1x, ../img/sale/product-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-2-mobile@1x.webp 1x, ../img/sale/product-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.png 1x, ../img/sale/product-2-tablet@2x.png 2x">
                            <img src="../img/sale/product-2-mobile@1x.png" srcset="../img/sale/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.webp 1x, ../img/sale/product-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-3-mobile@1x.webp 1x, ../img/sale/product-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.png 1x, ../img/sale/product-3-tablet@2x.png 2x">
                            <img src="../img/sale/product-3-mobile@1x.png" srcset="../img/sale/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="card__visual-swiper-pagination"></div>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <p class="card__article">Код товара: 2061070410</p>
                <a class="card__title" href="#">MetalTec CK 40x750 (Комплектация ПРОМ) токарный станок ЧПУ с&nbsp;прямой станиной</a>
                <p class="card__prices">
                  <span class="card__price card__price--new">2476746 ₽</span>
                  <span class="card__price card__price--old">3054103 ₽</span>
                </p>
                <div class="card__button-container">
                  <a class="card__button button button--light" href="#">Быстрый заказ</a>
                  <button class="card__button button button--light" type="button">В корзину</button>
                </div>
              </div>
            </div>
          </li>
          <li class="product__slide swiper-slide">
            <div class="product__slide-container card">
              <div class="card__visual">
                <div class="card__header">
                  <div class="card__tags">
                    <p class="card__tag card__tag--sale">-1&nbsp;%</p>
                    <p class="card__tag card__tag--label">Популярный</p>
                  </div>
                  <div class="card__user">
                    <button class="card__user-button card__user-button--compare">
                      <span class="visually-hidden">Добавить к сравнению.</span>
                    </button>
                    <button class="card__user-button card__user-button--favorites">
                      <span class="visually-hidden">Добавить в избранное.</span>
                    </button>
                  </div>
                </div>
                <div class="card__visual-swiper-container">
                  <div class="card__visual-swiper swiper">
                    <ul class="card__visual-swiper-wrapper swiper-wrapper">
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.webp 1x, ../img/sale/product-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-2-mobile@1x.webp 1x, ../img/sale/product-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.png 1x, ../img/sale/product-2-tablet@2x.png 2x">
                            <img src="../img/sale/product-2-mobile@1x.png" srcset="../img/sale/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.webp 1x, ../img/sale/product-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-2-mobile@1x.webp 1x, ../img/sale/product-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.png 1x, ../img/sale/product-2-tablet@2x.png 2x">
                            <img src="../img/sale/product-2-mobile@1x.png" srcset="../img/sale/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.webp 1x, ../img/sale/product-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-3-mobile@1x.webp 1x, ../img/sale/product-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.png 1x, ../img/sale/product-3-tablet@2x.png 2x">
                            <img src="../img/sale/product-3-mobile@1x.png" srcset="../img/sale/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.webp 1x, ../img/sale/product-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-2-mobile@1x.webp 1x, ../img/sale/product-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.png 1x, ../img/sale/product-2-tablet@2x.png 2x">
                            <img src="../img/sale/product-2-mobile@1x.png" srcset="../img/sale/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.webp 1x, ../img/sale/product-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-3-mobile@1x.webp 1x, ../img/sale/product-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.png 1x, ../img/sale/product-3-tablet@2x.png 2x">
                            <img src="../img/sale/product-3-mobile@1x.png" srcset="../img/sale/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="card__visual-swiper-pagination"></div>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <p class="card__article">Код товара: 2061070369</p>
                <a class="card__title" href="#">MetalTec BS 170 FHE (220 V) ручной ленточнопильный станок для резки металла</a>
                <p class="card__prices">
                  <span class="card__price card__price--new">188620 ₽</span>
                  <span class="card__price card__price--old">191929 ₽</span>
                </p>
                <div class="card__button-container">
                  <a class="card__button button button--light" href="#">Быстрый заказ</a>
                  <button class="card__button button button--light" type="button">В корзину</button>
                </div>
              </div>
            </div>
          </li>
          <li class="product__slide swiper-slide">
            <div class="product__slide-container card">
              <div class="card__visual">
                <div class="card__header">
                  <div class="card__tags">
                    <p class="card__tag card__tag--sale">-33&nbsp;%</p>
                    <p class="card__tag card__tag--label">Популярный</p>
                  </div>
                  <div class="card__user">
                    <button class="card__user-button card__user-button--compare">
                      <span class="visually-hidden">Добавить к сравнению.</span>
                    </button>
                    <button class="card__user-button card__user-button--favorites">
                      <span class="visually-hidden">Добавить в избранное.</span>
                    </button>
                  </div>
                </div>
                <div class="card__visual-swiper-container">
                  <div class="card__visual-swiper swiper">
                    <ul class="card__visual-swiper-wrapper swiper-wrapper">
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.webp 1x, ../img/sale/product-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-3-mobile@1x.webp 1x, ../img/sale/product-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.png 1x, ../img/sale/product-3-tablet@2x.png 2x">
                            <img src="../img/sale/product-3-mobile@1x.png" srcset="../img/sale/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.webp 1x, ../img/sale/product-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-2-mobile@1x.webp 1x, ../img/sale/product-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.png 1x, ../img/sale/product-2-tablet@2x.png 2x">
                            <img src="../img/sale/product-2-mobile@1x.png" srcset="../img/sale/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.webp 1x, ../img/sale/product-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-3-mobile@1x.webp 1x, ../img/sale/product-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.png 1x, ../img/sale/product-3-tablet@2x.png 2x">
                            <img src="../img/sale/product-3-mobile@1x.png" srcset="../img/sale/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.webp 1x, ../img/sale/product-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-2-mobile@1x.webp 1x, ../img/sale/product-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.png 1x, ../img/sale/product-2-tablet@2x.png 2x">
                            <img src="../img/sale/product-2-mobile@1x.png" srcset="../img/sale/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.webp 1x, ../img/sale/product-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-3-mobile@1x.webp 1x, ../img/sale/product-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.png 1x, ../img/sale/product-3-tablet@2x.png 2x">
                            <img src="../img/sale/product-3-mobile@1x.png" srcset="../img/sale/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="card__visual-swiper-pagination"></div>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <p class="card__article">Код товара: 2061070825</p>
                <a class="card__title" href="#">Станок для заточки дисковых пил с напайками WoodTec Sharp Disk 600A</a>
                <p class="card__prices">
                  <span class="card__price card__price--new">215480 ₽</span>
                  <span class="card__price card__price--old">321642 ₽</span>
                </p>
                <div class="card__button-container">
                  <a class="card__button button button--light" href="#">Быстрый заказ</a>
                  <button class="card__button button button--light" type="button">В корзину</button>
                </div>
              </div>
            </div>
          </li>
          <li class="product__slide swiper-slide">
            <div class="product__slide-container card">
              <div class="card__visual">
                <div class="card__header">
                  <div class="card__tags">
                    <p class="card__tag card__tag--sale">-1&nbsp;%</p>
                    <p class="card__tag card__tag--label">Популярный</p>
                  </div>
                  <div class="card__user">
                    <button class="card__user-button card__user-button--compare">
                      <span class="visually-hidden">Добавить к сравнению.</span>
                    </button>
                    <button class="card__user-button card__user-button--favorites">
                      <span class="visually-hidden">Добавить в избранное.</span>
                    </button>
                  </div>
                </div>
                <div class="card__visual-swiper-container">
                  <div class="card__visual-swiper swiper">
                    <ul class="card__visual-swiper-wrapper swiper-wrapper">
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.webp 1x, ../img/sale/product-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-2-mobile@1x.webp 1x, ../img/sale/product-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.png 1x, ../img/sale/product-2-tablet@2x.png 2x">
                            <img src="../img/sale/product-2-mobile@1x.png" srcset="../img/sale/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.webp 1x, ../img/sale/product-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-2-mobile@1x.webp 1x, ../img/sale/product-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.png 1x, ../img/sale/product-2-tablet@2x.png 2x">
                            <img src="../img/sale/product-2-mobile@1x.png" srcset="../img/sale/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.webp 1x, ../img/sale/product-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-3-mobile@1x.webp 1x, ../img/sale/product-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.png 1x, ../img/sale/product-3-tablet@2x.png 2x">
                            <img src="../img/sale/product-3-mobile@1x.png" srcset="../img/sale/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.webp 1x, ../img/sale/product-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-2-mobile@1x.webp 1x, ../img/sale/product-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.png 1x, ../img/sale/product-2-tablet@2x.png 2x">
                            <img src="../img/sale/product-2-mobile@1x.png" srcset="../img/sale/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.webp 1x, ../img/sale/product-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-3-mobile@1x.webp 1x, ../img/sale/product-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.png 1x, ../img/sale/product-3-tablet@2x.png 2x">
                            <img src="../img/sale/product-3-mobile@1x.png" srcset="../img/sale/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="card__visual-swiper-pagination"></div>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <p class="card__article">Код товара: 2061070369</p>
                <a class="card__title" href="#">MetalTec BS 170 FHE (220 V) ручной ленточнопильный станок для резки металла</a>
                <p class="card__prices">
                  <span class="card__price card__price--new">188620 ₽</span>
                  <span class="card__price card__price--old">191929 ₽</span>
                </p>
                <div class="card__button-container">
                  <a class="card__button button button--light" href="#">Быстрый заказ</a>
                  <button class="card__button button button--light" type="button">В корзину</button>
                </div>
              </div>
            </div>
          </li>
          <li class="product__slide swiper-slide">
            <div class="product__slide-container card">
              <div class="card__visual">
                <div class="card__header">
                  <div class="card__tags">
                    <p class="card__tag card__tag--sale">-1&nbsp;%</p>
                    <p class="card__tag card__tag--label">Популярный</p>
                  </div>
                  <div class="card__user">
                    <button class="card__user-button card__user-button--compare">
                      <span class="visually-hidden">Добавить к сравнению.</span>
                    </button>
                    <button class="card__user-button card__user-button--favorites">
                      <span class="visually-hidden">Добавить в избранное.</span>
                    </button>
                  </div>
                </div>
                <div class="card__visual-swiper-container">
                  <div class="card__visual-swiper swiper">
                    <ul class="card__visual-swiper-wrapper swiper-wrapper">
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.webp 1x, ../img/sale/product-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-2-mobile@1x.webp 1x, ../img/sale/product-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.png 1x, ../img/sale/product-2-tablet@2x.png 2x">
                            <img src="../img/sale/product-2-mobile@1x.png" srcset="../img/sale/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.webp 1x, ../img/sale/product-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-2-mobile@1x.webp 1x, ../img/sale/product-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.png 1x, ../img/sale/product-2-tablet@2x.png 2x">
                            <img src="../img/sale/product-2-mobile@1x.png" srcset="../img/sale/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.webp 1x, ../img/sale/product-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-3-mobile@1x.webp 1x, ../img/sale/product-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.png 1x, ../img/sale/product-3-tablet@2x.png 2x">
                            <img src="../img/sale/product-3-mobile@1x.png" srcset="../img/sale/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.webp 1x, ../img/sale/product-2-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-2-mobile@1x.webp 1x, ../img/sale/product-2-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-2-tablet@1x.png 1x, ../img/sale/product-2-tablet@2x.png 2x">
                            <img src="../img/sale/product-2-mobile@1x.png" srcset="../img/sale/product-2-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                      <li class="card__visual-slide swiper-slide">
                        <div class="card__visual-slide-container">
                          <picture>
                            <source width="479" height="395" type="image/webp" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.webp 1x, ../img/sale/product-3-tablet@2x.webp 2x">
                            <source width="299" height="209" type="image/webp" srcset="../img/sale/product-3-mobile@1x.webp 1x, ../img/sale/product-3-mobile@2x.webp 2x">
                            <source width="479" height="395" type="image/png" media="(min-width: 768px)" srcset="../img/sale/product-3-tablet@1x.png 1x, ../img/sale/product-3-tablet@2x.png 2x">
                            <img src="../img/sale/product-3-mobile@1x.png" srcset="../img/sale/product-3-mobile@2x.png 2x" width="299" height="209" alt="Товар 1.">
                          </picture>
                        </div>
                      </li>
                    </ul>
                    <div class="card__visual-swiper-pagination"></div>
                  </div>
                </div>
              </div>
              <div class="card__content">
                <p class="card__article">Код товара: 2061070369</p>
                <a class="card__title" href="#">MetalTec BS 170 FHE (220 V) ручной ленточнопильный станок для резки металла</a>
                <p class="card__prices">
                  <span class="card__price card__price--new">188620 ₽</span>
                  <span class="card__price card__price--old">191929 ₽</span>
                </p>
                <div class="card__button-container">
                  <a class="card__button button button--light" href="#">Быстрый заказ</a>
                  <button class="card__button button button--light" type="button">В корзину</button>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="product__swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
