<section class="service">
  <div class="container">
    <h2 class="service__title">Сервис и поддержка</h2>
    <div class="service__swiper-container">
      <div class="service__swiper" data-swiper="pagination">
        <ul class="service__swiper-wrapper">
          <li class="service__slide">
            <a class="service__link" href="#">
              <div class="service__img">
                <picture>
                  <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/guarantee-tablet@1x.webp 1x, ../img/service/guarantee-tablet@2x.webp 2x">
                  <source width="313" height="327" type="image/webp" srcset="../img/service/guarantee-mobile@1x.webp 1x, ../img/service/guarantee-mobile@2x.webp 2x">
                  <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/guarantee-tablet@1x.jpg 1x, ../img/service/guarantee-tablet@2x.jpg 2x">
                  <img src="../img/service/guarantee-mobile@1x.jpg" srcset="../img/service/guarantee-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
                </picture>
              </div>
              <h3 class="service__subtitle">Гарантийный и послегарантийный ремонт станков</h3>
            </a>
          </li>
          <li class="service__slide">
            <a class="service__link" href="#">
              <div class="service__img">
                <picture>
                  <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/program-tablet@1x.webp 1x, ../img/service/program-tablet@2x.webp 2x">
                  <source width="313" height="327" type="image/webp" srcset="../img/service/program-mobile@1x.webp 1x, ../img/service/program-mobile@2x.webp 2x">
                  <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/program-tablet@1x.jpg 1x, ../img/service/program-tablet@2x.jpg 2x">
                  <img src="../img/service/program-mobile@1x.jpg" srcset="../img/service/program-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
                </picture>
              </div>
              <h3 class="service__subtitle">Написание программ для изготовления деталей</h3>
            </a>
          </li>
          <li class="service__slide">
            <a class="service__link" href="#">
              <div class="service__img">
                <picture>
                  <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/installation-tablet@1x.webp 1x, ../img/service/installation-tablet@2x.webp 2x">
                  <source width="313" height="327" type="image/webp" srcset="../img/service/installation-mobile@1x.webp 1x, ../img/service/installation-mobile@2x.webp 2x">
                  <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/installation-tablet@1x.jpg 1x, ../img/service/installation-tablet@2x.jpg 2x">
                  <img src="../img/service/installation-mobile@1x.jpg" srcset="../img/service/installation-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
                </picture>
              </div>
              <h3 class="service__subtitle">Монтажные и пусконаладочные <br>работы станков ЧПУ</h3>
            </a>
          </li>
          <li class="service__slide">
            <a class="service__link" href="#">
              <div class="service__img">
                <picture>
                  <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/briefing-tablet@1x.webp 1x, ../img/service/briefing-tablet@2x.webp 2x">
                  <source width="313" height="327" type="image/webp" srcset="../img/service/briefing-mobile@1x.webp 1x, ../img/service/briefing-mobile@2x.webp 2x">
                  <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/briefing-tablet@1x.jpg 1x, ../img/service/briefing-tablet@2x.jpg 2x">
                  <img src="../img/service/briefing-mobile@1x.jpg" srcset="../img/service/briefing-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
                </picture>
              </div>
              <h3 class="service__subtitle">Инструктаж <br>оператора</h3>
            </a>
          </li>
          <li class="service__slide">
            <a class="service__link" href="#">
              <div class="service__img">
                <picture>
                  <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/diagnostic-tablet@1x.webp 1x, ../img/service/diagnostic-tablet@2x.webp 2x">
                  <source width="313" height="327" type="image/webp" srcset="../img/service/diagnostic-mobile@1x.webp 1x, ../img/service/diagnostic-mobile@2x.webp 2x">
                  <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/diagnostic-tablet@1x.jpg 1x, ../img/service/diagnostic-tablet@2x.jpg 2x">
                  <img src="../img/service/diagnostic-mobile@1x.jpg" srcset="../img/service/diagnostic-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
                </picture>
              </div>
              <h3 class="service__subtitle">Диагностика оборудования</h3>
            </a>
          </li>
          <li class="service__slide">
            <a class="service__link" href="#">
              <div class="service__img">
                <picture>
                  <source width="313" height="327" type="image/webp" srcset="../img/service/sharpening-tablet@1x.webp 1x, ../img/service/sharpening-tablet@2x.webp 2x">
                  <img src="../img/service/sharpening-tablet@1x.jpg" srcset="../img/service/sharpening-tablet@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
                </picture>
              </div>
              <h3 class="service__subtitle">Заточка инструмента</h3>
            </a>
          </li>
        </ul>
        <div class="service__swiper-pagination"></div>
      </div>
    </div>
    <a class="service__link-more button" href="#">Смотреть все услуги</a>
  </div>
</section>
