<section class="service-others">
  <div class="container">
    <div class="service-others__wrapper">
      <h2 class="service-others__title">Другие услуги</h2>
      <ul class="service-others__list">
        <li class="service-others__item">
          <div class="service-others__card accordion">
            <div class="service-others__card-img">
              <picture>
                <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="img/service/china-tablet@1x.webp 1x, img/service/china-tablet@2x.webp 2x">
                <source width="313" height="327" type="image/webp" srcset="img/service/china-mobile@1x.webp 1x, img/service/china-mobile@2x.webp 2x">
                <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="img/service/china-tablet@1x.jpg 1x, img/service/china-tablet@2x.jpg 2x">
                <img src="img/service/china-mobile@1x.jpg" srcset="img/service/china-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
              </picture>
            </div>
            <h3 class="service-others__card-subtitle">
              <button class="service-others__card-subtitle-button accordion-button" type="button">Поставки оборудования из&nbsp;Китая</button>
            </h3>
            <div class="service-others__card-details accordion-content">
              <div class="service-others__card-content">
                <p>Прямая поставка оборудования из&nbsp;Китая предоставляет Вам возможность купить оборудование напрямую у&nbsp;производителя, не&nbsp;становясь участником ВЭД. Расчеты в&nbsp;рублях по&nbsp;договору поставки.</p>
              </div>
              <a class="service-others__card-link" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="service-others__item">
          <div class="service-others__card accordion">
            <div class="service-others__card-img">
              <picture>
                <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="img/service/credit-tablet@1x.webp 1x, img/service/credit-tablet@2x.webp 2x">
                <source width="313" height="327" type="image/webp" srcset="img/service/credit-mobile@1x.webp 1x, img/service/credit-mobile@2x.webp 2x">
                <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="img/service/credit-tablet@1x.jpg 1x, img/service/credit-tablet@2x.jpg 2x">
                <img src="img/service/credit-mobile@1x.jpg" srcset="img/service/credit-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
              </picture>
            </div>
            <h3 class="service-others__card-subtitle">
              <button class="service-others__card-subtitle-button accordion-button" type="button">Лизинг и Кредит</button>
            </h3>
            <div class="service-others__card-details accordion-content">
              <div class="service-others__card-content">
                <p>Мы&nbsp;работаем с&nbsp;ведущими лизинговыми компаниями в&nbsp;регионе.Также специалисты компании готовы проконсультировать Вас.</p>
              </div>
              <a class="service-others__card-link" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="service-others__item">
          <div class="service-others__card accordion">
            <div class="service-others__card-img">
              <picture>
                <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="img/service/installation-tablet@1x.webp 1x, img/service/installation-tablet@2x.webp 2x">
                <source width="313" height="327" type="image/webp" srcset="img/service/installation-mobile@1x.webp 1x, img/service/installation-mobile@2x.webp 2x">
                <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="img/service/installation-tablet@1x.jpg 1x, img/service/installation-tablet@2x.jpg 2x">
                <img src="img/service/installation-mobile@1x.jpg" srcset="img/service/installation-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
              </picture>
            </div>
            <h3 class="service-others__card-subtitle">
              <button class="service-others__card-subtitle-button accordion-button" type="button">Монтажные и пусконаладочные <br>работы станков ЧПУ</button>
            </h3>
            <div class="service-others__card-details accordion-content">
              <div class="service-others__card-content">
                <p>Современное электрооборудование отличается высокой сложностью и&nbsp;точностью работы. Оно может значительно облегчить, ускорить процесс производства. Но&nbsp;для корректной работы станочного прибора с&nbsp;числовым программным управлением его необходимо правильно настроить.</p>
              </div>
              <a class="service-others__card-link" href="#">Подробнее</a>
            </div>
          </div>
        </li>
      </ul>
      <a class="service-others__link-all button" href="#">Все услуги</a>
    </div>
  </div>
</section>
