<section class="subcatalog-list">
  <div class="container">
    <h1 class="subcatalog-list__title">Токарные станки<span class="subcatalog-list__title-accent">(11)</span></h1>
    <ol class="subcatalog-list__breadcrumbs breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link" href="index.html">Токарные станки</span>
      </li>
    </ol>
    <div class="subcatalog-list__swiper-container">
      <div class="subcatalog-list__swiper" data-swiper="pagination">
        <ul class="subcatalog-list__swiper-wrapper">
          <li class="subcatalog-list__slide">
            <a class="subcatalog-list__card" href="#">
              <div class="subcatalog-list__img">
                <picture>
                  <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/subcatalog/lathe/lathe-1-tablet@1x.webp 1x, ../img/subcatalog/lathe/lathe-1-tablet@2x.webp 2x">
                  <source width="217" height="179" type="image/webp" srcset="../img/subcatalog/lathe/lathe-1-mobile@1x.webp 1x, ../img/subcatalog/lathe/lathe-1-mobile@2x.webp 2x">
                  <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/subcatalog/lathe/lathe-1-tablet@1x.png 1x, ../img/subcatalog/lathe/lathe-1-tablet@2x.png 2x">
                  <img src="../img/subcatalog/lathe/lathe-1-mobile@1x.png" srcset="../img/subcatalog/lathe/lathe-1-mobile@2x.png 2x" width="217" height="179" alt="Товар 1.">
                </picture>
              </div>
              <h3 class="subcatalog-list__subtitle">Токарные станки</h3>
            </a>
          </li>
          <li class="subcatalog-list__slide">
            <a class="subcatalog-list__card" href="#">
              <div class="subcatalog-list__img">
                <picture>
                  <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/subcatalog/lathe/lathe-2-tablet@1x.webp 1x, ../img/subcatalog/lathe/lathe-2-tablet@2x.webp 2x">
                  <source width="217" height="179" type="image/webp" srcset="../img/subcatalog/lathe/lathe-2-mobile@1x.webp 1x, ../img/subcatalog/lathe/lathe-2-mobile@2x.webp 2x">
                  <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/subcatalog/lathe/lathe-2-tablet@1x.png 1x, ../img/subcatalog/lathe/lathe-2-tablet@2x.png 2x">
                  <img src="../img/subcatalog/lathe/lathe-2-mobile@1x.png" srcset="../img/subcatalog/lathe/lathe-2-mobile@2x.png 2x" width="217" height="179" alt="Товар 2.">
                </picture>
              </div>
              <h3 class="subcatalog-list__subtitle">Токарные станки по&nbsp;дереву</h3>
            </a>
          </li>
          <li class="subcatalog-list__slide">
            <a class="subcatalog-list__card" href="#">
              <div class="subcatalog-list__img">
                <picture>
                  <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/subcatalog/lathe/lathe-3-tablet@1x.webp 1x, ../img/subcatalog/lathe/lathe-3-tablet@2x.webp 2x">
                  <source width="217" height="179" type="image/webp" srcset="../img/subcatalog/lathe/lathe-3-mobile@1x.webp 1x, ../img/subcatalog/lathe/lathe-3-mobile@2x.webp 2x">
                  <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/subcatalog/lathe/lathe-3-tablet@1x.png 1x, ../img/subcatalog/lathe/lathe-3-tablet@2x.png 2x">
                  <img src="../img/subcatalog/lathe/lathe-3-mobile@1x.png" srcset="../img/subcatalog/lathe/lathe-3-mobile@2x.png 2x" width="217" height="179" alt="Товар 3.">
                </picture>
              </div>
              <h3 class="subcatalog-list__subtitle">Токарные станки по&nbsp;металлу</h3>
            </a>
          </li>
          <li class="subcatalog-list__slide">
            <a class="subcatalog-list__card" href="#">
              <div class="subcatalog-list__img">
                <picture>
                  <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/subcatalog/lathe/lathe-4-tablet@1x.webp 1x, ../img/subcatalog/lathe/lathe-4-tablet@2x.webp 2x">
                  <source width="217" height="179" type="image/webp" srcset="../img/subcatalog/lathe/lathe-4-mobile@1x.webp 1x, ../img/subcatalog/lathe/lathe-4-mobile@2x.webp 2x">
                  <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/subcatalog/lathe/lathe-4-tablet@1x.png 1x, ../img/subcatalog/lathe/lathe-4-tablet@2x.png 2x">
                  <img src="../img/subcatalog/lathe/lathe-4-mobile@1x.png" srcset="../img/subcatalog/lathe/lathe-4-mobile@2x.png 2x" width="217" height="179" alt="Товар 4.">
                </picture>
              </div>
              <h3 class="subcatalog-list__subtitle">Токарные станки с&nbsp;ЧПУ</h3>
            </a>
          </li>
          <li class="subcatalog-list__slide subcatalog-list__slide--additional">
            <a class="subcatalog-list__card" href="#">
              <div class="subcatalog-list__img">
                <picture>
                  <source width="273" height="247" type="image/webp" media="(min-width: 768px)" srcset="../img/subcatalog/lathe/lathe-1-tablet@1x.webp 1x, ../img/subcatalog/lathe/lathe-1-tablet@2x.webp 2x">
                  <source width="217" height="179" type="image/webp" srcset="../img/subcatalog/lathe/lathe-1-mobile@1x.webp 1x, ../img/subcatalog/lathe/lathe-1-mobile@2x.webp 2x">
                  <source width="273" height="247" type="image/png" media="(min-width: 768px)" srcset="../img/subcatalog/lathe/lathe-1-tablet@1x.png 1x, ../img/subcatalog/lathe/lathe-1-tablet@2x.png 2x">
                  <img src="../img/subcatalog/lathe/lathe-1-mobile@1x.png" srcset="../img/subcatalog/lathe/lathe-1-mobile@2x.png 2x" width="217" height="179" alt="Товар 1.">
                </picture>
              </div>
              <h3 class="subcatalog-list__subtitle">Токарные станки</h3>
            </a>
          </li>
        </ul>
        <div class="subcatalog-list__swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
