<section class="service">
  <div class="container">
    <h2 class="service__title">Сервис и поддержка</h2>
    <div class="service__swiper-container">
      <div class="service__swiper" data-swiper="pagination">
        <ul class="service__swiper-wrapper">
          <li class="service__slide">
            <div class="service__card service-card">
              <div class="service-card__img">
                <picture>
                  <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/guarantee-tablet@1x.webp 1x, ../img/service/guarantee-tablet@2x.webp 2x">
                  <source width="313" height="327" type="image/webp" srcset="../img/service/guarantee-mobile@1x.webp 1x, ../img/service/guarantee-mobile@2x.webp 2x">
                  <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/guarantee-tablet@1x.jpg 1x, ../img/service/guarantee-tablet@2x.jpg 2x">
                  <img src="../img/service/guarantee-mobile@1x.jpg" srcset="../img/service/guarantee-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
                </picture>
              </div>
              <button class="service-card__subtitle accordion-button" type="button">Гарантийный и послегарантийный ремонт станков</button>
              <div class="service-card__details accordion-content">
                <div class="service-card__content">
                  <p>Своевременный ремонт позволяет минимизировать простой, увеличить срок службы станков и&nbsp;обеспечить эффективность производства.</p>
                </div>
                <a class="service-card__link" href="#">Подробнее</a>
              </div>
            </div>
          </li>
          <li class="service__slide">
            <div class="service__card service-card">
              <div class="service-card__img">
                <picture>
                  <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/program-tablet@1x.webp 1x, ../img/service/program-tablet@2x.webp 2x">
                  <source width="313" height="327" type="image/webp" srcset="../img/service/program-mobile@1x.webp 1x, ../img/service/program-mobile@2x.webp 2x">
                  <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/program-tablet@1x.jpg 1x, ../img/service/program-tablet@2x.jpg 2x">
                  <img src="../img/service/program-mobile@1x.jpg" srcset="../img/service/program-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
                </picture>
              </div>
              <button class="service-card__subtitle accordion-button" type="button">Написание программ для изготовления деталей</button>
              <div class="service-card__details accordion-content">
                <div class="service-card__content">
                  <p>Кроме разработки САПР и&nbsp;обучения специалистов предприятий работе в&nbsp;ней, специалисты ООО «НЕО-ЛИД» так&nbsp;же оказывают услуги по&nbsp;написанию управляющих программ «под ключ».</p>
                </div>
                <a class="service-card__link" href="#">Подробнее</a>
              </div>
            </div>
          </li>
          <li class="service__slide">
            <div class="service__card service-card">
              <div class="service-card__img">
                <picture>
                  <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/installation-tablet@1x.webp 1x, ../img/service/installation-tablet@2x.webp 2x">
                  <source width="313" height="327" type="image/webp" srcset="../img/service/installation-mobile@1x.webp 1x, ../img/service/installation-mobile@2x.webp 2x">
                  <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/installation-tablet@1x.jpg 1x, ../img/service/installation-tablet@2x.jpg 2x">
                  <img src="../img/service/installation-mobile@1x.jpg" srcset="../img/service/installation-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
                </picture>
              </div>
              <button class="service-card__subtitle accordion-button" type="button">Монтажные и пусконаладочные <br>работы станков ЧПУ</button>
              <div class="service-card__details accordion-content">
                <div class="service-card__content">
                  <p>Современное электрооборудование отличается высокой сложностью и&nbsp;точностью работы. Оно может значительно облегчить, ускорить процесс производства. Но&nbsp;для корректной работы станочного прибора с&nbsp;числовым программным управлением его необходимо правильно настроить.</p>
                </div>
                <a class="service-card__link" href="#">Подробнее</a>
              </div>
            </div>
          </li>
          <li class="service__slide">
            <div class="service__card service-card">
              <div class="service-card__img">
                <picture>
                  <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/briefing-tablet@1x.webp 1x, ../img/service/briefing-tablet@2x.webp 2x">
                  <source width="313" height="327" type="image/webp" srcset="../img/service/briefing-mobile@1x.webp 1x, ../img/service/briefing-mobile@2x.webp 2x">
                  <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/briefing-tablet@1x.jpg 1x, ../img/service/briefing-tablet@2x.jpg 2x">
                  <img src="../img/service/briefing-mobile@1x.jpg" srcset="../img/service/briefing-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
                </picture>
              </div>
              <button class="service-card__subtitle accordion-button" type="button">Инструктаж <br>оператора</button>
              <div class="service-card__details accordion-content">
                <div class="service-card__content">
                  <p>Мы&nbsp;готовы провести обучение технического персонала вопросам наладки, эксплуатации и&nbsp;обслуживания оборудования.</p>
                </div>
                <a class="service-card__link" href="#">Подробнее</a>
              </div>
            </div>
          </li>
          <li class="service__slide">
            <div class="service__card service-card">
              <div class="service-card__img">
                <picture>
                  <source width="440" height="480" type="image/webp" media="(min-width: 1366px)" srcset="../img/service/diagnostic-tablet@1x.webp 1x, ../img/service/diagnostic-tablet@2x.webp 2x">
                  <source width="313" height="327" type="image/webp" srcset="../img/service/diagnostic-mobile@1x.webp 1x, ../img/service/diagnostic-mobile@2x.webp 2x">
                  <source width="440" height="480" type="image/jpg" media="(min-width: 1366px)" srcset="../img/service/diagnostic-tablet@1x.jpg 1x, ../img/service/diagnostic-tablet@2x.jpg 2x">
                  <img src="../img/service/diagnostic-mobile@1x.jpg" srcset="../img/service/diagnostic-mobile@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
                </picture>
              </div>
              <button class="service-card__subtitle accordion-button" type="button">Диагностика оборудования</button>
              <div class="service-card__details accordion-content">
                <div class="service-card__content">
                  <p>Диагностирование&nbsp;- один из&nbsp;элементов системы технического обслуживания. Основная его цель&nbsp;- достижение максимальной эффективности эксплуатации станков&nbsp;и, в&nbsp;частности, сведение до&nbsp;минимума затрат на&nbsp;их&nbsp;обслуживание.</p>
                </div>
                <a class="service-card__link" href="#">Подробнее</a>
              </div>
            </div>
          </li>
          <li class="service__slide">
            <div class="service__card service-card">
              <div class="service-card__img">
                <picture>
                  <source width="313" height="327" type="image/webp" srcset="../img/service/sharpening-tablet@1x.webp 1x, ../img/service/sharpening-tablet@2x.webp 2x">
                  <img src="../img/service/sharpening-tablet@1x.jpg" srcset="../img/service/sharpening-tablet@2x.jpg 2x" width="313" height="327" alt="Сервис 1.">
                </picture>
              </div>
              <button class="service-card__subtitle accordion-button" type="button">Заточка инструмента</button>
              <div class="service-card__details accordion-content">
                <div class="service-card__content">
                  <p>Мы&nbsp;предоставляем такой широчайший формат услуг по&nbsp;заточке пил, как: ЧПУ заточка дисковых пил, заточка насадных фрез, заточка концевых фраз, присадочных сверл, строгальных ножей, заточка цепей для лесопильного оборудования, шлифовка ножей и&nbsp;заточка гильотин.</p>
                </div>
                <a class="service-card__link" href="#">Подробнее</a>
              </div>
            </div>
          </li>
        </ul>
        <div class="service__swiper-pagination"></div>
      </div>
    </div>
    <a class="service__link-more button" href="#">Смотреть&nbsp;все услуги</a>
  </div>
</section>
