<section class="video">
  <div class="container">
    <div class="video__header">
      <h2 class="video__title">Видеообзоры <span class="video__title-additional">станков</span></h2>
      <a class="video__link-more" href="#">Смотреть&nbsp;все</a>
    </div>
    <div class="video__swiper-container">
      <div class="video__swiper" data-swiper="pagination">
        <ul class="video__swiper-wrapper">
          <li class="video__slide">
            <div class="video__player">
              <div class="video__img">
                <picture>
                  <source width="459" height="414" type="image/webp" media="(min-width: 1366px)" srcset="img/video/video-1-tablet@1x.webp 1x, img/video/video-1-tablet@2x.webp 2x">
                  <source width="306" height="277" type="image/webp" srcset="img/video/video-1-mobile@1x.webp 1x, img/video/video-1-mobile@2x.webp 2x">
                  <source width="459" height="414" type="image/jpg" media="(min-width: 1366px)" srcset="img/video/video-1-tablet@1x.jpg 1x, img/video/video-1-tablet@2x.jpg 2x">
                  <img src="img/video/video-1-mobile@1x.jpg" srcset="img/video/video-1-mobile@2x.jpg 2x" width="306" height="277" alt="Сервис 1.">
                </picture>
              </div>
              <div class="video__iframe-wrap hidden"></div>
              <button class="video__button-play" type="button">
                <span class="visually-hidden">Начать воспроизведение видео.</span>
              </button>
            </div>
          </li>
          <li class="video__slide">
            <div class="video__player">
              <div class="video__img">
                <picture>
                  <source width="459" height="414" type="image/webp" media="(min-width: 1366px)" srcset="img/video/video-2-tablet@1x.webp 1x, img/video/video-2-tablet@2x.webp 2x">
                  <source width="306" height="277" type="image/webp" srcset="img/video/video-2-mobile@1x.webp 1x, img/video/video-2-mobile@2x.webp 2x">
                  <source width="459" height="414" type="image/jpg" media="(min-width: 1366px)" srcset="img/video/video-2-tablet@1x.jpg 1x, img/video/video-2-tablet@2x.jpg 2x">
                  <img src="img/video/video-2-mobile@1x.jpg" srcset="img/video/video-2-mobile@2x.jpg 2x" width="306" height="277" alt="Сервис 1.">
                </picture>
              </div>
              <div class="video__iframe-wrap hidden"></div>
              <button class="video__button-play" type="button">
                <span class="visually-hidden">Начать воспроизведение видео.</span>
              </button>
            </div>
          </li>
          <li class="video__slide">
            <div class="video__player">
              <div class="video__img">
                <picture>
                  <source width="459" height="414" type="image/webp" media="(min-width: 1366px)" srcset="img/video/video-3-tablet@1x.webp 1x, img/video/video-3-tablet@2x.webp 2x">
                  <source width="306" height="277" type="image/webp" srcset="img/video/video-3-mobile@1x.webp 1x, img/video/video-3-mobile@2x.webp 2x">
                  <source width="459" height="414" type="image/jpg" media="(min-width: 1366px)" srcset="img/video/video-3-tablet@1x.jpg 1x, img/video/video-3-tablet@2x.jpg 2x">
                  <img src="img/video/video-3-mobile@1x.jpg" srcset="img/video/video-3-mobile@2x.jpg 2x" width="306" height="277" alt="Сервис 1.">
                </picture>
              </div>
              <div class="video__iframe-wrap hidden"></div>
              <button class="video__button-play" type="button">
                <span class="visually-hidden">Начать воспроизведение видео.</span>
              </button>
            </div>
          </li>
        </ul>
        <div class="video__swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
