@use "mixins" as *;

// index

.index {
  &__sale {
    margin: 21px 0 2px;

    @include vp-1024 {
      margin: 59px 0;
    }
  }

  &__catalog-list {
    margin: 0 0 15px;

    @include vp-1024 {
      margin: 0 0 58px;
    }
  }

  &__service {
    margin: 0 0 42px;

    @include vp-1024 {
      margin: 0 0 39px;
    }
  }

  &__service {
    margin: 0 0 45px;

    @include vp-1024 {
      margin: 0 0 37px;
    }
  }

  &__popular {
    margin: 0 0 12px;

    @include vp-1024 {
      margin: 0 0 32px;
    }
  }

  &__new-products {
    margin: 0 0 13px;

    @include vp-1024 {
      margin: 0 0 30px;
    }
  }

  &__reviews {
    margin: 0 0 3px;

    @include vp-1024 {
      margin: 0 0 18px;
    }
  }

  &__news {
    margin: 0 0 13px;

    @include vp-1024 {
      margin: 0 0 15px;
    }
  }

  &__video {
    margin: 0 0 1px;

    @include vp-1024 {
      margin: 0 0 20px;
    }
  }

  &__brands {
    margin: 0 0 2px;

    @include vp-768 {
      margin: 0 0 20px;
    }

    @include vp-1024 {
      margin: 0 0 81px;
    }
  }

  &__company {
    margin: 0 0 30px;

    @include vp-1024 {
      margin: 0 0 60px;
    }
  }

  &__callback-form {
    margin: 0 0 40px;

    @include vp-1024 {
      margin: 0 0 80px;
    }
  }
}

// categories

.categories {
  &__categories-list {
    margin: 15px 0;

    @include vp-1024 {
      margin: -7px 0 40px;
    }
  }

  &__popular {
    margin: 0 0 35px;

    @include vp-1024 {
      margin: 0 0 30px;
    }
  }

  &__latest {
    margin: 0 0 35px;

    @include vp-1024 {
      margin: 0 0 60px;
    }
  }

  &__callback-form {
    margin: 0 0 40px;

    @include vp-1024 {
      margin: 0 0 56px;
    }
  }
}

// catalog

.catalog {
  &__subcatalog-list {
    margin: 5px 0 13px;

    @include vp-1024 {
      margin: -6px 0 20px;
    }
  }

  &__catalog-filters {
    margin: 0 0 3px;

    @include vp-1024 {
      margin: 0 0 41px;
    }
  }

  &__faq {
    margin: 0 0 12px;

    @include vp-1024 {
      margin: 0 0 71px;
    }
  }

  &__reviews {
    margin: 0 0 5px;

    @include vp-1024 {
      margin: 0 0 19px;
    }
  }

  &__news {
    margin: 0 0 10px;

    @include vp-1024 {
      margin: 0 0 33px;
    }
  }

  &__brands {
    margin: 0 0 10px;

    @include vp-1024 {
      margin: 0 0 72px;
    }
  }

  &__latest {
    margin: 0 0 18px;

    @include vp-1024 {
      margin: 0 0 61px;
    }
  }

  &__callback-form {
    margin: 0 0 34px;

    @include vp-1024 {
      margin: 0 0 79px;
    }
  }
}

// product-page

.product-page {
  &__details {
    margin: 15px 0 31px;

    @include vp-1024 {
      margin: -6px 0 80px;
    }
  }

  &__callback-form-with-file {
    margin: 0 0 39px;

    @include vp-1024 {
      margin: 0 0 80px;
    }
  }

  &__service {
    margin: 0 0 30px;

    @include vp-1024 {
      margin: 0 0 87px;
    }
  }

  &__additional-equipment {
    margin: 0 0 35px;

    @include vp-1024 {
      margin: 0 0 79px;
    }
  }

  &__analogues {
    margin: 0 0 30px;

    @include vp-1024 {
      margin: 0 0 80px;
    }
  }

  &__latest {
    margin: 0 0 56px;

    @include vp-1024 {
      margin: 0 0 80px;
    }
  }

  &__callback-form {
    margin: 0 0 40px;

    @include vp-1024 {
      margin: 0 0 80px;
    }
  }
}

// pay-delivery

.pay-delivery-page {
  &__pay-delivery {
    margin: 15px 0 20px;

    @include vp-1024 {
      margin: 0 0 58px;
    }
  }

  &__pay {
    margin: 0 0 17px;

    @include vp-1024 {
      margin: 0 0 40px;
    }
  }

  &__delivery {
    margin: 0 0 25px;

    @include vp-1024 {
      margin: 0 0 63px;
    }
  }

  &__callback-form {
    margin: 0 0 40px;

    @include vp-1024 {
      margin: 0 0 80px;
    }
  }
}

// contacts

.contacts-page {
  &__contacts {
    margin: 15px 0 20px;

    @include vp-1024 {
      margin: 0 0 18px;
    }
  }

  &__company-details {
    margin: 0 0 17px;

    @include vp-1024 {
      margin: 0 0 60px;
    }
  }

  &__callback-form {
    margin: 0 0 40px;

    @include vp-1024 {
      margin: 0 0 80px;
    }
  }
}

// account

.account-page {
  &__account {
    margin: 15px 0 30px;

    @include vp-1024 {
      margin: -8px 0 40px;
    }
  }

  &__latest {
    margin: 0 0 35px;

    @include vp-1024 {
      margin: 0 0 80px;
    }
  }

  &__callback-form {
    margin: 0 0 40px;

    @include vp-1024 {
      margin: 0 0 80px;
    }
  }
}

// favorites

.favorites-page {
  &__favorites {
    margin: 15px 0 20px;

    @include vp-1024 {
      margin: -8px 0 40px;
    }
  }

  &__reviews {
    margin: 0 0 10px;

    @include vp-1024 {
      margin: 0 0 18px;
    }
  }

  &__news {
    margin: 0 0 13px;

    @include vp-1024 {
      margin: 0 0 15px;
    }
  }

  &__brands {
    margin: 0 0 10px;

    @include vp-768 {
      margin: 0 0 20px;
    }

    @include vp-1024 {
      margin: 0 0 60px;
    }
  }

  &__latest {
    margin: 0 0 35px;

    @include vp-1024 {
      margin: 0 0 60px;
    }
  }

  &__callback-form {
    margin: 0 0 40px;

    @include vp-1024 {
      margin: 0 0 80px;
    }
  }
}

// compare

.compare-page {
  &__compare {
    margin: 15px 0 20px;

    @include vp-1024 {
      margin: -6px 0 40px;
    }
  }

  &__reviews {
    margin: 0 0 10px;

    @include vp-1024 {
      margin: 0 0 18px;
    }
  }

  &__news {
    margin: 0 0 13px;

    @include vp-1024 {
      margin: 0 0 15px;
    }
  }

  &__brands {
    margin: 0 0 10px;

    @include vp-768 {
      margin: 0 0 20px;
    }

    @include vp-1024 {
      margin: 0 0 60px;
    }
  }

  &__latest {
    margin: 0 0 35px;

    @include vp-1024 {
      margin: 0 0 60px;
    }
  }

  &__callback-form {
    margin: 0 0 40px;

    @include vp-1024 {
      margin: 0 0 80px;
    }
  }
}

// cart

.cart-page {
  &__cart {
    margin: 15px 0 21px;

    @include vp-1024 {
      margin: -6px 0 51px;
    }
  }

  &__latest {
    margin: 0 0 35px;

    @include vp-1024 {
      margin: 0 0 70px;
    }
  }
}

// checkout

.checkout-page {
  &__checkout {
    margin: 15px 0 30px;

    @include vp-1024 {
      margin: -6px 0 51px;
    }
  }

  &__latest {
    margin: 0 0 35px;

    @include vp-1024 {
      margin: 0 0 70px;
    }
  }
}

// order-complete

.order-complete-page {
  &__order-complete {
    margin: 21px 0 60px;

    @include vp-1024 {
      margin: 38px 0 80px;
    }
  }
}

// about

.about-page {
  &__about {
    margin: 7px 0 19px;

    @include vp-1024 {
      margin: 0 0 59px;
    }
  }

  &__gallery {
    margin: 0 0 30px;

    @include vp-1024 {
      margin: 38px 0 23px;
    }
  }

  &__latest {
    margin: 0 0 22px;

    @include vp-1024 {
      margin: 0 0 61px;
    }
  }

  &__callback-form {
    margin: 0 0 34px;

    @include vp-1024 {
      margin: 0 0 60px;
    }
  }
}

// 404

.page-404 {
  &__404 {
    margin: 21px 0 55px;

    @include vp-1024 {
      margin: 38px 0 86px;
    }
  }
}

// services-used

.services-used-page {
  &__services-used {
    margin: 15px 0 26px;

    @include vp-1024 {
      margin: 0 0 41px;
    }
  }

  &__latest {
    margin: 0 0 13px;

    @include vp-1024 {
      margin: 0 0 60px;
    }
  }

  &__callback-form-with-file {
    margin: 0 0 34px;

    @include vp-1024 {
      margin: 0 0 30px;
    }
  }
}

// services-used

.services-used-page {
  &__services-used {
    margin: 15px 0 26px;

    @include vp-1024 {
      margin: 0 0 41px;
    }
  }

  &__callback-form-with-file {
    margin: 0 0 34px;

    @include vp-1024 {
      margin: 0 0 50px;
    }
  }

  &__service-others {
    margin: 0 0 34px;

    @include vp-1024 {
      margin: 0 0 40px;
    }
  }

  &__latest {
    margin: 0 0 13px;

    @include vp-1024 {
      margin: 0 0 20px;
    }
  }
}
