:root {
  // base
  --font-family: "TT Hoves", "Arial", sans-serif;
  --content-width: 1640px;
  --container-offset-small: 10px;
  --container-offset-mobile: 30px;
  --container-offset-tablet: 40px;
  --container-offset-desktop: 60px;

  // colors
  --transparent: rgba(255, 255, 255, 0);
  --white: #ffffff;
  --black: #000000;
  --text-middle: #404040;
  --grey-extra-light: #fcfcfc;
  --grey-light: #f8f8f8;
  --grey: #d9d9d9;
  --grey-middle: #cacaca;
  --grey-dark: #676767;
  --grey-extra-dark: #4e4e4e;
  --bg-primary: #0a3f61;
  --bg-light: #f0f0f0;
  --accent: #ce1f18;
  --accent-light: #eebf11;
  --accent-dark: #055a90;
  --accent-dark-opacity: rgb(5, 90, 144, 0.7);
  --overlay: rgba(217, 217, 217, 0.9);
}

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-390: 390px;
$vp-500: 500px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1366: 1366px;
$vp-1640: 1640px;
$vp-1920: 1920px;
